{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://production.plaid.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.plaid.com"
    }
  ],
  "info": {
    "title": "The Plaid API",
    "version": "2020-09-14_1.666.2",
    "description": "The Plaid REST API. Please see https://plaid.com/docs/api for more details.",
    "contact": {
      "name": "Plaid Developer Team",
      "url": "https://plaid.com"
    },
    "termsOfService": "https://plaid.com/legal/"
  },
  "tags": [
    {
      "name": "plaid",
      "description": "The Plaid API"
    }
  ],
  "security": [
    {
      "clientId": [],
      "secret": [],
      "plaidVersion": []
    }
  ],
  "paths": {
    "/transactions/sync": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get incremental transaction updates on an Item",
        "externalDocs": {
          "url": "/api/products/transactions/#transactionssync"
        },
        "operationId": "transactionsSync",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "transactions_update_status": {
                      "title": "TransactionsUpdateStatus",
                      "type": "string",
                      "description": "A description of the update status for transaction pulls of an Item. This field contains the same information provided by transactions webhooks, and may be helpful for webhook troubleshooting or when recovering from missed webhooks.\n\n`TRANSACTIONS_UPDATE_STATUS_UNKNOWN`: Unable to fetch transactions update status for Item.\n`NOT_READY`: The Item is pending transaction pull.\n`INITIAL_UPDATE_COMPLETE`: Initial pull for the Item is complete, historical pull is pending.\n`HISTORICAL_UPDATE_COMPLETE`: Both initial and historical pull for Item are complete.",
                      "enum": [
                        "TRANSACTIONS_UPDATE_STATUS_UNKNOWN",
                        "NOT_READY",
                        "INITIAL_UPDATE_COMPLETE",
                        "HISTORICAL_UPDATE_COMPLETE"
                      ]
                    },
                    "accounts": {
                      "type": "array",
                      "description": "An array of accounts at a financial institution associated with the transactions in this response. Only accounts that have associated transactions will be shown. For example, `investment`-type accounts will be omitted.",
                      "items": {
                        "title": "Account",
                        "type": "object",
                        "additionalProperties": true,
                        "description": "A single account at a financial institution.",
                        "x-examples": {
                          "example-1": {}
                        },
                        "properties": {
                          "account_id": {
                            "type": "string",
                            "description": "Plaid’s unique identifier for the account. This value will not change unless Plaid can't reconcile the account with the data returned by the financial institution. This may occur, for example, when the name of the account changes. If this happens a new `account_id` will be assigned to the account.\n\nThe `account_id` can also change if the `access_token` is deleted and the same credentials that were used to generate that `access_token` are used to generate a new `access_token` on a later date. In that case, the new `account_id` will be different from the old `account_id`.\n\nIf an account with a specific `account_id` disappears instead of changing, the account is likely closed. Closed accounts are not returned by the Plaid API.\n\nWhen using a CRA endpoint (an endpoint associated with Plaid Check Consumer Report, i.e. any endpoint beginning with `/cra/`), the `account_id` returned will not match the `account_id` returned by a non-CRA endpoint.\n\nLike all Plaid identifiers, the `account_id` is case sensitive."
                          },
                          "balances": {
                            "title": "AccountBalance",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "A set of fields describing the balance for an account. Balance information may be cached unless the balance object was returned by `/accounts/balance/get`.",
                            "properties": {
                              "available": {
                                "type": "number",
                                "format": "double",
                                "description": "The amount of funds available to be withdrawn from the account, as determined by the financial institution.\n\nFor `credit`-type accounts, the `available` balance typically equals the `limit` less the `current` balance, less any pending outflows plus any pending inflows.\n\nFor `depository`-type accounts, the `available` balance typically equals the `current` balance less any pending outflows plus any pending inflows. For `depository`-type accounts, the `available` balance does not include the overdraft limit.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the `available` balance is the total cash available to withdraw as presented by the institution.\n\nNote that not all institutions calculate the `available`  balance. In the event that `available` balance is unavailable, Plaid will return an `available` balance value of `null`.\n\nAvailable balance may be cached and is not guaranteed to be up-to-date in realtime unless the value was returned by `/accounts/balance/get`.\n\nIf `current` is `null` this field is guaranteed not to be `null`.",
                                "nullable": true
                              },
                              "current": {
                                "type": "number",
                                "format": "double",
                                "description": "The total amount of funds in or owed by the account.\n\nFor `credit`-type accounts, a positive balance indicates the amount owed; a negative amount indicates the lender owing the account holder.\n\nFor `loan`-type accounts, the current balance is the principal remaining on the loan, except in the case of student loan accounts at Sallie Mae (`ins_116944`). For Sallie Mae student loans, the account's balance includes both principal and any outstanding interest. Similar to `credit`-type accounts, a positive balance is typically expected, while a negative amount indicates the lender owing the account holder.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the current balance is the total value of assets as presented by the institution.\n\nNote that balance information may be cached unless the value was returned by `/accounts/balance/get`; if the Item is enabled for Transactions, the balance will be at least as recent as the most recent Transaction update. If you require realtime balance information, use the `available` balance as provided by `/accounts/balance/get`.\n\nWhen returned by `/accounts/balance/get`, this field may be `null`. When this happens, `available` is guaranteed not to be `null`.",
                                "nullable": true
                              },
                              "limit": {
                                "type": "number",
                                "format": "double",
                                "description": "For `credit`-type accounts, this represents the credit limit.\n\nFor `depository`-type accounts, this represents the pre-arranged overdraft limit, which is common for current (checking) accounts in Europe.\n\nIn North America, this field is typically only available for `credit`-type accounts.",
                                "nullable": true
                              },
                              "iso_currency_code": {
                                "type": "string",
                                "description": "The ISO-4217 currency code of the balance. Always null if `unofficial_currency_code` is non-null.",
                                "nullable": true
                              },
                              "unofficial_currency_code": {
                                "type": "string",
                                "description": "The unofficial currency code associated with the balance. Always null if `iso_currency_code` is non-null. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
                                "nullable": true
                              },
                              "last_updated_datetime": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:mm:ssZ`) indicating the last time the balance was updated.\n\nThis field is returned only when the institution is `ins_128026` (Capital One).",
                                "nullable": true
                              }
                            },
                            "required": [
                              "available",
                              "current",
                              "limit",
                              "iso_currency_code",
                              "unofficial_currency_code"
                            ]
                          },
                          "mask": {
                            "type": "string",
                            "nullable": true,
                            "description": "The last 2-4 alphanumeric characters of either the account’s displayed mask or the account’s official account number. Note that the mask may be non-unique between an Item’s accounts."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the account, either assigned by the user or by the financial institution itself"
                          },
                          "official_name": {
                            "type": "string",
                            "nullable": true,
                            "description": "The official name of the account as given by the financial institution"
                          },
                          "type": {
                            "type": "string",
                            "title": "AccountType",
                            "enum": [
                              "investment",
                              "credit",
                              "depository",
                              "loan",
                              "brokerage",
                              "other"
                            ],
                            "description": "`investment:` Investment account. In API versions 2018-05-22 and earlier, this type is called `brokerage` instead.\n\n`credit:` Credit card\n\n`depository:` Depository account\n\n`loan:` Loan account\n\n`other:` Non-specified account type\n\nSee the [Account type schema](https://plaid.com/docs/api/accounts#account-type-schema) for a full listing of account types and corresponding subtypes."
                          },
                          "subtype": {
                            "type": "string",
                            "nullable": true,
                            "title": "AccountSubtype",
                            "description": "See the [Account type schema](https://plaid.com/docs/api/accounts/#account-type-schema) for a full listing of account types and corresponding subtypes.",
                            "enum": [
                              "401a",
                              "401k",
                              "403B",
                              "457b",
                              "529",
                              "auto",
                              "brokerage",
                              "business",
                              "cash isa",
                              "cash management",
                              "cd",
                              "checking",
                              "commercial",
                              "construction",
                              "consumer",
                              "credit card",
                              "crypto exchange",
                              "ebt",
                              "education savings account",
                              "fixed annuity",
                              "gic",
                              "health reimbursement arrangement",
                              "home equity",
                              "hsa",
                              "isa",
                              "ira",
                              "keogh",
                              "lif",
                              "life insurance",
                              "line of credit",
                              "lira",
                              "loan",
                              "lrif",
                              "lrsp",
                              "money market",
                              "mortgage",
                              "mutual fund",
                              "non-custodial wallet",
                              "non-taxable brokerage account",
                              "other",
                              "other insurance",
                              "other annuity",
                              "overdraft",
                              "paypal",
                              "payroll",
                              "pension",
                              "prepaid",
                              "prif",
                              "profit sharing plan",
                              "rdsp",
                              "resp",
                              "retirement",
                              "rlif",
                              "roth",
                              "roth 401k",
                              "rrif",
                              "rrsp",
                              "sarsep",
                              "savings",
                              "sep ira",
                              "simple ira",
                              "sipp",
                              "stock plan",
                              "student",
                              "thrift savings plan",
                              "tfsa",
                              "trust",
                              "ugma",
                              "utma",
                              "variable annuity"
                            ]
                          },
                          "verification_status": {
                            "type": "string",
                            "enum": [
                              "automatically_verified",
                              "pending_automatic_verification",
                              "pending_manual_verification",
                              "unsent",
                              "manually_verified",
                              "verification_expired",
                              "verification_failed",
                              "database_matched",
                              "database_insights_pass",
                              "database_insights_pass_with_caution",
                              "database_insights_fail"
                            ],
                            "description": "The current verification status of an Auth Item initiated through micro-deposits or database verification. Returned for Auth Items only.\n\n`pending_automatic_verification`: The Item is pending automatic verification\n\n`pending_manual_verification`: The Item is pending manual micro-deposit verification. Items remain in this state until the user successfully verifies the micro-deposit.\n\n`automatically_verified`: The Item has successfully been automatically verified\t\n\n`manually_verified`: The Item has successfully been manually verified\n\n`verification_expired`: Plaid was unable to automatically verify the deposit within 7 calendar days and will no longer attempt to validate the Item. Users may retry by submitting their information again through Link.\n\n`verification_failed`: The Item failed manual micro-deposit verification because the user exhausted all 3 verification attempts. Users may retry by submitting their information again through Link. \n\n `unsent`: The Item is pending micro-deposit verification, but Plaid has not yet sent the micro-deposit.\n\n`database_matched`: The Item has successfully been verified using Plaid's data sources. Only returned for Auth Items created via Database Match.\n\n`database_insights_pass`: The Item's numbers have been verified using Plaid's data sources: the routing and account number match a routing and account number of an account recognized on the Plaid network, and the account is not known by Plaid to be frozen or closed. Only returned for Auth Items created via Database Auth.\n\n`database_insights_pass_with_caution`:The Item's numbers have been verified using Plaid's data sources and have some signal for being valid: the routing and account number were not recognized on the Plaid network, but the routing number is valid and the account number is a potential valid account number for that routing number. Only returned for Auth Items created via Database Auth.\n\n`database_insights_fail`: The Item's numbers have been verified using Plaid's data sources and have signal for being invalid and/or have no signal for being valid. Typically this indicates that the routing number is invalid, the account number does not match the account number format associated with the routing number, or the account has been reported as closed or frozen. Only returned for Auth Items created via Database Auth.\t\n\t"
                          },
                          "verification_name": {
                            "type": "string",
                            "description": "The account holder name that was used for micro-deposit and/or database verification. Only returned for Auth Items created via micro-deposit or database verification. This name was manually-entered by the user during Link, unless it was otherwise provided via the `user.legal_name` request field in `/link/token/create` for the Link session that created the Item."
                          },
                          "verification_insights": {
                            "title": "VerificationInsights",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Insights from performing database verification for the account. Only returned for Auth Items using Database Auth.",
                            "properties": {
                              "name_match_score": {
                                "type": "integer",
                                "nullable": true,
                                "description": "Indicates the score of the name match between the given name provided during database verification (available in the [`verification_name`](https://plaid.com/docs/api/products/auth/#auth-get-response-accounts-verification-name) field) and matched Plaid network accounts. If defined, will be a value between 0 and 100. Will be undefined if name matching was not enabled for the database verification session or if there were no eligible Plaid network matches to compare the given name with."
                              },
                              "network_status": {
                                "title": "VerificationInsightsNetworkStatus",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Status information about the account and routing number in the Plaid network.",
                                "properties": {
                                  "has_numbers_match": {
                                    "type": "boolean",
                                    "description": "Indicates whether we found at least one matching account for the ACH account and routing number."
                                  },
                                  "is_numbers_match_verified": {
                                    "type": "boolean",
                                    "description": "Indicates if at least one matching account for the ACH account and routing number is already verified."
                                  }
                                },
                                "required": [
                                  "has_numbers_match",
                                  "is_numbers_match_verified"
                                ]
                              },
                              "previous_returns": {
                                "title": "VerificationInsightsNetworkStatus",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Information about known ACH returns for the account and routing number.",
                                "properties": {
                                  "has_previous_administrative_return": {
                                    "type": "boolean",
                                    "description": "Indicates whether Plaid's data sources include a known administrative ACH return for account and routing number."
                                  }
                                },
                                "required": [
                                  "has_previous_administrative_return"
                                ]
                              },
                              "account_number_format": {
                                "title": "VerificationInsightsAccountNumberFormat",
                                "type": "string",
                                "enum": [
                                  "valid",
                                  "invalid",
                                  "unknown"
                                ],
                                "description": "Indicator of account number format validity for institution.\n\n`valid`: indicates that the account number has a correct format for the institution.\n\n`invalid`: indicates that the account number has an incorrect format for the institution.\n\n`unknown`: indicates that there was not enough information to determine whether the format is correct for the institution."
                              }
                            },
                            "required": [
                              "network_status",
                              "account_number_format"
                            ]
                          },
                          "persistent_account_id": {
                            "type": "string",
                            "description": "A unique and persistent identifier for accounts that can be used to trace multiple instances of the same account across different Items for depository accounts. This field is currently supported only for Items at institutions that use Tokenized Account Numbers (i.e., Chase and PNC, and in May 2025 US Bank). Because these accounts have a different account number each time they are linked, this field may be used instead of the account number to uniquely identify an account across multiple Items for payments use cases, helping to reduce duplicate Items or attempted fraud. In Sandbox, this field is populated for TAN-based institutions (`ins_56`, `ins_13`) as well as the OAuth Sandbox institution (`ins_127287`); in Production, it will only be populated for accounts at applicable institutions."
                          },
                          "holder_category": {
                            "type": "string",
                            "nullable": true,
                            "title": "HolderCategory",
                            "description": "Indicates the account's categorization as either a personal or a business account. This field is currently in beta; to request access, contact your account manager.",
                            "enum": [
                              "business",
                              "personal",
                              "unrecognized"
                            ]
                          }
                        },
                        "required": [
                          "account_id",
                          "balances",
                          "mask",
                          "name",
                          "official_name",
                          "type",
                          "subtype"
                        ]
                      }
                    },
                    "added": {
                      "type": "array",
                      "description": "Transactions that have been added to the Item since `cursor` ordered by ascending last modified time.",
                      "items": {
                        "title": "Transaction",
                        "description": "A representation of a transaction",
                        "x-examples": {},
                        "allOf": [
                          {
                            "title": "TransactionBase",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "A representation of a transaction",
                            "x-examples": {},
                            "properties": {
                              "account_id": {
                                "type": "string",
                                "description": "The ID of the account in which this transaction occurred."
                              },
                              "amount": {
                                "type": "number",
                                "format": "double",
                                "description": "The settled value of the transaction, denominated in the transactions's currency, as stated in `iso_currency_code` or `unofficial_currency_code`. For all products except Income: Positive values when money moves out of the account; negative values when money moves in. For example, debit card purchases are positive; credit card payments, direct deposits, and refunds are negative. For Income endpoints, values are positive when representing income."
                              },
                              "iso_currency_code": {
                                "type": "string",
                                "description": "The ISO-4217 currency code of the transaction. Always `null` if `unofficial_currency_code` is non-null.",
                                "nullable": true
                              },
                              "unofficial_currency_code": {
                                "type": "string",
                                "description": "The unofficial currency code associated with the transaction. Always `null` if `iso_currency_code` is non-`null`. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `iso_currency_code`s.",
                                "nullable": true
                              },
                              "category": {
                                "deprecated": true,
                                "type": "array",
                                "description": "A hierarchical array of the categories to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nAll Transactions implementations are recommended to use the new `personal_finance_category` instead of `category`, as it provides greater accuracy and more meaningful categorization.\n\nIf the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights.",
                                "nullable": true,
                                "x-hidden-from-docs": true,
                                "items": {
                                  "type": "string"
                                }
                              },
                              "category_id": {
                                "deprecated": true,
                                "description": "The ID of the category to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nAll Transactions implementations are recommended to use the new `personal_finance_category` instead of `category`, as it provides greater accuracy and more meaningful categorization.\n\nIf the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights.",
                                "type": "string",
                                "nullable": true,
                                "x-hidden-from-docs": true
                              },
                              "check_number": {
                                "type": "string",
                                "description": "The check number of the transaction. This field is only populated for check transactions.",
                                "nullable": true
                              },
                              "date": {
                                "type": "string",
                                "format": "date",
                                "description": "For pending transactions, the date that the transaction occurred; for posted transactions, the date that the transaction posted. Both dates are returned in an [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DD` ). To receive information about the date that a posted transaction was initiated, see the `authorized_date` field."
                              },
                              "location": {
                                "title": "Transaction Location",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "A representation of where a transaction took place",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "The street address where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "The city where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "region": {
                                    "type": "string",
                                    "description": "The region or state where the transaction occurred. In API versions 2018-05-22 and earlier, this field is called `state`.",
                                    "nullable": true
                                  },
                                  "postal_code": {
                                    "type": "string",
                                    "description": "The postal code where the transaction occurred. In API versions 2018-05-22 and earlier, this field is called `zip`.",
                                    "nullable": true
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "The ISO 3166-1 alpha-2 country code where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "lat": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The latitude where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "lon": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The longitude where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "store_number": {
                                    "type": "string",
                                    "description": "The merchant defined store number where the transaction occurred.",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "address",
                                  "city",
                                  "region",
                                  "postal_code",
                                  "country",
                                  "lat",
                                  "lon",
                                  "store_number"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "deprecated": true,
                                "description": "The merchant name or transaction description.\n\nNote: While Plaid does not currently plan to remove this field, it is a legacy field that is not actively maintained. Use `merchant_name` instead for the merchant name.\n\nIf the `transactions` object was returned by a Transactions endpoint such as `/transactions/sync` or `/transactions/get`, this field will always appear. If the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights."
                              },
                              "merchant_name": {
                                "type": "string",
                                "description": "The merchant name, as enriched by Plaid from the `name` field. This is typically a more human-readable version of the merchant counterparty in the transaction. For some bank transactions (such as checks or account transfers) where there is no meaningful merchant name, this value will be `null`.",
                                "nullable": true
                              },
                              "original_description": {
                                "type": "string",
                                "description": "The string returned by the financial institution to describe the transaction. For transactions returned by `/transactions/sync` or `/transactions/get`, this field will only be included if the client has set `options.include_original_description` to `true`.",
                                "nullable": true
                              },
                              "payment_meta": {
                                "title": "PaymentMeta",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Transaction information specific to inter-bank transfers. If the transaction was not an inter-bank transfer, all fields will be `null`.\n\nIf the `transactions` object was returned by a Transactions endpoint such as `/transactions/sync` or `/transactions/get`, the `payment_meta` key will always appear, but no data elements are guaranteed. If the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights.",
                                "properties": {
                                  "reference_number": {
                                    "type": "string",
                                    "description": "The transaction reference number supplied by the financial institution.",
                                    "nullable": true
                                  },
                                  "ppd_id": {
                                    "type": "string",
                                    "description": "The ACH PPD ID for the payer.",
                                    "nullable": true
                                  },
                                  "payee": {
                                    "type": "string",
                                    "description": "For transfers, the party that is receiving the transaction.",
                                    "nullable": true
                                  },
                                  "by_order_of": {
                                    "type": "string",
                                    "description": "The party initiating a wire transfer. Will be `null` if the transaction is not a wire transfer.",
                                    "nullable": true
                                  },
                                  "payer": {
                                    "type": "string",
                                    "description": "For transfers, the party that is paying the transaction.",
                                    "nullable": true
                                  },
                                  "payment_method": {
                                    "type": "string",
                                    "description": "The type of transfer, e.g. 'ACH'",
                                    "nullable": true
                                  },
                                  "payment_processor": {
                                    "type": "string",
                                    "description": "The name of the payment processor",
                                    "nullable": true
                                  },
                                  "reason": {
                                    "type": "string",
                                    "description": "The payer-supplied description of the transfer.",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "reference_number",
                                  "ppd_id",
                                  "payee",
                                  "by_order_of",
                                  "payer",
                                  "payment_method",
                                  "payment_processor",
                                  "reason"
                                ]
                              },
                              "pending": {
                                "type": "boolean",
                                "description": "When `true`, identifies the transaction as pending or unsettled. Pending transaction details (name, type, amount, category ID) may change before they are settled. Not all institutions provide pending transactions."
                              },
                              "pending_transaction_id": {
                                "type": "string",
                                "description": "The ID of a posted transaction's associated pending transaction, where applicable. Not all institutions provide pending transactions.",
                                "nullable": true
                              },
                              "account_owner": {
                                "type": "string",
                                "description": "This field is not typically populated and only relevant when dealing with sub-accounts. A sub-account most commonly exists in cases where a single account is linked to multiple cards, each with its own card number and card holder name; each card will be considered a sub-account. If the account does have sub-accounts, this field will typically be some combination of the sub-account owner's name and/or the sub-account mask. The format of this field is not standardized and will vary based on institution.",
                                "nullable": true
                              },
                              "transaction_id": {
                                "type": "string",
                                "description": "The unique ID of the transaction. Like all Plaid identifiers, the `transaction_id` is case sensitive."
                              },
                              "transaction_type": {
                                "type": "string",
                                "enum": [
                                  "digital",
                                  "place",
                                  "special",
                                  "unresolved"
                                ],
                                "description": "Please use the `payment_channel` field, `transaction_type` will be deprecated in the future.\n\n`digital:` transactions that took place online.\n\n`place:` transactions that were made at a physical location.\n\n`special:` transactions that relate to banks, e.g. fees or deposits.\n\n`unresolved:` transactions that do not fit into the other three types.\n",
                                "deprecated": true
                              },
                              "logo_url": {
                                "type": "string",
                                "description": "The URL of a logo associated with this transaction, if available. The logo will always be 100×100 pixel PNG file.",
                                "nullable": true
                              },
                              "website": {
                                "type": "string",
                                "description": "The website associated with this transaction, if available.",
                                "nullable": true
                              }
                            },
                            "required": [
                              "transaction_id",
                              "pending",
                              "date",
                              "unofficial_currency_code",
                              "iso_currency_code",
                              "amount",
                              "account_id"
                            ]
                          },
                          {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "authorized_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date that the transaction was authorized. For posted transactions, the `date` field will indicate the posted date, but `authorized_date` will indicate the day the transaction was authorized by the financial institution. If presenting transactions to the user in a UI, the `authorized_date`, when available, is generally preferable to use over the `date` field for posted transactions, as it will generally represent the date the user actually made the transaction. Dates are returned in an [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DD` ).",
                                "nullable": true
                              },
                              "authorized_datetime": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date and time when a transaction was authorized in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DDTHH:mm:ssZ` ). For posted transactions, the `datetime` field will indicate the posted date, but `authorized_datetime` will indicate the day the transaction was authorized by the financial institution. If presenting transactions to the user in a UI, the `authorized_datetime`, when available, is generally preferable to use over the `datetime` field for posted transactions, as it will generally represent the date the user actually made the transaction.\n\nThis field is returned for select financial institutions and comes as provided by the institution. It may contain default time values (such as 00:00:00). This field is only populated in API version 2019-05-29 and later.",
                                "nullable": true
                              },
                              "datetime": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date and time when a transaction was posted in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DDTHH:mm:ssZ` ). For the date that the transaction was initiated, rather than posted, see the `authorized_datetime` field.\n\nThis field is returned for select financial institutions and comes as provided by the institution. It may contain default time values (such as 00:00:00). This field is only populated in API version 2019-05-29 and later.",
                                "nullable": true
                              },
                              "payment_channel": {
                                "type": "string",
                                "enum": [
                                  "online",
                                  "in store",
                                  "other"
                                ],
                                "description": "The channel used to make a payment.\n`online:` transactions that took place online.\n\n`in store:` transactions that were made at a physical location.\n\n`other:` transactions that relate to banks, e.g. fees or deposits.\n\nThis field replaces the `transaction_type` field.\n"
                              },
                              "personal_finance_category": {
                                "title": "PersonalFinanceCategory",
                                "nullable": true,
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Information describing the intent of the transaction. Most relevant for personal finance use cases, but not limited to such use cases.\n\nSee the [`taxonomy CSV file`](https://plaid.com/documents/transactions-personal-finance-category-taxonomy.csv) for a full list of personal finance categories. If you are migrating to personal finance categories from the legacy categories, also refer to the [`migration guide`](https://plaid.com/docs/transactions/pfc-migration/).",
                                "properties": {
                                  "primary": {
                                    "type": "string",
                                    "description": "A high level category that communicates the broad category of the transaction."
                                  },
                                  "detailed": {
                                    "type": "string",
                                    "description": "A granular category conveying the transaction's intent. This field can also be used as a unique identifier for the category."
                                  },
                                  "confidence_level": {
                                    "type": "string",
                                    "description": "A description of how confident we are that the provided categories accurately describe the transaction intent.\n\n`VERY_HIGH`: We are more than 98% confident that this category reflects the intent of the transaction.\n`HIGH`: We are more than 90% confident that this category reflects the intent of the transaction.\n`MEDIUM`: We are moderately confident that this category reflects the intent of the transaction.\n`LOW`: This category may reflect the intent, but there may be other categories that are more accurate.\n`UNKNOWN`: We don’t know the confidence level for this category.",
                                    "nullable": true
                                  },
                                  "version": {
                                    "x-hidden-from-docs": true,
                                    "type": "string",
                                    "description": "The version of the personal finance category requested. Possible values are “v1” and “v2”"
                                  }
                                },
                                "required": [
                                  "primary",
                                  "detailed"
                                ]
                              },
                              "business_finance_category": {
                                "title": "BusinessFinanceCategory",
                                "nullable": true,
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Information describing the intent of the transaction. Most relevant for business finance use cases, but not limited to such use cases.",
                                "x-hidden-from-docs": true,
                                "properties": {
                                  "primary": {
                                    "type": "string",
                                    "description": "A high level category that communicates the broad category of the transaction."
                                  },
                                  "detailed": {
                                    "type": "string",
                                    "description": "A granular category conveying the transaction's intent. This field can also be used as a unique identifier for the category."
                                  },
                                  "confidence_level": {
                                    "type": "string",
                                    "description": "A description of how confident we are that the provided categories accurately describe the transaction intent.\n\n`VERY_HIGH`: We are more than 98% confident that this category reflects the intent of the transaction.\n`HIGH`: We are more than 90% confident that this category reflects the intent of the transaction.\n`MEDIUM`: We are moderately confident that this category reflects the intent of the transaction.\n`LOW`: This category may reflect the intent, but there may be other categories that are more accurate.\n`UNKNOWN`: We don’t know the confidence level for this category.",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "primary",
                                  "detailed"
                                ]
                              },
                              "transaction_code": {
                                "type": "string",
                                "title": "transaction_code",
                                "description": "An identifier classifying the transaction type.\n\nThis field is only populated for European institutions. For institutions in the US and Canada, this field is set to `null`.\n\n`adjustment:` Bank adjustment\n\n`atm:` Cash deposit or withdrawal via an automated teller machine\n\n`bank charge:` Charge or fee levied by the institution\n\n`bill payment`: Payment of a bill\n\n`cash:` Cash deposit or withdrawal\n\n`cashback:` Cash withdrawal while making a debit card purchase\n\n`cheque:` Document ordering the payment of money to another person or organization\n\n`direct debit:` Automatic withdrawal of funds initiated by a third party at a regular interval\n\n`interest:` Interest earned or incurred\n\n`purchase:` Purchase made with a debit or credit card\n\n`standing order:` Payment instructed by the account holder to a third party at a regular interval\n\n`transfer:` Transfer of money between accounts",
                                "enum": [
                                  "adjustment",
                                  "atm",
                                  "bank charge",
                                  "bill payment",
                                  "cash",
                                  "cashback",
                                  "cheque",
                                  "direct debit",
                                  "interest",
                                  "purchase",
                                  "standing order",
                                  "transfer",
                                  null
                                ],
                                "nullable": true
                              },
                              "personal_finance_category_icon_url": {
                                "type": "string",
                                "description": "The URL of an icon associated with the primary personal finance category. The icon will always be 100×100 pixel PNG file."
                              },
                              "counterparties": {
                                "type": "array",
                                "description": "The counterparties present in the transaction. Counterparties, such as the merchant or the financial institution, are extracted by Plaid from the raw description.",
                                "items": {
                                  "type": "object",
                                  "title": "Counterparty",
                                  "additionalProperties": true,
                                  "description": "The counterparty, such as the merchant or financial institution, is extracted by Plaid from the raw description.",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the counterparty, such as the merchant or the financial institution, as extracted by Plaid from the raw description."
                                    },
                                    "entity_id": {
                                      "type": "string",
                                      "description": "A unique, stable, Plaid-generated ID that maps to the counterparty.",
                                      "nullable": true
                                    },
                                    "type": {
                                      "title": "CounterpartyType",
                                      "description": "The counterparty type.\n\n`merchant`: a provider of goods or services for purchase\n`financial_institution`: a financial entity (bank, credit union, BNPL, fintech)\n`payment_app`: a transfer or P2P app (e.g. Zelle)\n`marketplace`: a marketplace (e.g DoorDash, Google Play Store)\n`payment_terminal`: a point-of-sale payment terminal (e.g Square, Toast)\n`income_source`: the payer in an income transaction (e.g., an employer, client, or government agency)",
                                      "type": "string",
                                      "enum": [
                                        "merchant",
                                        "financial_institution",
                                        "payment_app",
                                        "marketplace",
                                        "payment_terminal",
                                        "income_source"
                                      ]
                                    },
                                    "website": {
                                      "type": "string",
                                      "description": "The website associated with the counterparty.",
                                      "nullable": true
                                    },
                                    "logo_url": {
                                      "type": "string",
                                      "description": "The URL of a logo associated with the counterparty, if available. The logo will always be 100×100 pixel PNG file.",
                                      "nullable": true
                                    },
                                    "confidence_level": {
                                      "type": "string",
                                      "description": "A description of how confident we are that the provided counterparty is involved in the transaction.\n\n`VERY_HIGH`: We recognize this counterparty and we are more than 98% confident that it is involved in this transaction.\n`HIGH`: We recognize this counterparty and we are more than 90% confident that it is involved in this transaction.\n`MEDIUM`: We are moderately confident that this counterparty was involved in this transaction, but some details may differ from our records.\n`LOW`: We didn’t find a matching counterparty in our records, so we are returning a cleansed name parsed out of the request description.\n`UNKNOWN`: We don’t know the confidence level for this counterparty.",
                                      "nullable": true
                                    },
                                    "account_numbers": {
                                      "type": "object",
                                      "title": "CounterpartyNumbers",
                                      "additionalProperties": true,
                                      "description": "Account numbers associated with the counterparty, when available.\nThis field is currently only filled in for select financial institutions in Europe.",
                                      "nullable": true,
                                      "properties": {
                                        "bacs": {
                                          "type": "object",
                                          "title": "CounterpartyNumbersBACS",
                                          "description": "Identifying information for a UK bank account via BACS.",
                                          "nullable": true,
                                          "properties": {
                                            "account": {
                                              "type": "string",
                                              "nullable": true,
                                              "description": "The BACS account number for the account."
                                            },
                                            "sort_code": {
                                              "type": "string",
                                              "nullable": true,
                                              "description": "The BACS sort code for the account."
                                            }
                                          }
                                        },
                                        "international": {
                                          "type": "object",
                                          "title": "CounterpartyNumbersInternational",
                                          "description": "Account numbers using the International Bank Account Number and BIC/SWIFT code format.",
                                          "nullable": true,
                                          "properties": {
                                            "iban": {
                                              "type": "string",
                                              "description": "International Bank Account Number (IBAN).",
                                              "nullable": true,
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "description": "International Bank Account Number (IBAN).",
                                                  "minLength": 15,
                                                  "maxLength": 34
                                                }
                                              ]
                                            },
                                            "bic": {
                                              "type": "string",
                                              "description": "Bank identifier code (BIC) for this counterparty.",
                                              "nullable": true,
                                              "minLength": 8,
                                              "maxLength": 11
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "logo_url",
                                    "website"
                                  ]
                                }
                              },
                              "merchant_entity_id": {
                                "type": "string",
                                "description": "A unique, stable, Plaid-generated ID that maps to the merchant. In the case of a merchant with multiple retail locations, this field will map to the broader merchant, not a specific location or store.",
                                "nullable": true
                              },
                              "client_customization": {
                                "title": "ClientCustomization",
                                "nullable": true,
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Custom client fields",
                                "x-hidden-from-docs": true,
                                "properties": {
                                  "custom_entity_id": {
                                    "type": "string",
                                    "description": "Custom entity ID that maps to a merchant or counterparty. This is different from the `merchant_entity_id` as well as the `entity_id` on the counterparties object to meet client specific needs."
                                  }
                                }
                              }
                            },
                            "required": [
                              "account_owner",
                              "pending_transaction_id",
                              "payment_channel",
                              "payment_meta",
                              "name",
                              "location",
                              "authorized_date",
                              "authorized_datetime",
                              "datetime",
                              "transaction_code"
                            ]
                          }
                        ]
                      }
                    },
                    "modified": {
                      "type": "array",
                      "description": "Transactions that have been modified on the Item since `cursor` ordered by ascending last modified time.",
                      "items": {
                        "title": "Transaction",
                        "description": "A representation of a transaction",
                        "x-examples": {},
                        "allOf": [
                          {
                            "title": "TransactionBase",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "A representation of a transaction",
                            "x-examples": {},
                            "properties": {
                              "account_id": {
                                "type": "string",
                                "description": "The ID of the account in which this transaction occurred."
                              },
                              "amount": {
                                "type": "number",
                                "format": "double",
                                "description": "The settled value of the transaction, denominated in the transactions's currency, as stated in `iso_currency_code` or `unofficial_currency_code`. For all products except Income: Positive values when money moves out of the account; negative values when money moves in. For example, debit card purchases are positive; credit card payments, direct deposits, and refunds are negative. For Income endpoints, values are positive when representing income."
                              },
                              "iso_currency_code": {
                                "type": "string",
                                "description": "The ISO-4217 currency code of the transaction. Always `null` if `unofficial_currency_code` is non-null.",
                                "nullable": true
                              },
                              "unofficial_currency_code": {
                                "type": "string",
                                "description": "The unofficial currency code associated with the transaction. Always `null` if `iso_currency_code` is non-`null`. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `iso_currency_code`s.",
                                "nullable": true
                              },
                              "category": {
                                "deprecated": true,
                                "type": "array",
                                "description": "A hierarchical array of the categories to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nAll Transactions implementations are recommended to use the new `personal_finance_category` instead of `category`, as it provides greater accuracy and more meaningful categorization.\n\nIf the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights.",
                                "nullable": true,
                                "x-hidden-from-docs": true,
                                "items": {
                                  "type": "string"
                                }
                              },
                              "category_id": {
                                "deprecated": true,
                                "description": "The ID of the category to which this transaction belongs. For a full list of categories, see [`/categories/get`](https://plaid.com/docs/api/products/transactions/#categoriesget).\n\nAll Transactions implementations are recommended to use the new `personal_finance_category` instead of `category`, as it provides greater accuracy and more meaningful categorization.\n\nIf the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights.",
                                "type": "string",
                                "nullable": true,
                                "x-hidden-from-docs": true
                              },
                              "check_number": {
                                "type": "string",
                                "description": "The check number of the transaction. This field is only populated for check transactions.",
                                "nullable": true
                              },
                              "date": {
                                "type": "string",
                                "format": "date",
                                "description": "For pending transactions, the date that the transaction occurred; for posted transactions, the date that the transaction posted. Both dates are returned in an [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DD` ). To receive information about the date that a posted transaction was initiated, see the `authorized_date` field."
                              },
                              "location": {
                                "title": "Transaction Location",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "A representation of where a transaction took place",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "The street address where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "The city where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "region": {
                                    "type": "string",
                                    "description": "The region or state where the transaction occurred. In API versions 2018-05-22 and earlier, this field is called `state`.",
                                    "nullable": true
                                  },
                                  "postal_code": {
                                    "type": "string",
                                    "description": "The postal code where the transaction occurred. In API versions 2018-05-22 and earlier, this field is called `zip`.",
                                    "nullable": true
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "The ISO 3166-1 alpha-2 country code where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "lat": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The latitude where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "lon": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The longitude where the transaction occurred.",
                                    "nullable": true
                                  },
                                  "store_number": {
                                    "type": "string",
                                    "description": "The merchant defined store number where the transaction occurred.",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "address",
                                  "city",
                                  "region",
                                  "postal_code",
                                  "country",
                                  "lat",
                                  "lon",
                                  "store_number"
                                ]
                              },
                              "name": {
                                "type": "string",
                                "deprecated": true,
                                "description": "The merchant name or transaction description.\n\nNote: While Plaid does not currently plan to remove this field, it is a legacy field that is not actively maintained. Use `merchant_name` instead for the merchant name.\n\nIf the `transactions` object was returned by a Transactions endpoint such as `/transactions/sync` or `/transactions/get`, this field will always appear. If the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights."
                              },
                              "merchant_name": {
                                "type": "string",
                                "description": "The merchant name, as enriched by Plaid from the `name` field. This is typically a more human-readable version of the merchant counterparty in the transaction. For some bank transactions (such as checks or account transfers) where there is no meaningful merchant name, this value will be `null`.",
                                "nullable": true
                              },
                              "original_description": {
                                "type": "string",
                                "description": "The string returned by the financial institution to describe the transaction. For transactions returned by `/transactions/sync` or `/transactions/get`, this field will only be included if the client has set `options.include_original_description` to `true`.",
                                "nullable": true
                              },
                              "payment_meta": {
                                "title": "PaymentMeta",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Transaction information specific to inter-bank transfers. If the transaction was not an inter-bank transfer, all fields will be `null`.\n\nIf the `transactions` object was returned by a Transactions endpoint such as `/transactions/sync` or `/transactions/get`, the `payment_meta` key will always appear, but no data elements are guaranteed. If the `transactions` object was returned by an Assets endpoint such as `/asset_report/get/` or `/asset_report/pdf/get`, this field will only appear in an Asset Report with Insights.",
                                "properties": {
                                  "reference_number": {
                                    "type": "string",
                                    "description": "The transaction reference number supplied by the financial institution.",
                                    "nullable": true
                                  },
                                  "ppd_id": {
                                    "type": "string",
                                    "description": "The ACH PPD ID for the payer.",
                                    "nullable": true
                                  },
                                  "payee": {
                                    "type": "string",
                                    "description": "For transfers, the party that is receiving the transaction.",
                                    "nullable": true
                                  },
                                  "by_order_of": {
                                    "type": "string",
                                    "description": "The party initiating a wire transfer. Will be `null` if the transaction is not a wire transfer.",
                                    "nullable": true
                                  },
                                  "payer": {
                                    "type": "string",
                                    "description": "For transfers, the party that is paying the transaction.",
                                    "nullable": true
                                  },
                                  "payment_method": {
                                    "type": "string",
                                    "description": "The type of transfer, e.g. 'ACH'",
                                    "nullable": true
                                  },
                                  "payment_processor": {
                                    "type": "string",
                                    "description": "The name of the payment processor",
                                    "nullable": true
                                  },
                                  "reason": {
                                    "type": "string",
                                    "description": "The payer-supplied description of the transfer.",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "reference_number",
                                  "ppd_id",
                                  "payee",
                                  "by_order_of",
                                  "payer",
                                  "payment_method",
                                  "payment_processor",
                                  "reason"
                                ]
                              },
                              "pending": {
                                "type": "boolean",
                                "description": "When `true`, identifies the transaction as pending or unsettled. Pending transaction details (name, type, amount, category ID) may change before they are settled. Not all institutions provide pending transactions."
                              },
                              "pending_transaction_id": {
                                "type": "string",
                                "description": "The ID of a posted transaction's associated pending transaction, where applicable. Not all institutions provide pending transactions.",
                                "nullable": true
                              },
                              "account_owner": {
                                "type": "string",
                                "description": "This field is not typically populated and only relevant when dealing with sub-accounts. A sub-account most commonly exists in cases where a single account is linked to multiple cards, each with its own card number and card holder name; each card will be considered a sub-account. If the account does have sub-accounts, this field will typically be some combination of the sub-account owner's name and/or the sub-account mask. The format of this field is not standardized and will vary based on institution.",
                                "nullable": true
                              },
                              "transaction_id": {
                                "type": "string",
                                "description": "The unique ID of the transaction. Like all Plaid identifiers, the `transaction_id` is case sensitive."
                              },
                              "transaction_type": {
                                "type": "string",
                                "enum": [
                                  "digital",
                                  "place",
                                  "special",
                                  "unresolved"
                                ],
                                "description": "Please use the `payment_channel` field, `transaction_type` will be deprecated in the future.\n\n`digital:` transactions that took place online.\n\n`place:` transactions that were made at a physical location.\n\n`special:` transactions that relate to banks, e.g. fees or deposits.\n\n`unresolved:` transactions that do not fit into the other three types.\n",
                                "deprecated": true
                              },
                              "logo_url": {
                                "type": "string",
                                "description": "The URL of a logo associated with this transaction, if available. The logo will always be 100×100 pixel PNG file.",
                                "nullable": true
                              },
                              "website": {
                                "type": "string",
                                "description": "The website associated with this transaction, if available.",
                                "nullable": true
                              }
                            },
                            "required": [
                              "transaction_id",
                              "pending",
                              "date",
                              "unofficial_currency_code",
                              "iso_currency_code",
                              "amount",
                              "account_id"
                            ]
                          },
                          {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "authorized_date": {
                                "type": "string",
                                "format": "date",
                                "description": "The date that the transaction was authorized. For posted transactions, the `date` field will indicate the posted date, but `authorized_date` will indicate the day the transaction was authorized by the financial institution. If presenting transactions to the user in a UI, the `authorized_date`, when available, is generally preferable to use over the `date` field for posted transactions, as it will generally represent the date the user actually made the transaction. Dates are returned in an [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DD` ).",
                                "nullable": true
                              },
                              "authorized_datetime": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date and time when a transaction was authorized in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DDTHH:mm:ssZ` ). For posted transactions, the `datetime` field will indicate the posted date, but `authorized_datetime` will indicate the day the transaction was authorized by the financial institution. If presenting transactions to the user in a UI, the `authorized_datetime`, when available, is generally preferable to use over the `datetime` field for posted transactions, as it will generally represent the date the user actually made the transaction.\n\nThis field is returned for select financial institutions and comes as provided by the institution. It may contain default time values (such as 00:00:00). This field is only populated in API version 2019-05-29 and later.",
                                "nullable": true
                              },
                              "datetime": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Date and time when a transaction was posted in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format ( `YYYY-MM-DDTHH:mm:ssZ` ). For the date that the transaction was initiated, rather than posted, see the `authorized_datetime` field.\n\nThis field is returned for select financial institutions and comes as provided by the institution. It may contain default time values (such as 00:00:00). This field is only populated in API version 2019-05-29 and later.",
                                "nullable": true
                              },
                              "payment_channel": {
                                "type": "string",
                                "enum": [
                                  "online",
                                  "in store",
                                  "other"
                                ],
                                "description": "The channel used to make a payment.\n`online:` transactions that took place online.\n\n`in store:` transactions that were made at a physical location.\n\n`other:` transactions that relate to banks, e.g. fees or deposits.\n\nThis field replaces the `transaction_type` field.\n"
                              },
                              "personal_finance_category": {
                                "title": "PersonalFinanceCategory",
                                "nullable": true,
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Information describing the intent of the transaction. Most relevant for personal finance use cases, but not limited to such use cases.\n\nSee the [`taxonomy CSV file`](https://plaid.com/documents/transactions-personal-finance-category-taxonomy.csv) for a full list of personal finance categories. If you are migrating to personal finance categories from the legacy categories, also refer to the [`migration guide`](https://plaid.com/docs/transactions/pfc-migration/).",
                                "properties": {
                                  "primary": {
                                    "type": "string",
                                    "description": "A high level category that communicates the broad category of the transaction."
                                  },
                                  "detailed": {
                                    "type": "string",
                                    "description": "A granular category conveying the transaction's intent. This field can also be used as a unique identifier for the category."
                                  },
                                  "confidence_level": {
                                    "type": "string",
                                    "description": "A description of how confident we are that the provided categories accurately describe the transaction intent.\n\n`VERY_HIGH`: We are more than 98% confident that this category reflects the intent of the transaction.\n`HIGH`: We are more than 90% confident that this category reflects the intent of the transaction.\n`MEDIUM`: We are moderately confident that this category reflects the intent of the transaction.\n`LOW`: This category may reflect the intent, but there may be other categories that are more accurate.\n`UNKNOWN`: We don’t know the confidence level for this category.",
                                    "nullable": true
                                  },
                                  "version": {
                                    "x-hidden-from-docs": true,
                                    "type": "string",
                                    "description": "The version of the personal finance category requested. Possible values are “v1” and “v2”"
                                  }
                                },
                                "required": [
                                  "primary",
                                  "detailed"
                                ]
                              },
                              "business_finance_category": {
                                "title": "BusinessFinanceCategory",
                                "nullable": true,
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Information describing the intent of the transaction. Most relevant for business finance use cases, but not limited to such use cases.",
                                "x-hidden-from-docs": true,
                                "properties": {
                                  "primary": {
                                    "type": "string",
                                    "description": "A high level category that communicates the broad category of the transaction."
                                  },
                                  "detailed": {
                                    "type": "string",
                                    "description": "A granular category conveying the transaction's intent. This field can also be used as a unique identifier for the category."
                                  },
                                  "confidence_level": {
                                    "type": "string",
                                    "description": "A description of how confident we are that the provided categories accurately describe the transaction intent.\n\n`VERY_HIGH`: We are more than 98% confident that this category reflects the intent of the transaction.\n`HIGH`: We are more than 90% confident that this category reflects the intent of the transaction.\n`MEDIUM`: We are moderately confident that this category reflects the intent of the transaction.\n`LOW`: This category may reflect the intent, but there may be other categories that are more accurate.\n`UNKNOWN`: We don’t know the confidence level for this category.",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "primary",
                                  "detailed"
                                ]
                              },
                              "transaction_code": {
                                "type": "string",
                                "title": "transaction_code",
                                "description": "An identifier classifying the transaction type.\n\nThis field is only populated for European institutions. For institutions in the US and Canada, this field is set to `null`.\n\n`adjustment:` Bank adjustment\n\n`atm:` Cash deposit or withdrawal via an automated teller machine\n\n`bank charge:` Charge or fee levied by the institution\n\n`bill payment`: Payment of a bill\n\n`cash:` Cash deposit or withdrawal\n\n`cashback:` Cash withdrawal while making a debit card purchase\n\n`cheque:` Document ordering the payment of money to another person or organization\n\n`direct debit:` Automatic withdrawal of funds initiated by a third party at a regular interval\n\n`interest:` Interest earned or incurred\n\n`purchase:` Purchase made with a debit or credit card\n\n`standing order:` Payment instructed by the account holder to a third party at a regular interval\n\n`transfer:` Transfer of money between accounts",
                                "enum": [
                                  "adjustment",
                                  "atm",
                                  "bank charge",
                                  "bill payment",
                                  "cash",
                                  "cashback",
                                  "cheque",
                                  "direct debit",
                                  "interest",
                                  "purchase",
                                  "standing order",
                                  "transfer",
                                  null
                                ],
                                "nullable": true
                              },
                              "personal_finance_category_icon_url": {
                                "type": "string",
                                "description": "The URL of an icon associated with the primary personal finance category. The icon will always be 100×100 pixel PNG file."
                              },
                              "counterparties": {
                                "type": "array",
                                "description": "The counterparties present in the transaction. Counterparties, such as the merchant or the financial institution, are extracted by Plaid from the raw description.",
                                "items": {
                                  "type": "object",
                                  "title": "Counterparty",
                                  "additionalProperties": true,
                                  "description": "The counterparty, such as the merchant or financial institution, is extracted by Plaid from the raw description.",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the counterparty, such as the merchant or the financial institution, as extracted by Plaid from the raw description."
                                    },
                                    "entity_id": {
                                      "type": "string",
                                      "description": "A unique, stable, Plaid-generated ID that maps to the counterparty.",
                                      "nullable": true
                                    },
                                    "type": {
                                      "title": "CounterpartyType",
                                      "description": "The counterparty type.\n\n`merchant`: a provider of goods or services for purchase\n`financial_institution`: a financial entity (bank, credit union, BNPL, fintech)\n`payment_app`: a transfer or P2P app (e.g. Zelle)\n`marketplace`: a marketplace (e.g DoorDash, Google Play Store)\n`payment_terminal`: a point-of-sale payment terminal (e.g Square, Toast)\n`income_source`: the payer in an income transaction (e.g., an employer, client, or government agency)",
                                      "type": "string",
                                      "enum": [
                                        "merchant",
                                        "financial_institution",
                                        "payment_app",
                                        "marketplace",
                                        "payment_terminal",
                                        "income_source"
                                      ]
                                    },
                                    "website": {
                                      "type": "string",
                                      "description": "The website associated with the counterparty.",
                                      "nullable": true
                                    },
                                    "logo_url": {
                                      "type": "string",
                                      "description": "The URL of a logo associated with the counterparty, if available. The logo will always be 100×100 pixel PNG file.",
                                      "nullable": true
                                    },
                                    "confidence_level": {
                                      "type": "string",
                                      "description": "A description of how confident we are that the provided counterparty is involved in the transaction.\n\n`VERY_HIGH`: We recognize this counterparty and we are more than 98% confident that it is involved in this transaction.\n`HIGH`: We recognize this counterparty and we are more than 90% confident that it is involved in this transaction.\n`MEDIUM`: We are moderately confident that this counterparty was involved in this transaction, but some details may differ from our records.\n`LOW`: We didn’t find a matching counterparty in our records, so we are returning a cleansed name parsed out of the request description.\n`UNKNOWN`: We don’t know the confidence level for this counterparty.",
                                      "nullable": true
                                    },
                                    "account_numbers": {
                                      "type": "object",
                                      "title": "CounterpartyNumbers",
                                      "additionalProperties": true,
                                      "description": "Account numbers associated with the counterparty, when available.\nThis field is currently only filled in for select financial institutions in Europe.",
                                      "nullable": true,
                                      "properties": {
                                        "bacs": {
                                          "type": "object",
                                          "title": "CounterpartyNumbersBACS",
                                          "description": "Identifying information for a UK bank account via BACS.",
                                          "nullable": true,
                                          "properties": {
                                            "account": {
                                              "type": "string",
                                              "nullable": true,
                                              "description": "The BACS account number for the account."
                                            },
                                            "sort_code": {
                                              "type": "string",
                                              "nullable": true,
[...]
