{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://production.plaid.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.plaid.com"
    }
  ],
  "info": {
    "title": "The Plaid API",
    "version": "2020-09-14_1.666.2",
    "description": "The Plaid REST API. Please see https://plaid.com/docs/api for more details.",
    "contact": {
      "name": "Plaid Developer Team",
      "url": "https://plaid.com"
    },
    "termsOfService": "https://plaid.com/legal/"
  },
  "tags": [
    {
      "name": "plaid",
      "description": "The Plaid API"
    }
  ],
  "security": [
    {
      "clientId": [],
      "secret": [],
      "plaidVersion": []
    }
  ],
  "paths": {
    "/transfer/authorization/create": {
      "post": {
        "summary": "Create a transfer authorization",
        "tags": [
          "Initiating Transfers"
        ],
        "externalDocs": {
          "url": "/api/products/transfer/initiating-transfers/#transferauthorizationcreate"
        },
        "operationId": "transferAuthorizationCreate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TransferAuthorizationCreateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "authorization": {
                      "title": "TransferAuthorization",
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Contains the authorization decision for a proposed transfer.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "TransferAuthorizationID",
                          "description": "Plaid’s unique identifier for a transfer authorization."
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The datetime representing when the authorization was created, in the format `2006-01-02T15:04:05Z`."
                        },
                        "decision": {
                          "type": "string",
                          "description": "\nA decision regarding the proposed transfer.\n\n`approved` – The proposed transfer has received the end user's consent and has been approved for processing by Plaid. The `decision_rationale` field is set if Plaid was unable to fetch the account information. You may proceed with the transfer, but further review is recommended. Refer to the `code` field in the `decision_rationale` object for details.\n\n`declined` – Plaid reviewed the proposed transfer and declined processing. Refer to the `code` field in the `decision_rationale` object for details.\n\n`user_action_required` – An action is required before Plaid can assess the transfer risk and make a decision. The most common scenario is to update authentication for an Item. To complete the required action, initialize Link by setting `transfer.authorization_id` in the request of `/link/token/create`. After Link flow is completed, you may re-attempt the authorization request.",
                          "enum": [
                            "approved",
                            "declined",
                            "user_action_required"
                          ]
                        },
                        "decision_rationale": {
                          "title": "TransferAuthorizationDecisionRationale",
                          "type": "object",
                          "nullable": true,
                          "additionalProperties": true,
                          "description": "The rationale for Plaid's decision regarding a proposed transfer. It is always set for `declined` decisions, and may or may not be null for `approved` decisions.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "A code representing the rationale for approving or declining the proposed transfer.\n\nIf the `rationale_code` is `null`, the transfer passed the authorization check.\n\nAny non-`null` value for an `approved` transfer indicates that the the authorization check could not be run and that you should perform your own risk assessment on the transfer. The code will indicate why the check could not be run. Possible values for an `approved` transfer are:\n\n`MANUALLY_VERIFIED_ITEM` – Item created via a manual entry flow (i.e. Same Day Micro-deposit, Instant Micro-deposit, or database-based verification), limited information available.\n\n`ITEM_LOGIN_REQUIRED` – Unable to collect the account information due to Item staleness. Can be resolved by using Link and setting [`transfer.authorization_id`](https://plaid.com/docs/api/link/#link-token-create-request-transfer-authorization-id) in the request to `/link/token/create`.\n\n`MIGRATED_ACCOUNT_ITEM` - Item created via `/transfer/migrate_account` endpoint, limited information available.\n\n`ERROR` – Unable to collect the account information due to an unspecified error.\n\nThe following codes indicate that the authorization decision was `declined`:\n\n`NSF` – Transaction likely to result in a return due to insufficient funds.\n\n`RISK` - Transaction is high-risk.\n\n`TRANSFER_LIMIT_REACHED` - One or several transfer limits are reached, e.g. monthly transfer limit. Check the accompanying `description` field to understand which limit has been reached.",
                              "enum": [
                                "NSF",
                                "RISK",
                                "TRANSFER_LIMIT_REACHED",
                                "MANUALLY_VERIFIED_ITEM",
                                "ITEM_LOGIN_REQUIRED",
                                "PAYMENT_PROFILE_LOGIN_REQUIRED",
                                "ERROR",
                                "MIGRATED_ACCOUNT_ITEM",
                                null
                              ]
                            },
                            "description": {
                              "type": "string",
                              "description": "A human-readable description of the code associated with a transfer approval or transfer decline."
                            }
                          },
                          "required": [
                            "code",
                            "description"
                          ]
                        },
                        "guarantee_decision": {
                          "type": "string",
                          "nullable": true,
                          "x-hidden-from-docs": true,
                          "description": "Indicates whether the transfer is guaranteed by Plaid (Guarantee customers only). This field will contain either `GUARANTEED` or `NOT_GUARANTEED` indicating whether Plaid will guarantee the transfer. If the transfer is not guaranteed, additional information will be provided in the `guarantee_decision_rationale` field. Refer to the `code` field in `guarantee_decision_rationale` for details.",
                          "enum": [
                            "GUARANTEED",
                            "NOT_GUARANTEED",
                            null
                          ]
                        },
                        "guarantee_decision_rationale": {
                          "title": "TransferAuthorizationGuaranteeDecisionRationale",
                          "type": "object",
                          "nullable": true,
                          "additionalProperties": true,
                          "x-hidden-from-docs": true,
                          "description": "The rationale for Plaid's decision to not guarantee a transfer. Will be `null` unless `guarantee_decision` is `NOT_GUARANTEED`.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "x-hidden-from-docs": true,
                              "description": "A code representing the reason Plaid declined to guarantee this transfer:\n\n`RETURN_BANK`: The risk of a bank-initiated return (for example, an R01/NSF) is too high to guarantee this transfer.\n\n`RETURN_CUSTOMER`: The risk of a customer-initiated return (for example, a R10/Unauthorized) is too high to guarantee this transfer.\n\n`GUARANTEE_LIMIT_REACHED`: This transfer is low-risk, but Guarantee has exhausted an internal limit on the number or rate of guarantees that applies to this transfer.\n\n`RISK_ESTIMATE_UNAVAILABLE`: A risk estimate is unavailable for this Item.\n\n`REQUIRED_PARAM_MISSING`: Required fields are missing.",
                              "enum": [
                                "RETURN_BANK",
                                "RETURN_CUSTOMER",
                                "GUARANTEE_LIMIT_REACHED",
                                "RISK_ESTIMATE_UNAVAILABLE",
                                "REQUIRED_PARAM_MISSING"
                              ]
                            },
                            "description": {
                              "type": "string",
                              "description": "A human-readable description of why the transfer cannot be guaranteed."
                            }
                          },
                          "required": [
                            "code",
                            "description"
                          ]
                        },
                        "payment_risk": {
                          "title": "TransferAuthorizationPaymentRisk",
                          "description": "This object includes the scores and risk level. This response is offered as an add-on to /transfer/authorization/create. To request access to these fields please contact your Plaid account manager.",
                          "type": "object",
                          "additionalProperties": true,
                          "nullable": true,
                          "x-hidden-from-docs": true,
                          "deprecated": true,
                          "properties": {
                            "bank_initiated_return_score": {
                              "nullable": true,
                              "description": "A score from 1-99 that indicates the transaction return risk: a higher risk score suggests a higher return likelihood.\n\nThe score evaluates the transaction return risk because an account is overdrawn or because an ineligible account is used and covers return codes: \"R01\", \"R02\", \"R03\", \"R04\", \"R06\", \"R08\",  \"R09\", \"R13\",\n\"R16\", \"R17\", \"R20\", \"R23\". These returns have a turnaround time of 2 banking days.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 99
                            },
                            "customer_initiated_return_score": {
                              "nullable": true,
                              "description": "A score from 1-99 that indicates the transaction return risk: a higher risk score suggests a higher return likelihood.\n\nThe score evaluates the transaction return risk of an unauthorized debit and covers return codes: \"R05\", \"R07\", \"R10\", \"R11\", \"R29\".\nThese returns typically have a return time frame of up to 60 calendar days. During this period, the customer of financial institutions can dispute a transaction as unauthorized.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 99
                            },
                            "risk_level": {
                              "type": "string",
                              "nullable": true,
                              "description": "Comprises five risk categories (high risk, medium-high risk, medium risk, medium-low risk, low risk) based on the probability of return",
                              "enum": [
                                "HIGH_RISK",
                                "MEDIUM_HIGH_RISK",
                                "MEDIUM_RISK",
                                "MEDIUM_LOW_RISK",
                                "LOW_RISK"
                              ]
                            },
                            "warnings": {
                              "type": "array",
                              "description": "If bank information was not available to be used in the Signal model, this array contains warnings describing why bank data is missing. If you want to receive an API error instead of Signal scores in the case of missing bank data, file a support ticket or contact your Plaid account manager.",
                              "items": {
                                "title": "SignalWarning",
                                "type": "object",
                                "description": "Conveys information about the errors causing missing or stale bank data used to construct the /signal/evaluate scores and response",
                                "properties": {
                                  "warning_type": {
                                    "type": "string",
                                    "description": "A broad categorization of the warning. Safe for programmatic use."
                                  },
                                  "warning_code": {
                                    "type": "string",
                                    "description": "The warning code identifies a specific kind of warning that pertains to the error causing bank data to be missing. Safe for programmatic use. For more details on warning codes, please refer to Plaid standard error codes documentation. If you receive the `ITEM_LOGIN_REQUIRED` warning, we recommend re-authenticating your user by implementing Link's update mode. This will guide your user to fix their credentials, allowing Plaid to start fetching data again for future Signal requests."
                                  },
                                  "warning_message": {
                                    "type": "string",
                                    "description": "A developer-friendly representation of the warning type. This may change over time and is not safe for programmatic use."
                                  }
                                }
                              }
                            }
                          },
                          "required": [
                            "bank_initiated_return_score",
                            "customer_initiated_return_score",
                            "risk_level",
                            "warnings"
                          ]
                        },
                        "proposed_transfer": {
                          "title": "TransferAuthorizationProposedTransfer",
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Details regarding the proposed transfer.",
                          "properties": {
                            "ach_class": {
                              "type": "string",
                              "title": "ACHClass",
                              "enum": [
                                "ccd",
                                "ppd",
                                "tel",
                                "web"
                              ],
                              "description": "Specifies the use case of the transfer. Required for transfers on an ACH network. For more details, see [ACH SEC codes](https://plaid.com/docs/transfer/creating-transfers/#ach-sec-codes).\n\nCodes supported for credits: `ccd`, `ppd`\nCodes supported for debits: `ccd`, `tel`, `web`\n\n`\"ccd\"` - Corporate Credit or Debit - fund transfer between two corporate bank accounts\n\n`\"ppd\"` - Prearranged Payment or Deposit - The transfer is part of a pre-existing relationship with a consumer. Authorization was obtained in writing either in person or via an electronic document signing, e.g. Docusign, by the consumer. Can be used for credits or debits.\n\n`\"web\"` - Internet-Initiated Entry. The transfer debits a consumer’s bank account. Authorization from the consumer is obtained over the Internet (e.g. a web or mobile application). Can be used for single debits or recurring debits.\n\n`\"tel\"` - Telephone-Initiated Entry. The transfer debits a consumer. Debit authorization has been received orally over the telephone via a recorded call."
                            },
                            "account_id": {
                              "type": "string",
                              "description": "The Plaid `account_id` for the account that will be debited or credited."
                            },
                            "funding_account_id": {
                              "type": "string",
                              "description": "The id of the associated funding account, available in the Plaid Dashboard. If present, this indicates which of your business checking accounts will be credited or debited.",
                              "nullable": true
                            },
                            "ledger_id": {
                              "type": "string",
                              "title": "TransferLedgerID",
                              "description": "Plaid’s unique identifier for a Plaid Ledger Balance.",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "title": "TransferType",
                              "description": "The type of transfer. This will be either `debit` or `credit`.  A `debit` indicates a transfer of money into the origination account; a `credit` indicates a transfer of money out of the origination account.",
                              "enum": [
                                "debit",
                                "credit"
                              ]
                            },
                            "user": {
                              "title": "TransferUserInResponse",
                              "type": "object",
                              "additionalProperties": true,
                              "description": "The legal name and other information for the account holder.",
                              "properties": {
                                "legal_name": {
                                  "type": "string",
                                  "description": "The user's legal name."
                                },
                                "phone_number": {
                                  "type": "string",
                                  "description": "The user's phone number.",
                                  "nullable": true
                                },
                                "email_address": {
                                  "type": "string",
                                  "description": "The user's email address.",
                                  "nullable": true
                                },
                                "address": {
                                  "title": "TransferUserAddressInResponse",
                                  "type": "object",
                                  "nullable": true,
                                  "additionalProperties": true,
                                  "description": "The address associated with the account holder.",
                                  "properties": {
                                    "street": {
                                      "type": "string",
                                      "description": "The street number and name (i.e., \"100 Market St.\").",
                                      "nullable": true
                                    },
                                    "city": {
                                      "type": "string",
                                      "description": "Ex. \"San Francisco\"",
                                      "nullable": true
                                    },
                                    "region": {
                                      "type": "string",
                                      "description": "The state or province (e.g., \"CA\").",
                                      "nullable": true
                                    },
                                    "postal_code": {
                                      "type": "string",
                                      "description": "The postal code (e.g., \"94103\").",
                                      "nullable": true
                                    },
                                    "country": {
                                      "type": "string",
                                      "description": "A two-letter country code (e.g., \"US\").",
                                      "nullable": true
                                    }
                                  },
                                  "required": [
                                    "street",
                                    "city",
                                    "region",
                                    "postal_code",
                                    "country"
                                  ]
                                }
                              },
                              "required": [
                                "legal_name",
                                "phone_number",
                                "email_address",
                                "address"
                              ]
                            },
                            "amount": {
                              "title": "TransferAmount",
                              "type": "string",
                              "description": "The amount of the transfer (decimal string with two digits of precision e.g. \"10.00\"). When calling `/transfer/authorization/create`, specify the maximum amount to authorize. When calling `/transfer/create`, specify the exact amount of the transfer, up to a maximum of the amount authorized. If this field is left blank when calling `/transfer/create`, the maximum amount authorized in the `authorization_id` will be sent."
                            },
                            "network": {
                              "type": "string",
                              "description": "The network or rails used for the transfer."
                            },
                            "wire_details": {
                              "title": "TransferWireDetails",
                              "type": "object",
                              "nullable": true,
                              "description": "Information specific to wire transfers.",
                              "properties": {
                                "message_to_beneficiary": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Additional information from the wire originator to the beneficiary. Max 140 characters."
                                },
                                "wire_return_fee": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "The fee amount deducted from the original transfer during a wire return, if applicable."
                                }
                              }
                            },
                            "origination_account_id": {
                              "type": "string",
                              "description": "Plaid's unique identifier for the origination account that was used for this transfer.",
                              "deprecated": true,
                              "x-hidden-from-docs": true
                            },
                            "iso_currency_code": {
                              "type": "string",
                              "description": "The currency of the transfer amount. The default value is \"USD\"."
                            },
                            "originator_client_id": {
                              "type": "string",
                              "nullable": true,
                              "description": "The Plaid client ID that is the originator of this transfer. Only present if created on behalf of another client as a [Platform customer](https://plaid.com/docs/transfer/application/#originators-vs-platforms)."
                            },
                            "credit_funds_source": {
                              "deprecated": true,
                              "allOf": [
                                {
                                  "type": "string",
                                  "title": "TransferCreditFundsSource",
                                  "nullable": true,
                                  "enum": [
                                    "sweep",
                                    "prefunded_rtp_credits",
                                    "prefunded_ach_credits",
                                    null
                                  ],
                                  "description": "This field is now deprecated. You may ignore it for transfers created on and after 12/01/2023.\n\nSpecifies the source of funds for the transfer. Only valid for `credit` transfers, and defaults to `sweep` if not specified. This field is not specified for `debit` transfers.\n\n`sweep` - Sweep funds from your funding account\n`prefunded_rtp_credits` - Use your prefunded RTP credit balance with Plaid\n`prefunded_ach_credits` - Use your prefunded ACH credit balance with Plaid"
                                }
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "user",
                            "amount",
                            "network",
                            "origination_account_id",
                            "iso_currency_code",
                            "originator_client_id",
                            "funding_account_id",
                            "credit_funds_source"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "created",
                        "decision",
                        "decision_rationale",
                        "guarantee_decision",
                        "guarantee_decision_rationale",
                        "proposed_transfer",
                        "payment_risk"
                      ]
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "authorization",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "authorization": {
                        "id": "460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9",
                        "created": "2020-08-06T17:27:15Z",
                        "decision": "approved",
                        "decision_rationale": null,
                        "guarantee_decision": null,
                        "guarantee_decision_rationale": null,
                        "payment_risk": null,
                        "proposed_transfer": {
                          "ach_class": "ppd",
                          "account_id": "3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr",
                          "funding_account_id": "8945fedc-e703-463d-86b1-dc0607b55460",
                          "ledger_id": "563db5f8-4c95-4e17-8c3e-cb988fb9cf1a",
                          "type": "credit",
                          "user": {
                            "legal_name": "Anne Charleston",
                            "phone_number": "510-555-0128",
                            "email_address": "acharleston@email.com",
                            "address": {
                              "street": "123 Main St.",
                              "city": "San Francisco",
                              "region": "CA",
                              "postal_code": "94053",
                              "country": "US"
                            }
                          },
                          "amount": "12.34",
                          "network": "ach",
                          "iso_currency_code": "USD",
                          "origination_account_id": "",
                          "originator_client_id": null,
                          "credit_funds_source": "sweep"
                        }
                      },
                      "request_id": "saKrIBuEB9qJZno"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/transfer/authorization/create` endpoint to authorize a transfer. This endpoint must be called prior to calling `/transfer/create`. The transfer authorization will expire if not used after one hour. (You can contact your account manager to change the default authorization lifetime.)\n\nThere are four possible outcomes to calling this endpoint:\n\n  - If the `authorization.decision` in the response is `declined`, the proposed transfer has failed the risk check and you cannot proceed with the transfer.\n\n  - If the `authorization.decision` is `user_action_required`, additional user input is needed, usually to fix a broken bank connection, before Plaid can properly assess the risk. You need to launch Link in update mode to complete the required user action. When calling `/link/token/create` to get a new Link token, instead of providing `access_token` in the request, you should set [`transfer.authorization_id`](https://plaid.com/docs/api/link/#link-token-create-request-transfer-authorization-id) as the `authorization.id`. After the Link flow is completed, you may re-attempt the authorization.\n\n  - If the `authorization.decision` is `approved`, and the `authorization.rationale_code` is `null`, the transfer has passed the risk check and you can proceed to call `/transfer/create`.\n\n  - If the `authorization.decision` is `approved` and the `authorization.rationale_code` is non-`null`, the risk check could not be run: you may proceed with the transfer, but should perform your own risk evaluation. For more details, see the response schema.\n\nIn Plaid's Sandbox environment the decisions will be returned as follows:\n\n  - To approve a transfer with `null` rationale code, make an authorization request with an `amount` less than the available balance in the account.\n\n  - To approve a transfer with the rationale code `MANUALLY_VERIFIED_ITEM`, create an Item in Link through the [Same Day Micro-deposits flow](https://plaid.com/docs/auth/coverage/testing/#testing-same-day-micro-deposits).\n\n  - To get an authorization decision of `user_action_required`, [reset the login for an Item](https://plaid.com/docs/sandbox/#item_login_required).\n\n  - To decline a transfer with the rationale code `NSF`, the available balance on the account must be less than the authorization `amount`. See [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for details on how to customize data in Sandbox.\n\n  - To decline a transfer with the rationale code `RISK`, the available balance on the account must be exactly $0. See [Create Sandbox test data](https://plaid.com/docs/sandbox/user-custom/) for details on how to customize data in Sandbox.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "TransferAuthorizationCreateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "description": "The Plaid `access_token` for the account that will be debited or credited.",
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The Plaid `account_id` corresponding to the end-user account that will be debited or credited."
                  },
                  "funding_account_id": {
                    "type": "string",
                    "description": "Specify the account used to fund the transfer. Should be specified if using legacy funding methods only. If using Plaid Ledger, leave this field blank. Customers can find a list of `funding_account_id`s in the Accounts page of your Plaid Dashboard, under the \"Account ID\" column. If this field is left blank and you are using legacy funding methods, this will default to the default `funding_account_id` specified during onboarding. Otherwise, Plaid Ledger will be used.",
                    "nullable": true,
                    "x-hidden-from-docs": true
                  },
                  "ledger_id": {
                    "type": "string",
                    "description": "Specify which ledger balance should be used to fund the transfer. You can find a list of `ledger_id`s in the Accounts page of your Plaid Dashboard. If this field is left blank, this will default to id of the default ledger balance.",
                    "nullable": true
                  },
                  "payment_profile_token": {
                    "description": "The payment profile token associated with the Payment Profile that will be debited or credited. Required if not using `access_token`.",
                    "type": "string",
                    "x-hidden-from-docs": true
                  },
                  "type": {
                    "type": "string",
                    "title": "TransferType",
                    "description": "The type of transfer. This will be either `debit` or `credit`.  A `debit` indicates a transfer of money into the origination account; a `credit` indicates a transfer of money out of the origination account.",
                    "enum": [
                      "debit",
                      "credit"
                    ]
                  },
                  "network": {
                    "type": "string",
                    "title": "TransferNetwork",
                    "description": "The network or rails used for the transfer.\n\nFor transfers submitted as `ach` or `same-day-ach`, the Standard ACH cutoff is 8:30 PM Eastern Time.\n\nFor transfers submitted as `same-day-ach`, the Same Day ACH cutoff is 3:30 PM Eastern Time.  It is recommended to send the request 15 minutes prior to the cutoff to ensure that it will be processed in time for submission before the cutoff. If the transfer is processed after this cutoff but before the Standard ACH cutoff, it will be sent over Standard ACH rails and will not incur same-day charges; this will apply to both legs of the transfer if applicable. The transaction limit for a Same Day ACH transfer is $1,000,000. Authorization requests sent with an amount greater than $1,000,000 will fail.\n\nFor transfers submitted as `rtp`,  Plaid will automatically route between Real Time Payment rail by TCH or FedNow rails as necessary. If a transfer is submitted as `rtp` and the counterparty account is not eligible for RTP, the `/transfer/authorization/create` request will fail with an `INVALID_FIELD` error code. To pre-check to determine whether a counterparty account can support RTP, call `/transfer/capabilities/get` before calling `/transfer/authorization/create`.\n\nWire transfers are currently in early availability. To request access to `wire` as a payment network, contact your Account Manager. For transfers submitted as `wire`, the `type` must be `credit`; wire debits are not supported. The cutoff to submit a wire payment is 6:30 PM Eastern Time on a business day; wires submitted after that time will be processed on the next business day. The transaction limit for a wire is $999,999.99. Authorization requests sent with an amount greater than $999,999.99 will fail.",
                    "enum": [
                      "ach",
                      "same-day-ach",
                      "rtp",
                      "wire"
                    ]
                  },
                  "amount": {
                    "title": "TransferAmount",
                    "type": "string",
                    "description": "The amount of the transfer (decimal string with two digits of precision e.g. \"10.00\"). When calling `/transfer/authorization/create`, specify the maximum amount to authorize. When calling `/transfer/create`, specify the exact amount of the transfer, up to a maximum of the amount authorized. If this field is left blank when calling `/transfer/create`, the maximum amount authorized in the `authorization_id` will be sent."
                  },
                  "ach_class": {
                    "type": "string",
                    "title": "ACHClass",
                    "enum": [
                      "ccd",
                      "ppd",
                      "tel",
                      "web"
                    ],
                    "description": "Specifies the use case of the transfer. Required for transfers on an ACH network. For more details, see [ACH SEC codes](https://plaid.com/docs/transfer/creating-transfers/#ach-sec-codes).\n\nCodes supported for credits: `ccd`, `ppd`\nCodes supported for debits: `ccd`, `tel`, `web`\n\n`\"ccd\"` - Corporate Credit or Debit - fund transfer between two corporate bank accounts\n\n`\"ppd\"` - Prearranged Payment or Deposit - The transfer is part of a pre-existing relationship with a consumer. Authorization was obtained in writing either in person or via an electronic document signing, e.g. Docusign, by the consumer. Can be used for credits or debits.\n\n`\"web\"` - Internet-Initiated Entry. The transfer debits a consumer’s bank account. Authorization from the consumer is obtained over the Internet (e.g. a web or mobile application). Can be used for single debits or recurring debits.\n\n`\"tel\"` - Telephone-Initiated Entry. The transfer debits a consumer. Debit authorization has been received orally over the telephone via a recorded call."
                  },
                  "wire_details": {
                    "title": "TransferWireDetails",
                    "type": "object",
                    "nullable": true,
                    "description": "Information specific to wire transfers.",
                    "properties": {
                      "message_to_beneficiary": {
                        "type": "string",
                        "nullable": true,
                        "description": "Additional information from the wire originator to the beneficiary. Max 140 characters."
                      },
                      "wire_return_fee": {
                        "type": "string",
                        "nullable": true,
                        "description": "The fee amount deducted from the original transfer during a wire return, if applicable."
                      }
                    }
                  },
                  "user": {
                    "title": "TransferAuthorizationUserInRequest",
                    "type": "object",
                    "description": "The legal name and other information for the account holder.  If the account has multiple account holders, provide the information for the account holder on whose behalf the authorization is being requested. The `user.legal_name` field is required. Other fields are not currently used and are present to support planned future functionality.",
                    "properties": {
                      "legal_name": {
                        "type": "string",
                        "description": "The user's legal name. If the user is a business, provide the business name."
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "The user's phone number."
                      },
                      "email_address": {
                        "type": "string",
                        "description": "The user's email address."
                      },
                      "address": {
                        "title": "TransferUserAddressInRequest",
                        "type": "object",
                        "description": "The address associated with the account holder.",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "The street number and name (i.e., \"100 Market St.\")."
                          },
                          "city": {
                            "type": "string",
                            "description": "Ex. \"San Francisco\""
                          },
                          "region": {
                            "type": "string",
                            "description": "The state or province (e.g., \"CA\")."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code (e.g., \"94103\")."
                          },
                          "country": {
                            "type": "string",
                            "description": "A two-letter country code (e.g., \"US\")."
                          }
                        }
                      }
                    },
                    "required": [
                      "legal_name"
                    ]
                  },
                  "device": {
                    "title": "TransferAuthorizationDevice",
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Information about the device being used to initiate the authorization. These fields are not currently incorporated into the risk check.",
                    "properties": {
                      "ip_address": {
                        "type": "string",
                        "description": "The IP address of the device being used to initiate the authorization."
                      },
                      "user_agent": {
                        "type": "string",
                        "description": "The user agent of the device being used to initiate the authorization."
                      }
                    }
                  },
                  "origination_account_id": {
                    "type": "string",
                    "description": "Plaid's unique identifier for the origination account for this authorization. If not specified, the default account will be used.",
                    "deprecated": true,
                    "x-hidden-from-docs": true
                  },
                  "iso_currency_code": {
                    "type": "string",
                    "description": "The currency of the transfer amount. The default value is \"USD\"."
                  },
                  "idempotency_key": {
                    "title": "TransferAuthorizationIdempotencyKey",
                    "type": "string",
                    "nullable": true,
                    "maxLength": 50,
                    "description": "A random key provided by the client, per unique authorization, which expires after 48 hours. Maximum of 50 characters.\n\nThe API supports idempotency for safely retrying requests without accidentally performing the same operation twice. For example, if a request to create an authorization fails due to a network connection error, you can retry the request with the same idempotency key to guarantee that only a single authorization is created.\n\nIdempotency does not apply to authorizations whose decisions are `user_action_required`. Therefore you may re-attempt the authorization after completing the required user action without changing `idempotency_key`.\n\nThis idempotency key expires after 48 hours, after which the same key can be reused. Failure to provide this key may result in duplicate charges."
                  },
                  "user_present": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "If the end user is initiating the specific transfer themselves via an interactive UI, this should be `true`; for automatic recurring payments where the end user is not actually initiating each individual transfer, it should be `false`. This field is not currently used and is present to support planned future functionality."
                  },
                  "with_guarantee": {
                    "type": "boolean",
                    "nullable": true,
                    "default": true,
                    "x-hidden-from-docs": true,
                    "description": "If set to `false`, Plaid will not offer a `guarantee_decision` for this request (Guarantee customers only)."
                  },
                  "beacon_session_id": {
                    "x-hidden-from-docs": true,
                    "type": "string",
                    "nullable": true,
                    "description": "The unique identifier returned by Plaid's [beacon](https://plaid.com/docs/transfer/guarantee/#using-a-beacon) when it is run on your webpage."
                  },
                  "originator_client_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "The Plaid client ID that is the originator of this transfer. Only needed if creating transfers on behalf of another client as a [Platform customer](https://plaid.com/docs/transfer/application/#originators-vs-platforms)."
                  },
                  "credit_funds_source": {
                    "x-hidden-from-docs": true,
                    "deprecated": true,
                    "allOf": [
                      {
                        "type": "string",
                        "title": "TransferCreditFundsSource",
                        "nullable": true,
                        "enum": [
                          "sweep",
                          "prefunded_rtp_credits",
                          "prefunded_ach_credits",
                          null
                        ],
                        "description": "This field is now deprecated. You may ignore it for transfers created on and after 12/01/2023.\n\nSpecifies the source of funds for the transfer. Only valid for `credit` transfers, and defaults to `sweep` if not specified. This field is not specified for `debit` transfers.\n\n`sweep` - Sweep funds from your funding account\n`prefunded_rtp_credits` - Use your prefunded RTP credit balance with Plaid\n`prefunded_ach_credits` - Use your prefunded ACH credit balance with Plaid"
                      }
                    ]
                  },
                  "test_clock_id": {
                    "type": "string",
                    "description": "Plaid’s unique identifier for a test clock. This field may only be used when using `sandbox` environment. If provided, the `authorization` is created at the `virtual_time` on the provided test clock.",
                    "nullable": true
                  },
                  "ruleset_key": {
                    "type": "string",
                    "description": "The key of the Ruleset for the transaction. This feature is currently in closed beta; to request access, contact your account manager.",
                    "nullable": true
                  }
                },
                "required": [
                  "type",
                  "network",
                  "amount",
                  "user",
                  "access_token",
                  "account_id"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/transfer/authorization/create"
          }
        }
      }
    },
    "/transfer/authorization/cancel": {
      "post": {
        "summary": "Cancel a transfer authorization",
        "tags": [
          "Initiating Transfers"
        ],
        "externalDocs": {
          "url": "/api/products/transfer/initiating-transfers/#transferauthorizationcancel"
        },
        "operationId": "transferAuthorizationCancel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TransferAuthorizationCancelResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "saKrIBuEB9qJZno"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/transfer/authorization/cancel` endpoint to cancel a transfer authorization. A transfer authorization is eligible for cancellation if it has not yet been used to create a transfer.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "TransferAuthorizationCancelRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "authorization_id": {
                    "type": "string",
                    "title": "TransferAuthorizationID",
                    "description": "Plaid’s unique identifier for a transfer authorization."
                  }
                },
                "required": [
                  "authorization_id"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/transfer/authorization/cancel"
          }
        }
      }
    },
    "/transfer/create": {
      "post": {
        "summary": "Create a transfer",
        "tags": [
          "Initiating Transfers"
        ],
        "externalDocs": {
          "url": "/api/products/transfer/initiating-transfers/#transfercreate"
        },
        "operationId": "transferCreate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TransferCreateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "transfer": {
                      "title": "Transfer",
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Represents a transfer within the Transfers API.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "title": "TransferID",
                          "description": "Plaid’s unique identifier for a transfer."
                        },
                        "authorization_id": {
                          "type": "string",
                          "title": "TransferAuthorizationID",
                          "description": "Plaid’s unique identifier for a transfer authorization."
                        },
                        "ach_class": {
                          "type": "string",
                          "title": "ACHClass",
                          "enum": [
                            "ccd",
                            "ppd",
                            "tel",
                            "web"
                          ],
                          "description": "Specifies the use case of the transfer. Required for transfers on an ACH network. For more details, see [ACH SEC codes](https://plaid.com/docs/transfer/creating-transfers/#ach-sec-codes).\n\nCodes supported for credits: `ccd`, `ppd`\nCodes supported for debits: `ccd`, `tel`, `web`\n\n`\"ccd\"` - Corporate Credit or Debit - fund transfer between two corporate bank accounts\n\n`\"ppd\"` - Prearranged Payment or Deposit - The transfer is part of a pre-existing relationship with a consumer. Authorization was obtained in writing either in person or via an electronic document signing, e.g. Docusign, by the consumer. Can be used for credits or debits.\n\n`\"web\"` - Internet-Initiated Entry. The transfer debits a consumer’s bank account. Authorization from the consumer is obtained over the Internet (e.g. a web or mobile application). Can be used for single debits or recurring debits.\n\n`\"tel\"` - Telephone-Initiated Entry. The transfer debits a consumer. Debit authorization has been received orally over the telephone via a recorded call."
                        },
                        "account_id": {
                          "type": "string",
                          "description": "The Plaid `account_id` corresponding to the end-user account that will be debited or credited."
                        },
                        "funding_account_id": {
                          "type": "string",
                          "description": "The id of the associated funding account, available in the Plaid Dashboard. If present, this indicates which of your business checking accounts will be credited or debited.",
                          "nullable": true
                        },
                        "ledger_id": {
                          "type": "string",
                          "title": "TransferLedgerID",
                          "description": "Plaid’s unique identifier for a Plaid Ledger Balance.",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "title": "TransferType",
                          "description": "The type of transfer. This will be either `debit` or `credit`.  A `debit` indicates a transfer of money into the origination account; a `credit` indicates a transfer of money out of the origination account.",
                          "enum": [
                            "debit",
                            "credit"
                          ]
                        },
                        "user": {
                          "title": "TransferUserInResponse",
                          "type": "object",
                          "additionalProperties": true,
                          "description": "The legal name and other information for the account holder.",
                          "properties": {
                            "legal_name": {
                              "type": "string",
                              "description": "The user's legal name."
                            },
                            "phone_number": {
                              "type": "string",
                              "description": "The user's phone number.",
                              "nullable": true
                            },
                            "email_address": {
                              "type": "string",
                              "description": "The user's email address.",
                              "nullable": true
                            },
                            "address": {
                              "title": "TransferUserAddressInResponse",
                              "type": "object",
                              "nullable": true,
                              "additionalProperties": true,
                              "description": "The address associated with the account holder.",
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "description": "The street number and name (i.e., \"100 Market St.\").",
                                  "nullable": true
                                },
                                "city": {
                                  "type": "string",
                                  "description": "Ex. \"San Francisco\"",
                                  "nullable": true
                                },
                                "region": {
                                  "type": "string",
                                  "description": "The state or province (e.g., \"CA\").",
                                  "nullable": true
                                },
                                "postal_code": {
                                  "type": "string",
                                  "description": "The postal code (e.g., \"94103\").",
                                  "nullable": true
                                },
                                "country": {
                                  "type": "string",
                                  "description": "A two-letter country code (e.g., \"US\").",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "street",
                                "city",
                                "region",
                                "postal_code",
                                "country"
                              ]
                            }
                          },
                          "required": [
                            "legal_name",
                            "phone_number",
                            "email_address",
                            "address"
                          ]
                        },
                        "amount": {
                          "title": "TransferAmount",
                          "type": "string",
                          "description": "The amount of the transfer (decimal string with two digits of precision e.g. \"10.00\"). When calling `/transfer/authorization/create`, specify the maximum amount to authorize. When calling `/transfer/create`, specify the exact amount of the transfer, up to a maximum of the amount authorized. If this field is left blank when calling `/transfer/create`, the maximum amount authorized in the `authorization_id` will be sent."
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the transfer."
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The datetime when this transfer was created. This will be of the form `2006-01-02T15:04:05Z`"
                        },
                        "status": {
                          "type": "string",
                          "title": "TransferStatus",
                          "description": "The status of the transfer.\n\n`pending`: A new transfer was created; it is in the pending state.\n`posted`: The transfer has been successfully submitted to the payment network.\n`settled`: The transfer was successfully completed by the payment network. Note that funds from received debits are not available to be moved out of the Ledger until the transfer reaches `funds_available` status. For credit transactions, `settled` means the funds have been delivered to the receiving bank account. This is the terminal state of a successful credit transfer.\n`funds_available`: Funds from the transfer have been released from hold and applied to the ledger's available balance. (Only applicable to ACH debits.) This is the terminal state of a successful debit transfer.\n`cancelled`: The transfer was cancelled by the client. This is the terminal state of a cancelled transfer.\n`failed`: The transfer failed, no funds were moved. This is the terminal state of a failed transfer.\n`returned`: A posted transfer was returned. This is the terminal state of a returned transfer.",
                          "enum": [
                            "pending",
                            "posted",
                            "settled",
                            "funds_available",
                            "cancelled",
                            "failed",
                            "returned"
                          ]
                        },
                        "sweep_status": {
                          "type": "string",
                          "nullable": true,
                          "title": "TransferSweepStatus",
                          "description": "The status of the sweep for the transfer.\n\n`unswept`: The transfer hasn't been swept yet.\n`swept`: The transfer was swept to the sweep account.\n`swept_settled`: Credits are available to be withdrawn or debits have been deducted from the customer’s business checking account.\n`return_swept`: The transfer was returned, funds were pulled back or pushed back to the sweep account.\n`null`: The transfer will never be swept (e.g. if the transfer is cancelled or returned before being swept)",
                          "enum": [
                            null,
                            "unswept",
                            "swept",
                            "swept_settled",
                            "return_swept"
                          ]
                        },
                        "network": {
                          "type": "string",
                          "title": "TransferNetwork",
                          "description": "The network or rails used for the transfer.\n\nFor transfers submitted as `ach` or `same-day-ach`, the Standard ACH cutoff is 8:30 PM Eastern Time.\n\nFor transfers submitted as `same-day-ach`, the Same Day ACH cutoff is 3:30 PM Eastern Time.  It is recommended to send the request 15 minutes prior to the cutoff to ensure that it will be processed in time for submission before the cutoff. If the transfer is processed after this cutoff but before the Standard ACH cutoff, it will be sent over Standard ACH rails and will not incur same-day charges; this will apply to both legs of the transfer if applicable. The transaction limit for a Same Day ACH transfer is $1,000,000. Authorization requests sent with an amount greater than $1,000,000 will fail.\n\nFor transfers submitted as `rtp`,  Plaid will automatically route between Real Time Payment rail by TCH or FedNow rails as necessary. If a transfer is submitted as `rtp` and the counterparty account is not eligible for RTP, the `/transfer/authorization/create` request will fail with an `INVALID_FIELD` error code. To pre-check to determine whether a counterparty account can support RTP, call `/transfer/capabilities/get` before calling `/transfer/authorization/create`.\n\nWire transfers are currently in early availability. To request access to `wire` as a payment network, contact your Account Manager. For transfers submitted as `wire`, the `type` must be `credit`; wire debits are not supported. The cutoff to submit a wire payment is 6:30 PM Eastern Time on a business day; wires submitted after that time will be processed on the next business day. The transaction limit for a wire is $999,999.99. Authorization requests sent with an amount greater than $999,999.99 will fail.",
                          "enum": [
                            "ach",
                            "same-day-ach",
                            "rtp",
                            "wire"
                          ]
                        },
                        "wire_details": {
                          "title": "TransferWireDetails",
                          "type": "object",
                          "nullable": true,
                          "description": "Information specific to wire transfers.",
                          "properties": {
                            "message_to_beneficiary": {
                              "type": "string",
                              "nullable": true,
                              "description": "Additional information from the wire originator to the beneficiary. Max 140 characters."
                            },
                            "wire_return_fee": {
                              "type": "string",
                              "nullable": true,
                              "description": "The fee amount deducted from the original transfer during a wire return, if applicable."
                            }
                          }
                        },
                        "cancellable": {
                          "type": "boolean",
                          "description": "When `true`, you can still cancel this transfer."
                        },
                        "failure_reason": {
                          "title": "TransferFailure",
                          "type": "object",
                          "additionalProperties": true,
                          "nullable": true,
                          "description": "The failure reason if the event type for a transfer is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                          "properties": {
                            "failure_code": {
                              "type": "string",
                              "nullable": true,
                              "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the transfer status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                            },
                            "ach_return_code": {
                              "deprecated": true,
                              "type": "string",
                              "nullable": true,
                              "description": "The ACH return code, e.g. `R01`.  A return code will be provided if and only if the transfer status is `returned`. For a full listing of ACH return codes, see [Transfer errors](https://plaid.com/docs/errors/transfer/#ach-return-codes)."
                            },
                            "description": {
                              "type": "string",
                              "description": "A human-readable description of the reason for the failure or reversal."
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "title": "TransferMetadata",
                          "nullable": true,
                          "maxProperties": 50,
                          "description": "The Metadata object is a mapping of client-provided string fields to any string value. The following limitations apply:\nThe JSON values must be Strings (no nested JSON objects allowed)\nOnly ASCII characters may be used\nMaximum of 50 key/value pairs\nMaximum key length of 40 characters\nMaximum value length of 500 characters\n"
                        },
                        "origination_account_id": {
                          "type": "string",
                          "description": "Plaid’s unique identifier for the origination account that was used for this transfer.",
                          "deprecated": true,
                          "x-hidden-from-docs": true
                        },
                        "guarantee_decision": {
                          "type": "string",
                          "nullable": true,
                          "x-hidden-from-docs": true,
                          "description": "Indicates whether the transfer is guaranteed by Plaid (Guarantee customers only). This field will contain either `GUARANTEED` or `NOT_GUARANTEED` indicating whether Plaid will guarantee the transfer. If the transfer is not guaranteed, additional information will be provided in the `guarantee_decision_rationale` field. Refer to the `code` field in `guarantee_decision_rationale` for details.",
                          "enum": [
                            "GUARANTEED",
                            "NOT_GUARANTEED",
                            null
                          ]
                        },
                        "guarantee_decision_rationale": {
                          "title": "TransferAuthorizationGuaranteeDecisionRationale",
                          "type": "object",
                          "nullable": true,
                          "additionalProperties": true,
                          "x-hidden-from-docs": true,
                          "description": "The rationale for Plaid's decision to not guarantee a transfer. Will be `null` unless `guarantee_decision` is `NOT_GUARANTEED`.",
                          "properties": {
                            "code": {
                              "type": "string",
                              "x-hidden-from-docs": true,
                              "description": "A code representing the reason Plaid declined to guarantee this transfer:\n\n`RETURN_BANK`: The risk of a bank-initiated return (for example, an R01/NSF) is too high to guarantee this transfer.\n\n`RETURN_CUSTOMER`: The risk of a customer-initiated return (for example, a R10/Unauthorized) is too high to guarantee this transfer.\n\n`GUARANTEE_LIMIT_REACHED`: This transfer is low-risk, but Guarantee has exhausted an internal limit on the number or rate of guarantees that applies to this transfer.\n\n`RISK_ESTIMATE_UNAVAILABLE`: A risk estimate is unavailable for this Item.\n\n`REQUIRED_PARAM_MISSING`: Required fields are missing.",
                              "enum": [
                                "RETURN_BANK",
                                "RETURN_CUSTOMER",
                                "GUARANTEE_LIMIT_REACHED",
                                "RISK_ESTIMATE_UNAVAILABLE",
                                "REQUIRED_PARAM_MISSING"
                              ]
                            },
                            "description": {
                              "type": "string",
                              "description": "A human-readable description of why the transfer cannot be guaranteed."
                            }
                          },
                          "required": [
                            "code",
                            "description"
                          ]
                        },
                        "iso_currency_code": {
                          "type": "string",
                          "description": "The currency of the transfer amount, e.g. \"USD\""
                        },
                        "standard_return_window": {
                          "type": "string",
                          "description": "The date 3 business days from settlement date indicating the following ACH returns can no longer happen: R01, R02, R03, R29. This will be of the form YYYY-MM-DD.",
                          "format": "date",
                          "nullable": true
                        },
                        "unauthorized_return_window": {
                          "type": "string",
                          "description": "The date 61 business days from settlement date indicating the following ACH returns can no longer happen: R05, R07, R10, R11, R51, R33, R37, R38, R51, R52, R53. This will be of the form YYYY-MM-DD.",
                          "format": "date",
                          "nullable": true
                        },
                        "expected_settlement_date": {
                          "type": "string",
                          "description": "Deprecated for Plaid Ledger clients, use `expected_funds_available_date` instead.",
                          "format": "date",
                          "nullable": true,
                          "deprecated": true
                        },
                        "expected_funds_available_date": {
                          "type": "string",
                          "description": "The expected date when funds from a transfer will be made available and can be withdrawn from the associated ledger balance, assuming the debit does not return before this date. If the transfer does return before this date, this field will be null. Only applies to debit transfers. This will be of the form YYYY-MM-DD.",
                          "format": "date",
                          "nullable": true
                        },
                        "originator_client_id": {
                          "type": "string",
                          "nullable": true,
                          "description": "The Plaid client ID that is the originator of this transfer. Only present if created on behalf of another client as a [Platform customer](https://plaid.com/docs/transfer/application/#originators-vs-platforms)."
                        },
                        "refunds": {
                          "type": "array",
                          "description": "A list of refunds associated with this transfer.",
                          "items": {
                            "title": "TransferRefund",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Represents a refund within the Transfers API.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "TransferRefundID",
                                "description": "Plaid’s unique identifier for a refund."
                              },
                              "transfer_id": {
                                "type": "string",
                                "title": "TransferID",
                                "description": "The ID of the transfer to refund."
                              },
                              "amount": {
                                "title": "TransferRefundAmount",
                                "type": "string",
                                "description": "The amount of the refund (decimal string with two digits of precision e.g. \"10.00\")."
                              },
                              "status": {
                                "type": "string",
                                "title": "TransferRefundStatus",
                                "description": "The status of the refund.\n\n`pending`: A new refund was created; it is in the pending state.\n`posted`: The refund has been successfully submitted to the payment network.\n`settled`: Credits have been refunded to the Plaid linked account.\n`cancelled`: The refund was cancelled by the client.\n`failed`: The refund has failed.\n`returned`: The refund was returned.",
                                "enum": [
                                  "pending",
                                  "posted",
                                  "cancelled",
                                  "failed",
                                  "settled",
                                  "returned"
                                ]
                              },
                              "failure_reason": {
                                "title": "TransferRefundFailure",
                                "type": "object",
                                "additionalProperties": true,
                                "nullable": true,
                                "description": "The failure reason if the event type for a refund is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                                "properties": {
                                  "failure_code": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the refund status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                                  },
                                  "ach_return_code": {
                                    "deprecated": true,
                                    "type": "string",
                                    "nullable": true,
                                    "description": "The ACH return code, e.g. `R01`.  A return code will be provided if and only if the refund status is `returned`. For a full listing of ACH return codes, see [Transfer errors](https://plaid.com/docs/errors/transfer/#ach-return-codes). This field is deprecated in favor of the more versatile `failure_code`, which encompasses non-ACH failure codes as well."
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "A human-readable description of the reason for the failure or reversal."
                                  }
                                }
                              },
                              "ledger_id": {
                                "type": "string",
                                "title": "TransferLedgerID",
                                "description": "Plaid’s unique identifier for a Plaid Ledger Balance.",
                                "nullable": true
                              },
                              "created": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The datetime when this refund was created. This will be of the form `2006-01-02T15:04:05Z`"
                              },
                              "network_trace_id": {
                                "title": "TransferNetworkTraceID",
                                "type": "string",
                                "description": "The trace identifier for the transfer based on its network. This will only be set after the transfer has posted.\n\nFor `ach` or `same-day-ach` transfers, this is the ACH trace number.\nFor `rtp` transfers, this is the Transaction Identification number.\nFor `wire` transfers, this is the IMAD (Input Message Accountability Data) number.",
                                "nullable": true
                              }
                            },
                            "required": [
                              "id",
                              "transfer_id",
                              "amount",
                              "status",
                              "created",
                              "failure_reason"
                            ]
                          }
                        },
                        "recurring_transfer_id": {
                          "type": "string",
                          "description": "The id of the recurring transfer if this transfer belongs to a recurring transfer.",
                          "nullable": true
                        },
                        "expected_sweep_settlement_schedule": {
                          "type": "array",
                          "description": "The expected sweep settlement schedule of this transfer, assuming this transfer is not `returned`. Only applies to ACH debit transfers.",
                          "items": {
                            "title": "TransferExpectedSweepSettlementScheduleItem",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "Defines an expected sweep date and amount.",
                            "properties": {
                              "sweep_settlement_date": {
                                "type": "string",
                                "description": "The settlement date of a sweep for this transfer.",
                                "format": "date"
                              },
                              "swept_settled_amount": {
                                "type": "string",
                                "description": "The accumulated amount that has been swept by `sweep_settlement_date`."
                              }
                            },
                            "required": [
                              "sweep_settlement_date",
                              "swept_settled_amount"
                            ]
                          }
                        },
                        "credit_funds_source": {
                          "deprecated": true,
                          "allOf": [
                            {
                              "type": "string",
                              "title": "TransferCreditFundsSource",
                              "nullable": true,
                              "enum": [
                                "sweep",
                                "prefunded_rtp_credits",
                                "prefunded_ach_credits",
                                null
                              ],
                              "description": "This field is now deprecated. You may ignore it for transfers created on and after 12/01/2023.\n\nSpecifies the source of funds for the transfer. Only valid for `credit` transfers, and defaults to `sweep` if not specified. This field is not specified for `debit` transfers.\n\n`sweep` - Sweep funds from your funding account\n`prefunded_rtp_credits` - Use your prefunded RTP credit balance with Plaid\n`prefunded_ach_credits` - Use your prefunded ACH credit balance with Plaid"
                            }
                          ]
                        },
                        "facilitator_fee": {
                          "title": "TransferFacilitatorFee",
                          "type": "string",
                          "description": "The amount to deduct from `transfer.amount` and distribute to the platform’s Ledger balance as a facilitator fee (decimal string with two digits of precision e.g. \"10.00\"). The remainder will go to the end-customer’s Ledger balance. This must be value greater than 0 and less than or equal to the `transfer.amount`."
                        },
                        "network_trace_id": {
                          "title": "TransferNetworkTraceID",
                          "type": "string",
                          "description": "The trace identifier for the transfer based on its network. This will only be set after the transfer has posted.\n\nFor `ach` or `same-day-ach` transfers, this is the ACH trace number.\nFor `rtp` transfers, this is the Transaction Identification number.\nFor `wire` transfers, this is the IMAD (Input Message Accountability Data) number.",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "authorization_id",
                        "type",
                        "user",
                        "amount",
                        "description",
                        "created",
                        "status",
                        "network",
                        "cancellable",
                        "failure_reason",
                        "metadata",
                        "origination_account_id",
                        "guarantee_decision",
                        "guarantee_decision_rationale",
                        "iso_currency_code",
                        "standard_return_window",
                        "unauthorized_return_window",
                        "expected_settlement_date",
                        "originator_client_id",
                        "refunds",
                        "recurring_transfer_id",
                        "funding_account_id",
                        "credit_funds_source"
                      ]
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "transfer",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "transfer": {
                        "id": "460cbe92-2dcc-8eae-5ad6-b37d0ec90fd9",
                        "authorization_id": "c9f90aa1-2949-c799-e2b6-ea05c89bb586",
                        "ach_class": "ppd",
                        "account_id": "3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr",
                        "funding_account_id": "8945fedc-e703-463d-86b1-dc0607b55460",
                        "ledger_id": "563db5f8-4c95-4e17-8c3e-cb988fb9cf1a",
                        "type": "credit",
                        "user": {
                          "legal_name": "Anne Charleston",
                          "phone_number": "510-555-0128",
                          "email_address": "acharleston@email.com",
                          "address": {
                            "street": "123 Main St.",
                            "city": "San Francisco",
                            "region": "CA",
                            "postal_code": "94053",
                            "country": "US"
                          }
                        },
                        "amount": "12.34",
                        "description": "payment",
                        "created": "2020-08-06T17:27:15Z",
                        "refunds": [],
                        "status": "pending",
                        "network": "ach",
                        "cancellable": true,
                        "guarantee_decision": null,
                        "guarantee_decision_rationale": null,
                        "failure_reason": null,
                        "metadata": {
                          "key1": "value1",
                          "key2": "value2"
                        },
                        "origination_account_id": "",
                        "iso_currency_code": "USD",
                        "standard_return_window": "2023-08-07",
                        "unauthorized_return_window": "2023-10-07",
                        "expected_settlement_date": "2023-08-04",
                        "originator_client_id": "569ed2f36b3a3a021713abc1",
                        "recurring_transfer_id": null,
                        "credit_funds_source": "sweep",
                        "facilitator_fee": "1.23",
                        "network_trace_id": null
                      },
                      "request_id": "saKrIBuEB9qJZno"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/transfer/create` endpoint to initiate a new transfer. This endpoint is retryable and idempotent; if a transfer with the provided `transfer_id` has already been created, it will return the transfer details without creating a new transfer. A transfer may still be created if a 500 error is returned; to detect this scenario, use [Transfer events](https://plaid.com/docs/transfer/reconciling-transfers/).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "TransferCreateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "idempotency_key": {
                    "title": "TransferCreateIdempotencyKey",
                    "type": "string",
                    "deprecated": true,
                    "x-hidden-from-docs": true,
                    "maxLength": 50,
                    "description": "Deprecated. `authorization_id` is now used as idempotency instead.\n\nA random key provided by the client, per unique transfer. Maximum of 50 characters.\n\nThe API supports idempotency for safely retrying requests without accidentally performing the same operation twice. For example, if a request to create a transfer fails due to a network connection error, you can retry the request with the same idempotency key to guarantee that only a single transfer is created."
                  },
                  "access_token": {
                    "description": "The Plaid `access_token` for the account that will be debited or credited.",
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The Plaid `account_id` corresponding to the end-user account that will be debited or credited."
                  },
                  "authorization_id": {
                    "type": "string",
                    "description": "Plaid’s unique identifier for a transfer authorization. This parameter also serves the purpose of acting as an idempotency identifier."
                  },
                  "type": {
                    "x-hidden-from-docs": true,
                    "deprecated": true,
                    "allOf": [
                      {
                        "type": "string",
                        "title": "TransferType",
                        "description": "The type of transfer. This will be either `debit` or `credit`.  A `debit` indicates a transfer of money into the origination account; a `credit` indicates a transfer of money out of the origination account.",
                        "enum": [
                          "debit",
                          "credit"
                        ]
                      }
                    ]
                  },
                  "network": {
                    "x-hidden-from-docs": true,
                    "deprecated": true,
                    "allOf": [
                      {
                        "type": "string",
                        "title": "TransferNetwork",
                        "description": "The network or rails used for the transfer.\n\nFor transfers submitted as `ach` or `same-day-ach`, the Standard ACH cutoff is 8:30 PM Eastern Time.\n\nFor transfers submitted as `same-day-ach`, the Same Day ACH cutoff is 3:30 PM Eastern Time.  It is recommended to send the request 15 minutes prior to the cutoff to ensure that it will be processed in time for submission before the cutoff. If the transfer is processed after this cutoff but before the Standard ACH cutoff, it will be sent over Standard ACH rails and will not incur same-day charges; this will apply to both legs of the transfer if applicable. The transaction limit for a Same Day ACH transfer is $1,000,000. Authorization requests sent with an amount greater than $1,000,000 will fail.\n\nFor transfers submitted as `rtp`,  Plaid will automatically route between Real Time Payment rail by TCH or FedNow rails as necessary. If a transfer is submitted as `rtp` and the counterparty account is not eligible for RTP, the `/transfer/authorization/create` request will fail with an `INVALID_FIELD` error code. To pre-check to determine whether a counterparty account can support RTP, call `/transfer/capabilities/get` before calling `/transfer/authorization/create`.\n\nWire transfers are currently in early availability. To request access to `wire` as a payment network, contact your Account Manager. For transfers submitted as `wire`, the `type` must be `credit`; wire debits are not supported. The cutoff to submit a wire payment is 6:30 PM Eastern Time on a business day; wires submitted after that time will be processed on the next business day. The transaction limit for a wire is $999,999.99. Authorization requests sent with an amount greater than $999,999.99 will fail.",
                        "enum": [
                          "ach",
                          "same-day-ach",
                          "rtp",
                          "wire"
                        ]
                      }
                    ]
                  },
                  "amount": {
                    "title": "TransferAmount",
                    "type": "string",
                    "description": "The amount of the transfer (decimal string with two digits of precision e.g. \"10.00\"). When calling `/transfer/authorization/create`, specify the maximum amount to authorize. When calling `/transfer/create`, specify the exact amount of the transfer, up to a maximum of the amount authorized. If this field is left blank when calling `/transfer/create`, the maximum amount authorized in the `authorization_id` will be sent."
                  },
                  "description": {
                    "type": "string",
                    "description": "The transfer description, maximum of 15 characters (RTP transactions) or 10 characters (ACH transactions). Should represent why the money is moving, not your company name. For recommendations on setting the `description` field to avoid ACH returns, see [Description field recommendations](https://www.plaid.com/docs/transfer/creating-transfers/#description-field-recommendations). \n\nIf reprocessing a returned transfer, the `description` field must be `\"Retry 1\"` or `\"Retry 2\"`. You may retry a transfer up to 2 times, within 180 days of creating the original transfer. Only transfers that were returned with code `R01` or `R09` may be retried.",
                    "maxLength": 15
                  },
                  "ach_class": {
                    "x-hidden-from-docs": true,
                    "deprecated": true,
                    "allOf": [
                      {
                        "type": "string",
                        "title": "ACHClass",
                        "enum": [
                          "ccd",
                          "ppd",
                          "tel",
                          "web"
                        ],
                        "description": "Specifies the use case of the transfer. Required for transfers on an ACH network. For more details, see [ACH SEC codes](https://plaid.com/docs/transfer/creating-transfers/#ach-sec-codes).\n\nCodes supported for credits: `ccd`, `ppd`\nCodes supported for debits: `ccd`, `tel`, `web`\n\n`\"ccd\"` - Corporate Credit or Debit - fund transfer between two corporate bank accounts\n\n`\"ppd\"` - Prearranged Payment or Deposit - The transfer is part of a pre-existing relationship with a consumer. Authorization was obtained in writing either in person or via an electronic document signing, e.g. Docusign, by the consumer. Can be used for credits or debits.\n\n`\"web\"` - Internet-Initiated Entry. The transfer debits a consumer’s bank account. Authorization from the consumer is obtained over the Internet (e.g. a web or mobile application). Can be used for single debits or recurring debits.\n\n`\"tel\"` - Telephone-Initiated Entry. The transfer debits a consumer. Debit authorization has been received orally over the telephone via a recorded call."
                      }
                    ]
                  },
                  "user": {
                    "title": "TransferUserInRequestDeprecated",
                    "type": "object",
                    "description": "The legal name and other information for the account holder.",
[...]
