{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://production.plaid.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.plaid.com"
    }
  ],
  "info": {
    "title": "The Plaid API",
    "version": "2020-09-14_1.666.2",
    "description": "The Plaid REST API. Please see https://plaid.com/docs/api for more details.",
    "contact": {
      "name": "Plaid Developer Team",
      "url": "https://plaid.com"
    },
    "termsOfService": "https://plaid.com/legal/"
  },
  "tags": [
    {
      "name": "plaid",
      "description": "The Plaid API"
    }
  ],
  "security": [
    {
      "clientId": [],
      "secret": [],
      "plaidVersion": []
    }
  ],
  "paths": {
    "/sandbox/public_token/create": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Create a test Item",
        "externalDocs": {
          "url": "/api/sandbox/#sandboxpublic_tokencreate"
        },
        "operationId": "sandboxPublicTokenCreate",
        "description": "Use the `/sandbox/public_token/create` endpoint to create a valid `public_token`  for an arbitrary institution ID, initial products, and test credentials. The created `public_token` maps to a new Sandbox Item. You can then call `/item/public_token/exchange` to exchange the `public_token` for an `access_token` and perform all API actions. `/sandbox/public_token/create` can also be used with the [`user_custom` test username](https://plaid.com/docs/sandbox/user-custom) to generate a test account with custom data, or with Plaid's [pre-populated Sandbox test accounts](https://plaid.com/docs/sandbox/test-credentials/).",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "public_token": {
                      "type": "string",
                      "description": "A public token that can be exchanged for an access token using `/item/public_token/exchange`"
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "public_token",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "public_token": "public-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d",
                      "request_id": "Aim3b"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "institution_id": {
                    "type": "string",
                    "description": "The ID of the institution the Item will be associated with"
                  },
                  "initial_products": {
                    "type": "array",
                    "description": "The products to initially pull for the Item. May be any products that the specified `institution_id`  supports. This array may not be empty.",
                    "items": {
                      "title": "Products",
                      "enum": [
                        "assets",
                        "auth",
                        "balance",
                        "balance_plus",
                        "beacon",
                        "identity",
                        "identity_match",
                        "investments",
                        "investments_auth",
                        "liabilities",
                        "payment_initiation",
                        "identity_verification",
                        "transactions",
                        "credit_details",
                        "income",
                        "income_verification",
                        "standing_orders",
                        "transfer",
                        "employment",
                        "recurring_transactions",
                        "transactions_refresh",
                        "signal",
                        "statements",
                        "processor_payments",
                        "processor_identity",
                        "profile",
                        "cra_base_report",
                        "cra_income_insights",
                        "cra_partner_insights",
                        "cra_network_insights",
                        "cra_cashflow_insights",
                        "cra_monitoring",
                        "cra_lend_score",
                        "layer",
                        "pay_by_bank",
                        "protect_linked_bank"
                      ],
                      "description": "A list of products that an institution can support. All Items must be initialized with at least one product. The Balance product is always available and does not need to be specified during initialization.",
                      "type": "string"
                    },
                    "minItems": 1,
                    "x-override-enum-values-shown": [
                      "assets",
                      "auth",
                      "identity",
                      "income_verification",
                      "investments_auth",
                      "investments",
                      "liabilities",
                      "payment_initiation",
                      "signal",
                      "standing_orders",
                      "statements",
                      "transactions",
                      "transfer"
                    ]
                  },
                  "options": {
                    "type": "object",
                    "description": "An optional set of options to be used when configuring the Item. If specified, must not be `null`.",
                    "properties": {
                      "webhook": {
                        "type": "string",
                        "description": "Specify a webhook to associate with the new Item."
                      },
                      "override_username": {
                        "type": "string",
                        "nullable": true,
                        "default": "user_good",
                        "description": "Test username to use for the creation of the Sandbox Item. Default value is `user_good`."
                      },
                      "override_password": {
                        "type": "string",
                        "nullable": true,
                        "default": "pass_good",
                        "description": "Test password to use for the creation of the Sandbox Item. Default value is `pass_good`."
                      },
                      "transactions": {
                        "type": "object",
                        "description": "An optional set of parameters corresponding to transactions options.",
                        "properties": {
                          "start_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The earliest date for which to fetch transaction history. Dates should be formatted as YYYY-MM-DD."
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The most recent date for which to fetch transaction history. Dates should be formatted as YYYY-MM-DD."
                          },
                          "days_requested": {
                            "description": "The maximum number of days of transaction history to request for the Transactions product.",
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 730,
                            "default": 90,
                            "x-hidden-from-docs": true
                          }
                        },
                        "title": "SandboxPublicTokenCreateRequestOptionsTransactions"
                      },
                      "statements": {
                        "title": "SandboxPublicTokenCreateRequestOptionsStatements",
                        "type": "object",
                        "nullable": true,
                        "description": "An optional set of parameters corresponding to statements options.",
                        "properties": {
                          "start_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The earliest date for which to fetch statements history. Dates should be formatted as YYYY-MM-DD."
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date",
                            "description": "The most recent date for which to fetch statements history. Dates should be formatted as YYYY-MM-DD."
                          }
                        },
                        "required": [
                          "start_date",
                          "end_date"
                        ]
                      },
                      "income_verification": {
                        "type": "object",
                        "description": "A set of parameters for income verification options. This field is required if `income_verification` is included in the `initial_products` array.",
                        "properties": {
                          "income_source_types": {
                            "type": "array",
                            "description": "The types of source income data that users will be permitted to share. Options include `bank` and `payroll`. Currently you can only specify one of these options.",
                            "items": {
                              "title": "IncomeVerificationSourceType",
                              "enum": [
                                "bank",
                                "payroll"
                              ],
                              "description": "The types of source income data that users should be able to share",
                              "type": "string"
                            }
                          },
                          "bank_income": {
                            "type": "object",
                            "description": "Specifies options for Bank Income. This field is required if `income_verification` is included in the `initial_products` array and `bank` is specified in `income_source_types`.",
                            "properties": {
                              "days_requested": {
                                "type": "integer",
                                "description": "The number of days of data to request for the Bank Income product"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "user_token": {
                    "title": "UserToken",
                    "type": "string",
                    "description": "The user token associated with the User data is being requested for."
                  }
                },
                "required": [
                  "institution_id",
                  "initial_products"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/public_token/create"
          }
        }
      }
    },
    "/sandbox/processor_token/create": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Create a test Item and processor token",
        "externalDocs": {
          "url": "/api/sandbox/#sandboxprocessor_tokencreate"
        },
        "operationId": "sandboxProcessorTokenCreate",
        "description": "Use the `/sandbox/processor_token/create` endpoint to create a valid `processor_token` for an arbitrary institution ID and test credentials. The created `processor_token` corresponds to a new Sandbox Item. You can then use this `processor_token` with the `/processor/` API endpoints in Sandbox. You can also use `/sandbox/processor_token/create` with the [`user_custom` test username](https://plaid.com/docs/sandbox/user-custom) to generate a test account with custom data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "processor_token": {
                      "type": "string",
                      "description": "A processor token that can be used to call the `/processor/` endpoints."
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "description": "",
                  "required": [
                    "processor_token",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "processor_token": "processor-sandbox-b0e2c4ee-a763-4df5-bfe9-46a46bce993d",
                      "request_id": "Aim3b"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "institution_id": {
                    "type": "string",
                    "description": "The ID of the institution the Item will be associated with"
                  },
                  "options": {
                    "type": "object",
                    "description": "An optional set of options to be used when configuring the Item. If specified, must not be `null`.",
                    "properties": {
                      "override_username": {
                        "type": "string",
                        "nullable": true,
                        "default": "user_good",
                        "description": "Test username to use for the creation of the Sandbox Item. Default value is `user_good`."
                      },
                      "override_password": {
                        "type": "string",
                        "nullable": true,
                        "default": "pass_good",
                        "description": "Test password to use for the creation of the Sandbox Item. Default value is `pass_good`."
                      }
                    }
                  }
                },
                "required": [
                  "institution_id"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/processor_token/create"
          }
        }
      }
    },
    "/sandbox/item/reset_login": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Force a Sandbox Item into an error state",
        "externalDocs": {
          "url": "/api/sandbox/#sandboxitemreset_login"
        },
        "operationId": "sandboxItemResetLogin",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "reset_login": {
                      "type": "boolean",
                      "description": "`true` if the call succeeded"
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "reset_login",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "reset_login": true,
                      "request_id": "m8MDnv9okwxFNBV"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "`/sandbox/item/reset_login/` forces an Item into an `ITEM_LOGIN_REQUIRED` state in order to simulate an Item whose login is no longer valid. This makes it easy to test Link's [update mode](https://plaid.com/docs/link/update-mode) flow in the Sandbox environment.  After calling `/sandbox/item/reset_login`, You can then use Plaid Link update mode to restore the Item to a good state. An `ITEM_LOGIN_REQUIRED` webhook will also be fired after a call to this endpoint, if one is associated with the Item.\n\n\nIn the Sandbox, Items will transition to an `ITEM_LOGIN_REQUIRED` error state automatically after 30 days, even if this endpoint is not called.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "title": "AccessToken",
                    "type": "string",
                    "description": "The access token associated with the Item data is being requested for."
                  }
                },
                "required": [
                  "access_token"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/item/reset_login"
          }
        }
      }
    },
    "/sandbox/user/reset_login": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Force item(s) for a Sandbox User into an error state",
        "externalDocs": {
          "url": "/api/sandbox/#sandboxuserreset_login"
        },
        "operationId": "sandboxUserResetLogin",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "reset_login": true,
                      "request_id": "n7XQnv8ozwyFPBC"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "`/sandbox/user/reset_login/` functions the same as `/sandbox/item/reset_login`, but will modify Items related to a User. This endpoint forces each Item into an `ITEM_LOGIN_REQUIRED` state in order to simulate an Item whose login is no longer valid. This makes it easy to test Link's [update mode](https://plaid.com/docs/link/update-mode) flow in the Sandbox environment.  After calling `/sandbox/user/reset_login`, You can then use Plaid Link update mode to restore Items associated with the User to a good state. An `ITEM_LOGIN_REQUIRED` webhook will also be fired after a call to this endpoint, if one is associated with the Item.\n\n\nIn the Sandbox, Items will transition to an `ITEM_LOGIN_REQUIRED` error state automatically after 30 days, even if this endpoint is not called.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "user_token": {
                    "title": "UserToken",
                    "type": "string",
                    "description": "The user token associated with the User data is being requested for."
                  },
                  "item_ids": {
                    "type": "array",
                    "items": {
                      "title": "ItemId",
                      "type": "string",
                      "description": "The `item_id` of the Item associated with this webhook, warning, or error"
                    },
                    "nullable": true,
                    "description": "An array of `item_id`s associated with the User to be reset.  If empty or `null`, this field will default to resetting all Items associated with the User."
                  }
                },
                "required": [
                  "user_token"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/user/reset_login"
          }
        }
      }
    },
    "/sandbox/item/fire_webhook": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Fire a test webhook",
        "externalDocs": {
          "url": "/api/sandbox/#sandboxitemfire_webhook"
        },
        "operationId": "sandboxItemFireWebhook",
        "description": "The `/sandbox/item/fire_webhook` endpoint is used to test that code correctly handles webhooks. This endpoint can trigger the following webhooks:\n\n`DEFAULT_UPDATE`: Webhook to be fired for a given Sandbox Item simulating a default update event for the respective product as specified with the `webhook_type` in the request body. Valid Sandbox `DEFAULT_UPDATE` webhook types include: `AUTH`, `IDENTITY`, `TRANSACTIONS`, `INVESTMENTS_TRANSACTIONS`, `LIABILITIES`, `HOLDINGS`. If the Item does not support the product, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.\n\n`NEW_ACCOUNTS_AVAILABLE`: Fired to indicate that a new account is available on the Item and you can launch update mode to request access to it.\n\n`SMS_MICRODEPOSITS_VERIFICATION`: Fired when a given same day micro-deposit item is verified via SMS verification.\n\n`LOGIN_REPAIRED`: Fired when an Item recovers from the `ITEM_LOGIN_REQUIRED` without the user going through update mode in your app.\n\n`PENDING_DISCONNECT`: Fired when an Item will stop working in the near future (e.g. due to a planned bank migration) and must be sent through update mode to continue working.\n\n`RECURRING_TRANSACTIONS_UPDATE`: Recurring Transactions webhook to be fired for a given Sandbox Item. If the Item does not support Recurring Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.\n\n`SYNC_UPDATES_AVAILABLE`: Transactions webhook to be fired for a given Sandbox Item.  If the Item does not support Transactions, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.\n\n`PRODUCT_READY`: Assets webhook to be fired when a given asset report has been successfully generated. If the Item does not support Assets, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.\n\n`ERROR`: Assets webhook to be fired when asset report generation has failed. If the Item does not support Assets, a `SANDBOX_PRODUCT_NOT_ENABLED` error will result.\n\n`USER_PERMISSION_REVOKED`: Indicates an end user has revoked the permission that they previously granted to access an Item. May not always fire upon revocation, as some institutions’ consent portals do not trigger this webhook. Upon receiving this webhook, it is recommended to delete any stored data from Plaid associated with the account or Item.\n\n`USER_ACCOUNT_REVOKED`: Fired when an end user has revoked access to their account on the Data Provider's portal. This webhook is currently sent only for Chase and PNC Items, but may be sent in the future for other financial institutions. Upon receiving this webhook, it is recommended to delete any stored data from Plaid associated with the account or Item.\n\nNote that this endpoint is provided for developer ease-of-use and is not required for testing webhooks; webhooks will also fire in Sandbox under the same conditions that they would in Production (except for webhooks of type `TRANSFER`).",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "webhook_fired": {
                      "type": "boolean",
                      "description": "Value is `true`  if the test` webhook_code`  was successfully fired."
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "webhook_fired",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "webhook_fired": true,
                      "request_id": "1vwmF5TBQwiqfwP"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "title": "AccessToken",
                    "type": "string",
                    "description": "The access token associated with the Item data is being requested for."
                  },
                  "webhook_type": {
                    "type": "string",
                    "enum": [
                      "AUTH",
                      "HOLDINGS",
                      "INVESTMENTS_TRANSACTIONS",
                      "ITEM",
                      "LIABILITIES",
                      "TRANSACTIONS",
                      "ASSETS"
                    ],
                    "description": "The webhook types that can be fired by this test endpoint."
                  },
                  "webhook_code": {
                    "type": "string",
                    "enum": [
                      "DEFAULT_UPDATE",
                      "NEW_ACCOUNTS_AVAILABLE",
                      "SMS_MICRODEPOSITS_VERIFICATION",
                      "AUTHORIZATION_GRANTED",
                      "USER_PERMISSION_REVOKED",
                      "USER_ACCOUNT_REVOKED",
                      "PENDING_DISCONNECT",
                      "RECURRING_TRANSACTIONS_UPDATE",
                      "LOGIN_REPAIRED",
                      "SYNC_UPDATES_AVAILABLE",
                      "PRODUCT_READY",
                      "ERROR"
                    ],
                    "x-override-enum-values-shown": [
                      "DEFAULT_UPDATE",
                      "NEW_ACCOUNTS_AVAILABLE",
                      "SMS_MICRODEPOSITS_VERIFICATION",
                      "USER_PERMISSION_REVOKED",
                      "USER_ACCOUNT_REVOKED",
                      "PENDING_DISCONNECT",
                      "RECURRING_TRANSACTIONS_UPDATE",
                      "LOGIN_REPAIRED",
                      "SYNC_UPDATES_AVAILABLE",
                      "PRODUCT_READY",
                      "ERROR"
                    ],
                    "description": "The webhook codes that can be fired by this test endpoint."
                  }
                },
                "required": [
                  "access_token",
                  "webhook_code"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/item/fire_webhook"
          }
        }
      }
    },
    "/sandbox/item/set_verification_status": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Set verification status for Sandbox account",
        "externalDocs": {
          "url": "/api/sandbox/#sandboxitemset_verification_status"
        },
        "operationId": "sandboxItemSetVerificationStatus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "1vwmF5TBQwiqfwP"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "The `/sandbox/item/set_verification_status` endpoint can be used to change the verification status of an Item in in the Sandbox in order to simulate the Automated Micro-deposit flow.\n\nFor more information on testing Automated Micro-deposits in Sandbox, see [Auth full coverage testing](https://plaid.com/docs/auth/coverage/testing#).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "title": "AccessToken",
                    "type": "string",
                    "description": "The access token associated with the Item data is being requested for."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The `account_id` of the account whose verification status is to be modified"
                  },
                  "verification_status": {
                    "enum": [
                      "automatically_verified",
                      "verification_expired"
                    ],
                    "type": "string",
                    "description": "The verification status to set the account to."
                  }
                },
                "required": [
                  "access_token",
                  "account_id",
                  "verification_status"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/item/set_verification_status"
          }
        }
      }
    },
    "/sandbox/transfer/fire_webhook": {
      "post": {
        "summary": "Manually fire a Transfer webhook",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransferfire_webhook"
        },
        "operationId": "sandboxTransferFireWebhook",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferFireWebhookResponse",
                  "additionalProperties": true,
                  "type": "object",
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/fire_webhook` endpoint to manually trigger a `TRANSFER_EVENTS_UPDATE` webhook in the Sandbox environment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferFireWebhookRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "webhook": {
                    "type": "string",
                    "description": "The URL to which the webhook should be sent."
                  }
                },
                "required": [
                  "webhook"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/fire_webhook"
          }
        }
      }
    },
    "/sandbox/transfer/ledger/deposit/simulate": {
      "post": {
        "summary": "Simulate a ledger deposit event in Sandbox",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransferledgerdepositsimulate"
        },
        "operationId": "sandboxTransferLedgerDepositSimulate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferLedgerDepositSimulateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/ledger/deposit/simulate` endpoint to simulate a ledger deposit event in the Sandbox environment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferLedgerDepositSimulateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "sweep_id": {
                    "type": "string",
                    "title": "TransferSweepID",
                    "description": "Plaid’s unique identifier for a sweep."
                  },
                  "event_type": {
                    "type": "string",
                    "title": "TransferLedgerSweepSimulateEventType",
                    "description": "The asynchronous event to be simulated. May be: `posted`, `settled`, `failed`, or `returned`.\n\nAn error will be returned if the event type is incompatible with the current ledger sweep status. Compatible status --> event type transitions include:\n\n`sweep.pending` --> `sweep.posted`\n\n`sweep.pending` --> `sweep.failed`\n\n`sweep.posted` --> `sweep.settled`\n\n`sweep.posted` --> `sweep.returned`\n\n`sweep.settled` --> `sweep.returned`\n",
                    "enum": [
                      "sweep.posted",
                      "sweep.settled",
                      "sweep.returned",
                      "sweep.failed"
                    ]
                  },
                  "failure_reason": {
                    "title": "TransferFailure",
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "The failure reason if the event type for a transfer is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                    "properties": {
                      "failure_code": {
                        "type": "string",
                        "nullable": true,
                        "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the transfer status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                      },
                      "ach_return_code": {
                        "deprecated": true,
                        "type": "string",
                        "nullable": true,
                        "description": "The ACH return code, e.g. `R01`.  A return code will be provided if and only if the transfer status is `returned`. For a full listing of ACH return codes, see [Transfer errors](https://plaid.com/docs/errors/transfer/#ach-return-codes)."
                      },
                      "description": {
                        "type": "string",
                        "description": "A human-readable description of the reason for the failure or reversal."
                      }
                    }
                  }
                },
                "required": [
                  "sweep_id",
                  "event_type"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/ledger/deposit/simulate"
          }
        }
      }
    },
    "/sandbox/transfer/ledger/simulate_available": {
      "post": {
        "summary": "Simulate converting pending balance to available balance",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransferledgersimulate_available"
        },
        "operationId": "sandboxTransferLedgerSimulateAvailable",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferLedgerSimulateAvailableResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/ledger/simulate_available` endpoint to simulate converting pending balance to available balance for all originators in the Sandbox environment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferLedgerSimulateAvailableRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "ledger_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Specify which ledger balance to simulate converting pending balance to available balance. If this field is left blank, this will default to id of the default ledger balance."
                  },
                  "originator_client_id": {
                    "nullable": true,
                    "type": "string",
                    "description": "Client ID of the end customer (i.e. the originator). Only applicable to Platform Payments customers."
                  },
                  "test_clock_id": {
                    "type": "string",
                    "description": "Plaid’s unique identifier for a test clock. If provided, only the pending balance that is due before the `virtual_timestamp` on the test clock will be converted.",
                    "nullable": true
                  },
                  "webhook": {
                    "type": "string",
                    "description": "The webhook URL to which a `TRANSFER_EVENTS_UPDATE` webhook should be sent."
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/ledger/simulate_available"
          }
        }
      }
    },
    "/sandbox/transfer/ledger/withdraw/simulate": {
      "post": {
        "summary": "Simulate a ledger withdraw event in Sandbox",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransferledgerwithdrawsimulate"
        },
        "operationId": "sandboxTransferLedgerWithdrawSimulate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferLedgerWithdrawSimulateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/ledger/withdraw/simulate` endpoint to simulate a ledger withdraw event in the Sandbox environment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferLedgerWithdrawSimulateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "sweep_id": {
                    "type": "string",
                    "title": "TransferSweepID",
                    "description": "Plaid’s unique identifier for a sweep."
                  },
                  "event_type": {
                    "type": "string",
                    "title": "TransferLedgerSweepSimulateEventType",
                    "description": "The asynchronous event to be simulated. May be: `posted`, `settled`, `failed`, or `returned`.\n\nAn error will be returned if the event type is incompatible with the current ledger sweep status. Compatible status --> event type transitions include:\n\n`sweep.pending` --> `sweep.posted`\n\n`sweep.pending` --> `sweep.failed`\n\n`sweep.posted` --> `sweep.settled`\n\n`sweep.posted` --> `sweep.returned`\n\n`sweep.settled` --> `sweep.returned`\n",
                    "enum": [
                      "sweep.posted",
                      "sweep.settled",
                      "sweep.returned",
                      "sweep.failed"
                    ]
                  },
                  "failure_reason": {
                    "title": "TransferFailure",
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "The failure reason if the event type for a transfer is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                    "properties": {
                      "failure_code": {
                        "type": "string",
                        "nullable": true,
                        "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the transfer status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                      },
                      "ach_return_code": {
                        "deprecated": true,
                        "type": "string",
                        "nullable": true,
                        "description": "The ACH return code, e.g. `R01`.  A return code will be provided if and only if the transfer status is `returned`. For a full listing of ACH return codes, see [Transfer errors](https://plaid.com/docs/errors/transfer/#ach-return-codes)."
                      },
                      "description": {
                        "type": "string",
                        "description": "A human-readable description of the reason for the failure or reversal."
                      }
                    }
                  }
                },
                "required": [
                  "sweep_id",
                  "event_type"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/ledger/withdraw/simulate"
          }
        }
      }
    },
    "/sandbox/transfer/simulate": {
      "post": {
        "summary": "Simulate a transfer event in Sandbox",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransfersimulate"
        },
        "operationId": "sandboxTransferSimulate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferSimulateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/simulate` endpoint to simulate a transfer event in the Sandbox environment.  Note that while an event will be simulated and will appear when using endpoints such as `/transfer/event/sync` or `/transfer/event/list`, no transactions will actually take place and funds will not move between accounts, even within the Sandbox.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferSimulateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "transfer_id": {
                    "type": "string",
                    "title": "TransferID",
                    "description": "Plaid’s unique identifier for a transfer."
                  },
                  "test_clock_id": {
                    "type": "string",
                    "description": "Plaid’s unique identifier for a test clock. If provided, the event to be simulated is created at the `virtual_time` on the provided `test_clock`.",
                    "nullable": true
                  },
                  "event_type": {
                    "type": "string",
                    "description": "The asynchronous event to be simulated. May be: `posted`, `settled`, `failed`, `funds_available`, or `returned`.\n\nAn error will be returned if the event type is incompatible with the current transfer status. Compatible status --> event type transitions include:\n\n`pending` --> `failed`\n\n`pending` --> `posted`\n\n`posted` --> `returned`\n\n`posted` --> `settled`\n\n`settled` --> `funds_available` (only applicable to ACH debits.)\n"
                  },
                  "failure_reason": {
                    "title": "TransferFailure",
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "The failure reason if the event type for a transfer is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                    "properties": {
                      "failure_code": {
                        "type": "string",
                        "nullable": true,
                        "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the transfer status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                      },
                      "ach_return_code": {
                        "deprecated": true,
                        "type": "string",
                        "nullable": true,
                        "description": "The ACH return code, e.g. `R01`.  A return code will be provided if and only if the transfer status is `returned`. For a full listing of ACH return codes, see [Transfer errors](https://plaid.com/docs/errors/transfer/#ach-return-codes)."
                      },
                      "description": {
                        "type": "string",
                        "description": "A human-readable description of the reason for the failure or reversal."
                      }
                    }
                  },
                  "webhook": {
                    "type": "string",
                    "description": "The webhook URL to which a `TRANSFER_EVENTS_UPDATE` webhook should be sent."
                  }
                },
                "required": [
                  "transfer_id",
                  "event_type"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/simulate"
          }
        }
      }
    },
    "/sandbox/transfer/refund/simulate": {
      "post": {
        "summary": "Simulate a refund event in Sandbox",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransferrefundsimulate"
        },
        "operationId": "sandboxTransferRefundSimulate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferRefundSimulateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/refund/simulate` endpoint to simulate a refund event in the Sandbox environment.  Note that while an event will be simulated and will appear when using endpoints such as `/transfer/event/sync` or `/transfer/event/list`, no transactions will actually take place and funds will not move between accounts, even within the Sandbox.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferRefundSimulateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "refund_id": {
                    "type": "string",
                    "title": "TransferRefundID",
                    "description": "Plaid’s unique identifier for a refund."
                  },
                  "test_clock_id": {
                    "type": "string",
                    "description": "Plaid’s unique identifier for a test clock. If provided, the event to be simulated is created at the `virtual_time` on the provided `test_clock`.",
                    "nullable": true
                  },
                  "event_type": {
                    "type": "string",
                    "description": "The asynchronous event to be simulated. May be: `refund.posted`, `refund.settled`, `refund.failed`, or `refund.returned`.\n\nAn error will be returned if the event type is incompatible with the current refund status. Compatible status --> event type transitions include:\n\n`refund.pending` --> `refund.failed`\n\n`refund.pending` --> `refund.posted`\n\n`refund.posted` --> `refund.returned`\n\n`refund.posted` --> `refund.settled`\n\n`refund.posted` events can only be simulated if the refunded transfer has been transitioned to settled. This mimics the ordering of events in Production.\n"
                  },
                  "failure_reason": {
                    "title": "TransferFailure",
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true,
                    "description": "The failure reason if the event type for a transfer is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                    "properties": {
                      "failure_code": {
                        "type": "string",
                        "nullable": true,
                        "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the transfer status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                      },
                      "ach_return_code": {
                        "deprecated": true,
                        "type": "string",
                        "nullable": true,
                        "description": "The ACH return code, e.g. `R01`.  A return code will be provided if and only if the transfer status is `returned`. For a full listing of ACH return codes, see [Transfer errors](https://plaid.com/docs/errors/transfer/#ach-return-codes)."
                      },
                      "description": {
                        "type": "string",
                        "description": "A human-readable description of the reason for the failure or reversal."
                      }
                    }
                  },
                  "webhook": {
                    "type": "string",
                    "description": "The webhook URL to which a `TRANSFER_EVENTS_UPDATE` webhook should be sent."
                  }
                },
                "required": [
                  "refund_id",
                  "event_type"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/refund/simulate"
          }
        }
      }
    },
    "/sandbox/transfer/sweep/simulate": {
      "post": {
        "summary": "Simulate creating a sweep",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransfersweepsimulate"
        },
        "operationId": "sandboxTransferSweepSimulate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferSweepSimulateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "sweep": {
                      "title": "SimulatedTransferSweep",
                      "type": "object",
                      "additionalProperties": true,
                      "description": "A sweep returned from the `/sandbox/transfer/sweep/simulate` endpoint.\nCan be null if there are no transfers to include in a sweep.",
                      "allOf": [
                        {
                          "title": "TransferSweep",
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Describes a sweep of funds to / from the sweep account.\n\nA sweep is associated with many sweep events (events of type `swept` or `return_swept`) which can be retrieved by invoking the `/transfer/event/list` endpoint with the corresponding `sweep_id`.\n\n`swept` events occur when the transfer amount is credited or debited from your sweep account, depending on the `type` of the transfer. `return_swept` events occur when a transfer is returned and Plaid undoes the credit or debit.\n\nThe total sum of the `swept` and `return_swept` events is equal to the `amount` of the sweep Plaid creates and matches the amount of the entry on your sweep account ledger.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identifier of the sweep."
                            },
                            "funding_account_id": {
                              "type": "string",
                              "description": "The id of the funding account to use, available in the Plaid Dashboard. This determines which of your business checking accounts will be credited or debited."
                            },
                            "ledger_id": {
                              "type": "string",
                              "title": "TransferLedgerID",
                              "description": "Plaid’s unique identifier for a Plaid Ledger Balance.",
                              "nullable": true
                            },
                            "created": {
                              "type": "string",
                              "description": "The datetime when the sweep occurred, in RFC 3339 format.",
                              "format": "date-time"
                            },
                            "amount": {
                              "type": "string",
                              "description": "Signed decimal amount of the sweep as it appears on your sweep account ledger (e.g. \"-10.00\")\n\nIf amount is not present, the sweep was net-settled to zero and outstanding debits and credits between the sweep account and Plaid are balanced."
                            },
                            "iso_currency_code": {
                              "type": "string",
                              "description": "The currency of the sweep, e.g. \"USD\"."
                            },
                            "settled": {
                              "type": "string",
                              "description": "The date when the sweep settled, in the YYYY-MM-DD format.",
                              "format": "date",
                              "nullable": true
                            },
                            "expected_funds_available_date": {
                              "type": "string",
                              "description": "The expected date when funds from a ledger deposit will be made available and can be withdrawn from the associated ledger balance. Only applies to deposits. This will be of the form YYYY-MM-DD.",
                              "format": "date",
                              "nullable": true
                            },
                            "status": {
                              "title": "SweepStatus",
                              "type": "string",
                              "enum": [
                                "pending",
                                "posted",
                                "settled",
                                "funds_available",
                                "returned",
                                "failed",
                                null
                              ],
                              "nullable": true,
                              "description": "The status of a sweep transfer\n\n`\"pending\"` - The sweep is currently pending\n`\"posted\"` - The sweep has been posted\n`\"settled\"` - The sweep has settled. This is the terminal state of a successful credit sweep.\n`\"returned\"` - The sweep has been returned. This is the terminal state of a returned sweep. Returns of a sweep are extremely rare, since sweeps are money movement between your own bank account and your own Ledger.\n`\"funds_available\"` - Funds from the sweep have been released from hold and applied to the ledger's available balance. (Only applicable to deposits.) This is the terminal state of a successful deposit sweep.\n`\"failed\"` - The sweep has failed. This is the terminal state of a failed sweep."
                            },
                            "trigger": {
                              "title": "SweepTrigger",
                              "type": "string",
                              "enum": [
                                "manual",
                                "incoming",
                                "balance_threshold",
                                "automatic_aggregate"
                              ],
                              "nullable": true,
                              "description": "The trigger of the sweep\n\n`\"manual\"` - The sweep is created manually by the customer\n`\"incoming\"` - The sweep is created by incoming funds flow (e.g. Incoming Wire)\n`\"balance_threshold\"` - The sweep is created by balance threshold setting\n`\"automatic_aggregate\"` - The sweep is created by the Plaid automatic aggregation process. These funds did not pass through the Plaid Ledger balance."
                            },
                            "description": {
                              "type": "string",
                              "description": "The description of the deposit that will be passed to the receiving bank (up to 10 characters). Note that banks utilize this field differently, and may or may not show it on the bank statement."
                            },
                            "network_trace_id": {
                              "title": "TransferNetworkTraceID",
                              "type": "string",
                              "description": "The trace identifier for the transfer based on its network. This will only be set after the transfer has posted.\n\nFor `ach` or `same-day-ach` transfers, this is the ACH trace number.\nFor `rtp` transfers, this is the Transaction Identification number.\nFor `wire` transfers, this is the IMAD (Input Message Accountability Data) number.",
                              "nullable": true
                            },
                            "failure_reason": {
                              "title": "SweepFailure",
                              "type": "object",
                              "additionalProperties": true,
                              "nullable": true,
                              "description": "The failure reason if the status for a sweep is `\"failed\"` or `\"returned\"`. Null value otherwise.",
                              "properties": {
                                "failure_code": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "The failure code, e.g. `R01`.  A failure code will be provided if and only if the sweep status is `returned`. See [ACH return codes](https://plaid.com/docs/errors/transfer/#ach-return-codes) for a full listing of ACH return codes and [RTP/RfP error codes](https://plaid.com/docs/errors/transfer/#rtprfp-error-codes) for RTP error codes."
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "A human-readable description of the reason for the failure or reversal."
                                }
                              }
                            }
                          },
                          "required": [
                            "id",
                            "created",
                            "amount",
                            "iso_currency_code",
                            "settled",
                            "funding_account_id"
                          ]
                        },
                        {
                          "type": "object",
                          "nullable": true
                        }
                      ]
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "sweep": {
                        "id": "d5394a4d-0b04-4a02-9f4a-7ca5c0f52f9d",
                        "funding_account_id": "8945fedc-e703-463d-86b1-dc0607b55460",
                        "created": "2020-08-06T17:27:15Z",
                        "amount": "12.34",
                        "iso_currency_code": "USD",
                        "settled": "2020-08-07",
                        "network_trace_id": null
                      },
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/sweep/simulate` endpoint to create a sweep and associated events in the Sandbox environment. Upon calling this endpoint, all transfers with a sweep status of `swept` will become `swept_settled`, all `posted` or `pending` transfers with a sweep status of `unswept` will become `swept`, and all `returned` transfers with a sweep status of `swept` will become `return_swept`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferSweepSimulateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "test_clock_id": {
                    "type": "string",
                    "description": "Plaid’s unique identifier for a test clock. If provided, the sweep to be simulated is created on the day of the `virtual_time` on the `test_clock`. If the date of `virtual_time` is on weekend or a federal holiday, the next available banking day is used.",
                    "nullable": true
                  },
                  "webhook": {
                    "type": "string",
                    "description": "The webhook URL to which a `TRANSFER_EVENTS_UPDATE` webhook should be sent."
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/sweep/simulate"
          }
        }
      }
    },
    "/sandbox/transfer/test_clock/create": {
      "post": {
        "summary": "Create a test clock",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransfertest_clockcreate"
        },
        "operationId": "sandboxTransferTestClockCreate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferTestClockCreateResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "test_clock": {
                      "title": "TransferTestClock",
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Defines the test clock for a transfer.",
                      "properties": {
                        "test_clock_id": {
                          "type": "string",
                          "title": "TransferTestClockID",
                          "description": "Plaid’s unique identifier for a test clock. This field is only populated in the Sandbox environment, and only if a `test_clock_id` was included in the `/transfer/recurring/create` request. For more details, see [Simulating recurring transfers](https://plaid.com/docs/transfer/sandbox/#simulating-recurring-transfers)."
                        },
                        "virtual_time": {
                          "type": "string",
                          "title": "VirtualTime",
                          "format": "date-time",
                          "description": "The virtual timestamp on the test clock. This will be of the form `2006-01-02T15:04:05Z`."
                        }
                      },
                      "required": [
                        "test_clock_id",
                        "virtual_time"
                      ]
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "test_clock",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "test_clock": {
                        "test_clock_id": "b33a6eda-5e97-5d64-244a-a9274110151c",
                        "virtual_time": "2006-01-02T15:04:05Z"
                      },
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/test_clock/create` endpoint to create a `test_clock` in the Sandbox environment.\n\nA test clock object represents an independent timeline and has a `virtual_time` field indicating the current timestamp of the timeline. Test clocks are used for testing recurring transfers in Sandbox.\n\nA test clock can be associated with up to 5 recurring transfers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferTestClockCreateRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "virtual_time": {
                    "type": "string",
                    "title": "VirtualTime",
                    "format": "date-time",
                    "description": "The virtual timestamp on the test clock. If not provided, the current timestamp will be used. This will be of the form `2006-01-02T15:04:05Z`.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/test_clock/create"
          }
        }
      }
    },
    "/sandbox/transfer/test_clock/advance": {
      "post": {
        "summary": "Advance a test clock",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransfertest_clockadvance"
        },
        "operationId": "sandboxTransferTestClockAdvance",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferTestClockAdvanceResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/test_clock/advance` endpoint to advance a `test_clock` in the Sandbox environment.\n\nA test clock object represents an independent timeline and has a `virtual_time` field indicating the current timestamp of the timeline. A test clock can be advanced by incrementing `virtual_time`, but may never go back to a lower `virtual_time`.\n\nIf a test clock is advanced, we will simulate the changes that ought to occur during the time that elapsed.\n\nFor example, a client creates a weekly recurring transfer with a test clock set at t. When the client advances the test clock by setting `virtual_time` = t + 15 days, 2 new originations should be created, along with the webhook events.\n\nThe advancement of the test clock from its current `virtual_time` should be limited such that there are no more than 20 originations resulting from the advance operation on each `recurring_transfer` associated with the `test_clock`.\n\nFor example, if the recurring transfer associated with this test clock originates once every 4 weeks, you can advance the `virtual_time` up to 80 weeks on each API call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferTestClockAdvanceRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "test_clock_id": {
                    "type": "string",
                    "title": "TransferTestClockID",
                    "description": "Plaid’s unique identifier for a test clock. This field is only populated in the Sandbox environment, and only if a `test_clock_id` was included in the `/transfer/recurring/create` request. For more details, see [Simulating recurring transfers](https://plaid.com/docs/transfer/sandbox/#simulating-recurring-transfers)."
                  },
                  "new_virtual_time": {
                    "type": "string",
                    "title": "VirtualTime",
                    "format": "date-time",
                    "description": "The virtual timestamp on the test clock. This will be of the form `2006-01-02T15:04:05Z`."
                  }
                },
                "required": [
                  "test_clock_id",
                  "new_virtual_time"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/test_clock/advance"
          }
        }
      }
    },
    "/sandbox/transfer/test_clock/get": {
      "post": {
        "summary": "Get a test clock",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransfertest_clockget"
        },
        "operationId": "sandboxTransferTestClockGet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferTestClockGetResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "test_clock": {
                      "title": "TransferTestClock",
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Defines the test clock for a transfer.",
                      "properties": {
                        "test_clock_id": {
                          "type": "string",
                          "title": "TransferTestClockID",
                          "description": "Plaid’s unique identifier for a test clock. This field is only populated in the Sandbox environment, and only if a `test_clock_id` was included in the `/transfer/recurring/create` request. For more details, see [Simulating recurring transfers](https://plaid.com/docs/transfer/sandbox/#simulating-recurring-transfers)."
                        },
                        "virtual_time": {
                          "type": "string",
                          "title": "VirtualTime",
                          "format": "date-time",
                          "description": "The virtual timestamp on the test clock. This will be of the form `2006-01-02T15:04:05Z`."
                        }
                      },
                      "required": [
                        "test_clock_id",
                        "virtual_time"
                      ]
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "test_clock",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "test_clock": {
                        "test_clock_id": "b33a6eda-5e97-5d64-244a-a9274110151c",
                        "virtual_time": "2006-01-02T15:04:05Z"
                      },
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/test_clock/get` endpoint to get a `test_clock` in the Sandbox environment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferTestClockGetRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "test_clock_id": {
                    "type": "string",
                    "title": "TransferTestClockID",
                    "description": "Plaid’s unique identifier for a test clock. This field is only populated in the Sandbox environment, and only if a `test_clock_id` was included in the `/transfer/recurring/create` request. For more details, see [Simulating recurring transfers](https://plaid.com/docs/transfer/sandbox/#simulating-recurring-transfers)."
                  }
                },
                "required": [
                  "test_clock_id"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/sandbox/transfer/test_clock/get"
          }
        }
      }
    },
    "/sandbox/transfer/test_clock/list": {
      "post": {
        "summary": "List test clocks",
        "tags": [
          "Sandbox"
        ],
        "externalDocs": {
          "url": "/api/sandbox/#sandboxtransfertest_clocklist"
        },
        "operationId": "sandboxTransferTestClockList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SandboxTransferTestClockListResponse",
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "test_clocks": {
                      "type": "array",
                      "items": {
                        "title": "TransferTestClock",
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Defines the test clock for a transfer.",
                        "properties": {
                          "test_clock_id": {
                            "type": "string",
                            "title": "TransferTestClockID",
                            "description": "Plaid’s unique identifier for a test clock. This field is only populated in the Sandbox environment, and only if a `test_clock_id` was included in the `/transfer/recurring/create` request. For more details, see [Simulating recurring transfers](https://plaid.com/docs/transfer/sandbox/#simulating-recurring-transfers)."
                          },
                          "virtual_time": {
                            "type": "string",
                            "title": "VirtualTime",
                            "format": "date-time",
                            "description": "The virtual timestamp on the test clock. This will be of the form `2006-01-02T15:04:05Z`."
                          }
                        },
                        "required": [
                          "test_clock_id",
                          "virtual_time"
                        ]
                      }
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "test_clocks",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "test_clocks": [
                        {
                          "test_clock_id": "b33a6eda-5e97-5d64-244a-a9274110151c",
                          "virtual_time": "2006-01-02T15:04:05Z"
                        },
                        {
                          "test_clock_id": "a33a6eda-5e97-5d64-244a-a9274110152d",
                          "virtual_time": "2006-02-02T15:04:05Z"
                        }
                      ],
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use the `/sandbox/transfer/test_clock/list` endpoint to see a list of all your test clocks in the Sandbox environment, by ascending `virtual_time`. Results are paginated; use the `count` and `offset` query parameters to retrieve the desired test clocks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SandboxTransferTestClockListRequest",
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "start_virtual_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The start virtual timestamp of test clocks to return. This should be in RFC 3339 format (i.e. `2019-12-06T22:35:49Z`)",
                    "nullable": true
                  },
                  "end_virtual_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The end virtual timestamp of test clocks to return. This should be in RFC 3339 format (i.e. `2019-12-06T22:35:49Z`)",
                    "nullable": true
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
[...]
