{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://production.plaid.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.plaid.com"
    }
  ],
  "info": {
    "title": "The Plaid API",
    "version": "2020-09-14_1.666.2",
    "description": "The Plaid REST API. Please see https://plaid.com/docs/api for more details.",
    "contact": {
      "name": "Plaid Developer Team",
      "url": "https://plaid.com"
    },
    "termsOfService": "https://plaid.com/legal/"
  },
  "tags": [
    {
      "name": "plaid",
      "description": "The Plaid API"
    }
  ],
  "security": [
    {
      "clientId": [],
      "secret": [],
      "plaidVersion": []
    }
  ],
  "paths": {
    "/identity/get": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve identity data",
        "externalDocs": {
          "url": "/api/products/identity/#identityget"
        },
        "operationId": "identityGet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "description": "The accounts for which Identity data has been requested",
                      "items": {
                        "description": "Identity information about an account",
                        "title": "AccountIdentity",
                        "allOf": [
                          {
                            "title": "Account",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "A single account at a financial institution.",
                            "x-examples": {
                              "example-1": {}
                            },
                            "properties": {
                              "account_id": {
                                "type": "string",
                                "description": "Plaid’s unique identifier for the account. This value will not change unless Plaid can't reconcile the account with the data returned by the financial institution. This may occur, for example, when the name of the account changes. If this happens a new `account_id` will be assigned to the account.\n\nThe `account_id` can also change if the `access_token` is deleted and the same credentials that were used to generate that `access_token` are used to generate a new `access_token` on a later date. In that case, the new `account_id` will be different from the old `account_id`.\n\nIf an account with a specific `account_id` disappears instead of changing, the account is likely closed. Closed accounts are not returned by the Plaid API.\n\nWhen using a CRA endpoint (an endpoint associated with Plaid Check Consumer Report, i.e. any endpoint beginning with `/cra/`), the `account_id` returned will not match the `account_id` returned by a non-CRA endpoint.\n\nLike all Plaid identifiers, the `account_id` is case sensitive."
                              },
                              "balances": {
                                "title": "AccountBalance",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "A set of fields describing the balance for an account. Balance information may be cached unless the balance object was returned by `/accounts/balance/get`.",
                                "properties": {
                                  "available": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of funds available to be withdrawn from the account, as determined by the financial institution.\n\nFor `credit`-type accounts, the `available` balance typically equals the `limit` less the `current` balance, less any pending outflows plus any pending inflows.\n\nFor `depository`-type accounts, the `available` balance typically equals the `current` balance less any pending outflows plus any pending inflows. For `depository`-type accounts, the `available` balance does not include the overdraft limit.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the `available` balance is the total cash available to withdraw as presented by the institution.\n\nNote that not all institutions calculate the `available`  balance. In the event that `available` balance is unavailable, Plaid will return an `available` balance value of `null`.\n\nAvailable balance may be cached and is not guaranteed to be up-to-date in realtime unless the value was returned by `/accounts/balance/get`.\n\nIf `current` is `null` this field is guaranteed not to be `null`.",
                                    "nullable": true
                                  },
                                  "current": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The total amount of funds in or owed by the account.\n\nFor `credit`-type accounts, a positive balance indicates the amount owed; a negative amount indicates the lender owing the account holder.\n\nFor `loan`-type accounts, the current balance is the principal remaining on the loan, except in the case of student loan accounts at Sallie Mae (`ins_116944`). For Sallie Mae student loans, the account's balance includes both principal and any outstanding interest. Similar to `credit`-type accounts, a positive balance is typically expected, while a negative amount indicates the lender owing the account holder.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the current balance is the total value of assets as presented by the institution.\n\nNote that balance information may be cached unless the value was returned by `/accounts/balance/get`; if the Item is enabled for Transactions, the balance will be at least as recent as the most recent Transaction update. If you require realtime balance information, use the `available` balance as provided by `/accounts/balance/get`.\n\nWhen returned by `/accounts/balance/get`, this field may be `null`. When this happens, `available` is guaranteed not to be `null`.",
                                    "nullable": true
                                  },
                                  "limit": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "For `credit`-type accounts, this represents the credit limit.\n\nFor `depository`-type accounts, this represents the pre-arranged overdraft limit, which is common for current (checking) accounts in Europe.\n\nIn North America, this field is typically only available for `credit`-type accounts.",
                                    "nullable": true
                                  },
                                  "iso_currency_code": {
                                    "type": "string",
                                    "description": "The ISO-4217 currency code of the balance. Always null if `unofficial_currency_code` is non-null.",
                                    "nullable": true
                                  },
                                  "unofficial_currency_code": {
                                    "type": "string",
                                    "description": "The unofficial currency code associated with the balance. Always null if `iso_currency_code` is non-null. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
                                    "nullable": true
                                  },
                                  "last_updated_datetime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:mm:ssZ`) indicating the last time the balance was updated.\n\nThis field is returned only when the institution is `ins_128026` (Capital One).",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "available",
                                  "current",
                                  "limit",
                                  "iso_currency_code",
                                  "unofficial_currency_code"
                                ]
                              },
                              "mask": {
                                "type": "string",
                                "nullable": true,
                                "description": "The last 2-4 alphanumeric characters of either the account’s displayed mask or the account’s official account number. Note that the mask may be non-unique between an Item’s accounts."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the account, either assigned by the user or by the financial institution itself"
                              },
                              "official_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "The official name of the account as given by the financial institution"
                              },
                              "type": {
                                "type": "string",
                                "title": "AccountType",
                                "enum": [
                                  "investment",
                                  "credit",
                                  "depository",
                                  "loan",
                                  "brokerage",
                                  "other"
                                ],
                                "description": "`investment:` Investment account. In API versions 2018-05-22 and earlier, this type is called `brokerage` instead.\n\n`credit:` Credit card\n\n`depository:` Depository account\n\n`loan:` Loan account\n\n`other:` Non-specified account type\n\nSee the [Account type schema](https://plaid.com/docs/api/accounts#account-type-schema) for a full listing of account types and corresponding subtypes."
                              },
                              "subtype": {
                                "type": "string",
                                "nullable": true,
                                "title": "AccountSubtype",
                                "description": "See the [Account type schema](https://plaid.com/docs/api/accounts/#account-type-schema) for a full listing of account types and corresponding subtypes.",
                                "enum": [
                                  "401a",
                                  "401k",
                                  "403B",
                                  "457b",
                                  "529",
                                  "auto",
                                  "brokerage",
                                  "business",
                                  "cash isa",
                                  "cash management",
                                  "cd",
                                  "checking",
                                  "commercial",
                                  "construction",
                                  "consumer",
                                  "credit card",
                                  "crypto exchange",
                                  "ebt",
                                  "education savings account",
                                  "fixed annuity",
                                  "gic",
                                  "health reimbursement arrangement",
                                  "home equity",
                                  "hsa",
                                  "isa",
                                  "ira",
                                  "keogh",
                                  "lif",
                                  "life insurance",
                                  "line of credit",
                                  "lira",
                                  "loan",
                                  "lrif",
                                  "lrsp",
                                  "money market",
                                  "mortgage",
                                  "mutual fund",
                                  "non-custodial wallet",
                                  "non-taxable brokerage account",
                                  "other",
                                  "other insurance",
                                  "other annuity",
                                  "overdraft",
                                  "paypal",
                                  "payroll",
                                  "pension",
                                  "prepaid",
                                  "prif",
                                  "profit sharing plan",
                                  "rdsp",
                                  "resp",
                                  "retirement",
                                  "rlif",
                                  "roth",
                                  "roth 401k",
                                  "rrif",
                                  "rrsp",
                                  "sarsep",
                                  "savings",
                                  "sep ira",
                                  "simple ira",
                                  "sipp",
                                  "stock plan",
                                  "student",
                                  "thrift savings plan",
                                  "tfsa",
                                  "trust",
                                  "ugma",
                                  "utma",
                                  "variable annuity"
                                ]
                              },
                              "verification_status": {
                                "type": "string",
                                "enum": [
                                  "automatically_verified",
                                  "pending_automatic_verification",
                                  "pending_manual_verification",
                                  "unsent",
                                  "manually_verified",
                                  "verification_expired",
                                  "verification_failed",
                                  "database_matched",
                                  "database_insights_pass",
                                  "database_insights_pass_with_caution",
                                  "database_insights_fail"
                                ],
                                "description": "The current verification status of an Auth Item initiated through micro-deposits or database verification. Returned for Auth Items only.\n\n`pending_automatic_verification`: The Item is pending automatic verification\n\n`pending_manual_verification`: The Item is pending manual micro-deposit verification. Items remain in this state until the user successfully verifies the micro-deposit.\n\n`automatically_verified`: The Item has successfully been automatically verified\t\n\n`manually_verified`: The Item has successfully been manually verified\n\n`verification_expired`: Plaid was unable to automatically verify the deposit within 7 calendar days and will no longer attempt to validate the Item. Users may retry by submitting their information again through Link.\n\n`verification_failed`: The Item failed manual micro-deposit verification because the user exhausted all 3 verification attempts. Users may retry by submitting their information again through Link. \n\n `unsent`: The Item is pending micro-deposit verification, but Plaid has not yet sent the micro-deposit.\n\n`database_matched`: The Item has successfully been verified using Plaid's data sources. Only returned for Auth Items created via Database Match.\n\n`database_insights_pass`: The Item's numbers have been verified using Plaid's data sources: the routing and account number match a routing and account number of an account recognized on the Plaid network, and the account is not known by Plaid to be frozen or closed. Only returned for Auth Items created via Database Auth.\n\n`database_insights_pass_with_caution`:The Item's numbers have been verified using Plaid's data sources and have some signal for being valid: the routing and account number were not recognized on the Plaid network, but the routing number is valid and the account number is a potential valid account number for that routing number. Only returned for Auth Items created via Database Auth.\n\n`database_insights_fail`: The Item's numbers have been verified using Plaid's data sources and have signal for being invalid and/or have no signal for being valid. Typically this indicates that the routing number is invalid, the account number does not match the account number format associated with the routing number, or the account has been reported as closed or frozen. Only returned for Auth Items created via Database Auth.\t\n\t"
                              },
                              "verification_name": {
                                "type": "string",
                                "description": "The account holder name that was used for micro-deposit and/or database verification. Only returned for Auth Items created via micro-deposit or database verification. This name was manually-entered by the user during Link, unless it was otherwise provided via the `user.legal_name` request field in `/link/token/create` for the Link session that created the Item."
                              },
                              "verification_insights": {
                                "title": "VerificationInsights",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Insights from performing database verification for the account. Only returned for Auth Items using Database Auth.",
                                "properties": {
                                  "name_match_score": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Indicates the score of the name match between the given name provided during database verification (available in the [`verification_name`](https://plaid.com/docs/api/products/auth/#auth-get-response-accounts-verification-name) field) and matched Plaid network accounts. If defined, will be a value between 0 and 100. Will be undefined if name matching was not enabled for the database verification session or if there were no eligible Plaid network matches to compare the given name with."
                                  },
                                  "network_status": {
                                    "title": "VerificationInsightsNetworkStatus",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Status information about the account and routing number in the Plaid network.",
                                    "properties": {
                                      "has_numbers_match": {
                                        "type": "boolean",
                                        "description": "Indicates whether we found at least one matching account for the ACH account and routing number."
                                      },
                                      "is_numbers_match_verified": {
                                        "type": "boolean",
                                        "description": "Indicates if at least one matching account for the ACH account and routing number is already verified."
                                      }
                                    },
                                    "required": [
                                      "has_numbers_match",
                                      "is_numbers_match_verified"
                                    ]
                                  },
                                  "previous_returns": {
                                    "title": "VerificationInsightsNetworkStatus",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Information about known ACH returns for the account and routing number.",
                                    "properties": {
                                      "has_previous_administrative_return": {
                                        "type": "boolean",
                                        "description": "Indicates whether Plaid's data sources include a known administrative ACH return for account and routing number."
                                      }
                                    },
                                    "required": [
                                      "has_previous_administrative_return"
                                    ]
                                  },
                                  "account_number_format": {
                                    "title": "VerificationInsightsAccountNumberFormat",
                                    "type": "string",
                                    "enum": [
                                      "valid",
                                      "invalid",
                                      "unknown"
                                    ],
                                    "description": "Indicator of account number format validity for institution.\n\n`valid`: indicates that the account number has a correct format for the institution.\n\n`invalid`: indicates that the account number has an incorrect format for the institution.\n\n`unknown`: indicates that there was not enough information to determine whether the format is correct for the institution."
                                  }
                                },
                                "required": [
                                  "network_status",
                                  "account_number_format"
                                ]
                              },
                              "persistent_account_id": {
                                "type": "string",
                                "description": "A unique and persistent identifier for accounts that can be used to trace multiple instances of the same account across different Items for depository accounts. This field is currently supported only for Items at institutions that use Tokenized Account Numbers (i.e., Chase and PNC, and in May 2025 US Bank). Because these accounts have a different account number each time they are linked, this field may be used instead of the account number to uniquely identify an account across multiple Items for payments use cases, helping to reduce duplicate Items or attempted fraud. In Sandbox, this field is populated for TAN-based institutions (`ins_56`, `ins_13`) as well as the OAuth Sandbox institution (`ins_127287`); in Production, it will only be populated for accounts at applicable institutions."
                              },
                              "holder_category": {
                                "type": "string",
                                "nullable": true,
                                "title": "HolderCategory",
                                "description": "Indicates the account's categorization as either a personal or a business account. This field is currently in beta; to request access, contact your account manager.",
                                "enum": [
                                  "business",
                                  "personal",
                                  "unrecognized"
                                ]
                              }
                            },
                            "required": [
                              "account_id",
                              "balances",
                              "mask",
                              "name",
                              "official_name",
                              "type",
                              "subtype"
                            ]
                          },
                          {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "owners": {
                                "type": "array",
                                "description": "Data returned by the financial institution about the account owner or owners. Only returned by Identity or Assets endpoints. For business accounts, the name reported may be either the name of the individual or the name of the business, depending on the institution; detecting whether the linked account is a business account is not currently supported. Multiple owners on a single account will be represented in the same `owner` object, not in multiple owner objects within the array. In API versions 2018-05-22 and earlier, the `owners` object is not returned, and instead identity information is returned in the top level `identity` object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29)",
                                "items": {
                                  "title": "Owner",
                                  "type": "object",
                                  "additionalProperties": true,
                                  "description": "Data returned from the financial institution about the owner or owners of an account. Only the `names` array must be non-empty.",
                                  "properties": {
                                    "names": {
                                      "description": "A list of names associated with the account by the financial institution. In the case of a joint account, Plaid will make a best effort to report the names of all account holders.\n\nIf an Item contains multiple accounts with different owner names, some institutions will report all names associated with the Item in each account's `names` array.",
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "phone_numbers": {
                                      "type": "array",
                                      "description": "A list of phone numbers associated with the account by the financial institution. May be an empty array if no relevant information is returned from the financial institution.",
                                      "items": {
                                        "title": "PhoneNumber",
                                        "type": "object",
                                        "additionalProperties": true,
                                        "description": "A phone number",
                                        "properties": {
                                          "data": {
                                            "type": "string",
                                            "description": "The phone number."
                                          },
                                          "primary": {
                                            "type": "boolean",
                                            "description": "When `true`, identifies the phone number as the primary number on an account."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "home",
                                              "work",
                                              "office",
                                              "mobile",
                                              "mobile1",
                                              "other"
                                            ],
                                            "description": "The type of phone number."
                                          }
                                        },
                                        "required": [
                                          "data",
                                          "primary",
                                          "type"
                                        ]
                                      }
                                    },
                                    "emails": {
                                      "type": "array",
                                      "description": "A list of email addresses associated with the account by the financial institution. May be an empty array if no relevant information is returned from the financial institution.",
                                      "items": {
                                        "title": "Email",
                                        "type": "object",
                                        "additionalProperties": true,
                                        "properties": {
                                          "data": {
                                            "type": "string",
                                            "description": "The email address."
                                          },
                                          "primary": {
                                            "type": "boolean",
                                            "description": "When `true`, identifies the email address as the primary email on an account."
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "primary",
                                              "secondary",
                                              "other"
                                            ],
                                            "description": "The type of email account as described by the financial institution."
                                          }
                                        },
                                        "required": [
                                          "data",
                                          "primary",
                                          "type"
                                        ],
                                        "description": "An object representing an email address"
                                      }
                                    },
                                    "addresses": {
                                      "type": "array",
                                      "description": "Data about the various addresses associated with the account by the financial institution. May be an empty array if no relevant information is returned from the financial institution.",
                                      "items": {
                                        "title": "Address",
                                        "type": "object",
                                        "additionalProperties": true,
                                        "description": "A physical mailing address.",
                                        "properties": {
                                          "data": {
                                            "title": "AddressData",
                                            "type": "object",
                                            "additionalProperties": true,
                                            "description": "Data about the components comprising an address.",
                                            "properties": {
                                              "city": {
                                                "type": "string",
                                                "description": "The full city name",
                                                "nullable": true
                                              },
                                              "region": {
                                                "type": "string",
                                                "description": "The region or state. In API versions 2018-05-22 and earlier, this field is called `state`.\nExample: `\"NC\"`",
                                                "nullable": true
                                              },
                                              "street": {
                                                "type": "string",
                                                "description": "The full street address\nExample: `\"564 Main Street, APT 15\"`"
                                              },
                                              "postal_code": {
                                                "type": "string",
                                                "description": "The postal code. In API versions 2018-05-22 and earlier, this field is called `zip`.",
                                                "nullable": true
                                              },
                                              "country": {
                                                "type": "string",
                                                "description": "The ISO 3166-1 alpha-2 country code",
                                                "nullable": true
                                              }
                                            },
                                            "required": [
                                              "city",
                                              "region",
                                              "street",
                                              "postal_code",
                                              "country"
                                            ]
                                          },
                                          "primary": {
                                            "type": "boolean",
                                            "description": "When `true`, identifies the address as the primary address on an account."
                                          }
                                        },
                                        "required": [
                                          "data"
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "names",
                                    "phone_numbers",
                                    "emails",
                                    "addresses"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "owners"
                            ]
                          }
                        ]
                      }
                    },
                    "item": {
                      "description": "Metadata about the Item.",
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "item_id": {
                          "description": "The Plaid Item ID. The `item_id` is always unique; linking the same account at the same institution twice will result in two Items with different `item_id` values. Like all Plaid identifiers, the `item_id` is case-sensitive.",
                          "type": "string"
                        },
                        "institution_id": {
                          "description": "The Plaid Institution ID associated with the Item. Field is `null` for Items created without an institution connection, such as Items created via Same Day Micro-deposits.",
                          "type": "string",
                          "nullable": true
                        },
                        "institution_name": {
                          "description": "The name of the institution associated with the Item. Field is `null` for Items created without an institution connection, such as Items created via Same Day Micro-deposits.",
                          "type": "string",
                          "nullable": true
                        },
                        "webhook": {
                          "description": "The URL registered to receive webhooks for the Item.",
                          "type": "string",
                          "nullable": true
                        },
                        "auth_method": {
                          "description": "The method used to populate Auth data for the Item. This field is only populated for Items that have had Auth numbers data set on at least one of its accounts, and will be `null` otherwise. For info about the various flows, see our [Auth coverage documentation](https://plaid.com/docs/auth/coverage/).\n\n`INSTANT_AUTH`: The Item's Auth data was provided directly by the user's institution connection.\n\n`INSTANT_MATCH`: The Item's Auth data was provided via the Instant Match fallback flow.\n\n`AUTOMATED_MICRODEPOSITS`: The Item's Auth data was provided via the Automated Micro-deposits flow.\n\n`SAME_DAY_MICRODEPOSITS`: The Item's Auth data was provided via the Same Day Micro-deposits flow.\n\n`INSTANT_MICRODEPOSITS`: The Item's Auth data was provided via the Instant Micro-deposits flow.\n\n`DATABASE_MATCH`: The Item's Auth data was provided via the Database Match flow.\n\n`DATABASE_INSIGHTS`: The Item's Auth data was provided via the Database Insights flow.\n\n`TRANSFER_MIGRATED`: The Item's Auth data was provided via [`/transfer/migrate_account`](https://plaid.com/docs/api/products/transfer/account-linking/#migrate-account-into-transfers).\n\n`INVESTMENTS_FALLBACK`: The Item's Auth data for Investments Move was provided via a [fallback flow](https://plaid.com/docs/investments-move/#fallback-flows).",
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "INSTANT_AUTH",
                            "INSTANT_MATCH",
                            "AUTOMATED_MICRODEPOSITS",
                            "SAME_DAY_MICRODEPOSITS",
                            "INSTANT_MICRODEPOSITS",
                            "DATABASE_MATCH",
                            "DATABASE_INSIGHTS",
                            "TRANSFER_MIGRATED",
                            "INVESTMENTS_FALLBACK",
                            null
                          ]
                        },
                        "error": {
                          "description": "Errors are identified by `error_code` and categorized by `error_type`. Use these in preference to HTTP status codes to identify and handle specific errors. HTTP status codes are set and provide the broadest categorization of errors: 4xx codes are for developer- or user-related errors, and 5xx codes are for Plaid-related errors, and the status will be 2xx in non-error cases. An Item with a non-`null` error object will only be part of an API response when calling `/item/get` to view Item status. Otherwise, error fields will be `null` if no error has occurred; if an error has occurred, an error code will be returned instead.",
                          "type": "object",
                          "additionalProperties": true,
                          "title": "Error",
                          "nullable": true,
                          "properties": {
                            "error_type": {
                              "title": "PlaidErrorType",
                              "type": "string",
                              "description": "A broad categorization of the error. Safe for programmatic use.",
                              "enum": [
                                "INVALID_REQUEST",
                                "INVALID_RESULT",
                                "INVALID_INPUT",
                                "INSTITUTION_ERROR",
                                "RATE_LIMIT_EXCEEDED",
                                "API_ERROR",
                                "ITEM_ERROR",
                                "ASSET_REPORT_ERROR",
                                "RECAPTCHA_ERROR",
                                "OAUTH_ERROR",
                                "PAYMENT_ERROR",
                                "BANK_TRANSFER_ERROR",
                                "INCOME_VERIFICATION_ERROR",
                                "MICRODEPOSITS_ERROR",
                                "SANDBOX_ERROR",
                                "PARTNER_ERROR",
                                "TRANSACTIONS_ERROR",
                                "TRANSACTION_ERROR",
                                "TRANSFER_ERROR",
                                "CHECK_REPORT_ERROR",
                                "CONSUMER_REPORT_ERROR"
                              ]
                            },
                            "error_code": {
                              "description": "The particular error code. Safe for programmatic use.",
                              "type": "string"
                            },
                            "error_code_reason": {
                              "type": "string",
                              "nullable": true,
                              "description": "The specific reason for the error code. Currently, reasons are only supported OAuth-based item errors; `null` will be returned otherwise. Safe for programmatic use.\n\nPossible values:\n`OAUTH_INVALID_TOKEN`: The user’s OAuth connection to this institution has been invalidated.\n\n`OAUTH_CONSENT_EXPIRED`: The user's access consent for this OAuth connection to this institution has expired.\n\n`OAUTH_USER_REVOKED`: The user’s OAuth connection to this institution is invalid because the user revoked their connection."
                            },
                            "error_message": {
                              "description": "A developer-friendly representation of the error code. This may change over time and is not safe for programmatic use.",
                              "type": "string"
                            },
                            "display_message": {
                              "description": "A user-friendly representation of the error code. `null` if the error is not related to user action.\n\nThis may change over time and is not safe for programmatic use.",
                              "type": "string",
                              "nullable": true
                            },
                            "request_id": {
                              "type": "string",
                              "description": "A unique ID identifying the request, to be used for troubleshooting purposes. This field will be omitted in errors provided by webhooks."
                            },
                            "causes": {
                              "type": "array",
                              "description": "In this product, a request can pertain to more than one Item. If an error is returned for such a request, `causes` will return an array of errors containing a breakdown of these errors on the individual Item level, if any can be identified.\n\n`causes` will be provided for the `error_type` `ASSET_REPORT_ERROR` or `CHECK_REPORT_ERROR`. `causes` will also not be populated inside an error nested within a `warning` object.",
                              "items": {}
                            },
                            "status": {
                              "type": "integer",
                              "description": "The HTTP status code associated with the error. This will only be returned in the response body when the error information is provided via a webhook.",
                              "nullable": true
                            },
                            "documentation_url": {
                              "type": "string",
                              "description": "The URL of a Plaid documentation page with more information about the error"
                            },
                            "suggested_action": {
                              "type": "string",
                              "nullable": true,
                              "description": "Suggested steps for resolving the error"
                            }
                          },
                          "required": [
                            "error_type",
                            "error_code",
                            "error_message",
                            "display_message"
                          ]
                        },
                        "available_products": {
                          "description": "A list of products available for the Item that have not yet been accessed. The contents of this array will be mutually exclusive with `billed_products`.",
                          "type": "array",
                          "items": {
                            "title": "Products",
                            "enum": [
                              "assets",
                              "auth",
                              "balance",
                              "balance_plus",
                              "beacon",
                              "identity",
                              "identity_match",
                              "investments",
                              "investments_auth",
                              "liabilities",
                              "payment_initiation",
                              "identity_verification",
                              "transactions",
                              "credit_details",
                              "income",
                              "income_verification",
                              "standing_orders",
                              "transfer",
                              "employment",
                              "recurring_transactions",
                              "transactions_refresh",
                              "signal",
                              "statements",
                              "processor_payments",
                              "processor_identity",
                              "profile",
                              "cra_base_report",
                              "cra_income_insights",
                              "cra_partner_insights",
                              "cra_network_insights",
                              "cra_cashflow_insights",
                              "cra_monitoring",
                              "cra_lend_score",
                              "layer",
                              "pay_by_bank",
                              "protect_linked_bank"
                            ],
                            "description": "A list of products that an institution can support. All Items must be initialized with at least one product. The Balance product is always available and does not need to be specified during initialization.",
                            "type": "string"
                          }
                        },
                        "billed_products": {
                          "description": "A list of products that have been billed for the Item. The contents of this array will be mutually exclusive with `available_products`. Note - `billed_products` is populated in all environments but only requests in Production are billed. Also note that products that are billed on a pay-per-call basis rather than a pay-per-Item basis, such as `balance`, will not appear here.\n",
                          "type": "array",
                          "items": {
                            "title": "Products",
                            "enum": [
                              "assets",
                              "auth",
                              "balance",
                              "balance_plus",
                              "beacon",
                              "identity",
                              "identity_match",
                              "investments",
                              "investments_auth",
                              "liabilities",
                              "payment_initiation",
                              "identity_verification",
                              "transactions",
                              "credit_details",
                              "income",
                              "income_verification",
                              "standing_orders",
                              "transfer",
                              "employment",
                              "recurring_transactions",
                              "transactions_refresh",
                              "signal",
                              "statements",
                              "processor_payments",
                              "processor_identity",
                              "profile",
                              "cra_base_report",
                              "cra_income_insights",
                              "cra_partner_insights",
                              "cra_network_insights",
                              "cra_cashflow_insights",
                              "cra_monitoring",
                              "cra_lend_score",
                              "layer",
                              "pay_by_bank",
                              "protect_linked_bank"
                            ],
                            "description": "A list of products that an institution can support. All Items must be initialized with at least one product. The Balance product is always available and does not need to be specified during initialization.",
                            "type": "string"
                          }
                        },
                        "products": {
                          "description": "A list of products added to the Item. In almost all cases, this will be the same as the `billed_products` field. For some products, it is possible for the product to be added to an Item but not yet billed (e.g. Assets, before `/asset_report/create` has been called, or Auth or Identity when added as Optional Products but before their endpoints have been called), in which case the product may appear in `products` but not in `billed_products`.\n",
                          "type": "array",
                          "items": {
                            "title": "Products",
                            "enum": [
                              "assets",
                              "auth",
                              "balance",
                              "balance_plus",
                              "beacon",
                              "identity",
                              "identity_match",
                              "investments",
                              "investments_auth",
                              "liabilities",
                              "payment_initiation",
                              "identity_verification",
                              "transactions",
                              "credit_details",
                              "income",
                              "income_verification",
                              "standing_orders",
                              "transfer",
                              "employment",
                              "recurring_transactions",
                              "transactions_refresh",
                              "signal",
                              "statements",
                              "processor_payments",
                              "processor_identity",
                              "profile",
                              "cra_base_report",
                              "cra_income_insights",
                              "cra_partner_insights",
                              "cra_network_insights",
                              "cra_cashflow_insights",
                              "cra_monitoring",
                              "cra_lend_score",
                              "layer",
                              "pay_by_bank",
                              "protect_linked_bank"
                            ],
                            "description": "A list of products that an institution can support. All Items must be initialized with at least one product. The Balance product is always available and does not need to be specified during initialization.",
                            "type": "string"
                          }
                        },
                        "consented_products": {
                          "description": "A list of products that the user has consented to for the Item via [Data Transparency Messaging](/docs/link/data-transparency-messaging-migration-guide). This will consist of all products where both of the following are true: the user has consented to the required data scopes for that product and you have Production access for that product.\n",
                          "type": "array",
                          "items": {
                            "title": "Products",
                            "enum": [
                              "assets",
                              "auth",
                              "balance",
                              "balance_plus",
                              "beacon",
                              "identity",
                              "identity_match",
                              "investments",
                              "investments_auth",
                              "liabilities",
                              "payment_initiation",
                              "identity_verification",
                              "transactions",
                              "credit_details",
                              "income",
                              "income_verification",
                              "standing_orders",
                              "transfer",
                              "employment",
                              "recurring_transactions",
                              "transactions_refresh",
                              "signal",
                              "statements",
                              "processor_payments",
                              "processor_identity",
                              "profile",
                              "cra_base_report",
                              "cra_income_insights",
                              "cra_partner_insights",
                              "cra_network_insights",
                              "cra_cashflow_insights",
                              "cra_monitoring",
                              "cra_lend_score",
                              "layer",
                              "pay_by_bank",
                              "protect_linked_bank"
                            ],
                            "description": "A list of products that an institution can support. All Items must be initialized with at least one product. The Balance product is always available and does not need to be specified during initialization.",
                            "type": "string"
                          },
                          "x-override-enum-values-shown": [
                            "assets",
                            "auth",
                            "balance",
                            "balance_plus",
                            "beacon",
                            "identity",
                            "identity_match",
                            "investments",
                            "investments_auth",
                            "liabilities",
                            "transactions",
                            "income",
                            "income_verification",
                            "transfer",
                            "employment",
                            "recurring_transactions",
                            "signal",
                            "statements",
                            "processor_payments",
                            "processor_identity",
                            "cra_base_report",
                            "cra_income_insights",
                            "cra_partner_insights",
                            "cra_cashflow_insights",
                            "cra_monitoring",
                            "layer"
                          ]
                        },
                        "consent_expiration_time": {
                          "description": "The date and time at which the Item's access consent will expire, in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format. If the Item does not have consent expiration scheduled, this field will be `null`. Currently, only institutions in Europe and a small number of institutions in the US have expiring consent. For a list of US institutions that currently expire consent, see the [OAuth Guide](https://plaid.com/docs/link/oauth/#refreshing-item-consent).",
                          "nullable": true,
                          "type": "string",
                          "format": "date-time"
                        },
                        "update_type": {
                          "type": "string",
                          "description": "Indicates whether an Item requires user interaction to be updated, which can be the case for Items with some forms of two-factor authentication.\n\n`background` - Item can be updated in the background\n\n`user_present_required` - Item requires user interaction to be updated",
                          "enum": [
                            "background",
                            "user_present_required"
                          ]
                        }
                      },
                      "required": [
                        "item_id",
                        "webhook",
                        "error",
                        "available_products",
                        "billed_products",
                        "consent_expiration_time",
                        "update_type"
                      ]
                    },
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "accounts",
                    "item",
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "accounts": [
                        {
                          "account_id": "BxBXxLj1m4HMXBm9WZZmCWVbPjX16EHwv99vp",
                          "balances": {
                            "available": 100,
                            "current": 110,
                            "iso_currency_code": "USD",
                            "limit": null,
                            "unofficial_currency_code": null
                          },
                          "mask": "0000",
                          "name": "Plaid Checking",
                          "official_name": "Plaid Gold Standard 0% Interest Checking",
                          "owners": [
                            {
                              "addresses": [
                                {
                                  "data": {
                                    "city": "Malakoff",
                                    "country": "US",
                                    "postal_code": "14236",
                                    "region": "NY",
                                    "street": "2992 Cameron Road"
                                  },
                                  "primary": true
                                },
                                {
                                  "data": {
                                    "city": "San Matias",
                                    "country": "US",
                                    "postal_code": "93405-2255",
                                    "region": "CA",
                                    "street": "2493 Leisure Lane"
                                  },
                                  "primary": false
                                }
                              ],
                              "emails": [
                                {
                                  "data": "accountholder0@example.com",
                                  "primary": true,
                                  "type": "primary"
                                },
                                {
                                  "data": "accountholder1@example.com",
                                  "primary": false,
                                  "type": "secondary"
                                },
                                {
                                  "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                                  "primary": false,
                                  "type": "other"
                                }
                              ],
                              "names": [
                                "Alberta Bobbeth Charleson"
                              ],
                              "phone_numbers": [
                                {
                                  "data": "2025550123",
                                  "primary": false,
                                  "type": "home"
                                },
                                {
                                  "data": "1112224444",
                                  "primary": false,
                                  "type": "work"
                                },
                                {
                                  "data": "1112225555",
                                  "primary": false,
                                  "type": "mobile"
                                }
                              ]
                            }
                          ],
                          "subtype": "checking",
                          "type": "depository"
                        },
                        {
                          "account_id": "3gE5gnRzNyfXpBK5wEEKcymJ5albGVUqg77gr",
                          "balances": {
                            "available": 200,
                            "current": 210,
                            "iso_currency_code": "USD",
                            "limit": null,
                            "unofficial_currency_code": null
                          },
                          "mask": "1111",
                          "name": "Plaid Saving",
                          "official_name": "Plaid Silver Standard 0.1% Interest Saving",
                          "owners": [
                            {
                              "addresses": [
                                {
                                  "data": {
                                    "city": "Malakoff",
                                    "country": "US",
                                    "postal_code": "14236",
                                    "region": "NY",
                                    "street": "2992 Cameron Road"
                                  },
                                  "primary": true
                                },
                                {
                                  "data": {
                                    "city": "San Matias",
                                    "country": "US",
                                    "postal_code": "93405-2255",
                                    "region": "CA",
                                    "street": "2493 Leisure Lane"
                                  },
                                  "primary": false
                                }
                              ],
                              "emails": [
                                {
                                  "data": "accountholder0@example.com",
                                  "primary": true,
                                  "type": "primary"
                                },
                                {
                                  "data": "accountholder1@example.com",
                                  "primary": false,
                                  "type": "secondary"
                                },
                                {
                                  "data": "extraordinarily.long.email.username.123456@reallylonghostname.com",
                                  "primary": false,
                                  "type": "other"
                                }
                              ],
                              "names": [
                                "Alberta Bobbeth Charleson"
                              ],
                              "phone_numbers": [
                                {
                                  "data": "2025550123",
                                  "primary": false,
                                  "type": "home"
                                },
                                {
                                  "data": "1112224444",
                                  "primary": false,
                                  "type": "work"
                                },
                                {
                                  "data": "1112225555",
                                  "primary": false,
                                  "type": "mobile"
                                }
                              ]
                            }
                          ],
                          "subtype": "savings",
                          "type": "depository"
                        }
                      ],
                      "item": {
                        "available_products": [
                          "balance",
                          "investments"
                        ],
                        "billed_products": [
                          "assets",
                          "auth",
                          "identity",
                          "liabilities",
                          "transactions"
                        ],
                        "consent_expiration_time": null,
                        "error": null,
                        "institution_id": "ins_3",
                        "institution_name": "Chase",
                        "item_id": "eVBnVMp7zdTJLkRNr33Rs6zr7KNJqBFL9DrE6",
                        "update_type": "background",
                        "webhook": "https://www.genericwebhookurl.com/webhook",
                        "auth_method": "INSTANT_AUTH"
                      },
                      "request_id": "3nARps6TOYtbACO"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "The `/identity/get` endpoint allows you to retrieve various account holder information on file with the financial institution, including names, emails, phone numbers, and addresses. Only name data is guaranteed to be returned; other fields will be empty arrays if not provided by the institution.\n\nNote: In API versions 2018-05-22 and earlier, the `owners` object is not returned, and instead identity information is returned in the top level `identity` object. For more details, see [Plaid API versioning](https://plaid.com/docs/api/versioning/#version-2019-05-29).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "title": "AccessToken",
                    "type": "string",
                    "description": "The access token associated with the Item data is being requested for."
                  },
                  "options": {
                    "type": "object",
                    "description": "An optional object to filter `/identity/get` results.",
                    "properties": {
                      "account_ids": {
                        "type": "array",
                        "description": "A list of `account_ids` to retrieve for the Item.\nNote: An error will be returned if a provided `account_id` is not associated with the Item.",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "access_token"
                ]
              }
            }
          },
          "description": ""
        },
        "x-mint": {
          "metadata": {
            "title": "/identity/get"
          }
        }
      }
    },
    "/identity/match": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve identity match score",
        "externalDocs": {
          "url": "/api/products/identity/#identitymatch"
        },
        "operationId": "identityMatch",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "description": "The accounts for which Identity match has been requested",
                      "items": {
                        "description": "Identity match scores for an account",
                        "title": "AccountIdentityMatchScore",
                        "allOf": [
                          {
                            "title": "Account",
                            "type": "object",
                            "additionalProperties": true,
                            "description": "A single account at a financial institution.",
                            "x-examples": {
                              "example-1": {}
                            },
                            "properties": {
                              "account_id": {
                                "type": "string",
                                "description": "Plaid’s unique identifier for the account. This value will not change unless Plaid can't reconcile the account with the data returned by the financial institution. This may occur, for example, when the name of the account changes. If this happens a new `account_id` will be assigned to the account.\n\nThe `account_id` can also change if the `access_token` is deleted and the same credentials that were used to generate that `access_token` are used to generate a new `access_token` on a later date. In that case, the new `account_id` will be different from the old `account_id`.\n\nIf an account with a specific `account_id` disappears instead of changing, the account is likely closed. Closed accounts are not returned by the Plaid API.\n\nWhen using a CRA endpoint (an endpoint associated with Plaid Check Consumer Report, i.e. any endpoint beginning with `/cra/`), the `account_id` returned will not match the `account_id` returned by a non-CRA endpoint.\n\nLike all Plaid identifiers, the `account_id` is case sensitive."
                              },
                              "balances": {
                                "title": "AccountBalance",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "A set of fields describing the balance for an account. Balance information may be cached unless the balance object was returned by `/accounts/balance/get`.",
                                "properties": {
                                  "available": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The amount of funds available to be withdrawn from the account, as determined by the financial institution.\n\nFor `credit`-type accounts, the `available` balance typically equals the `limit` less the `current` balance, less any pending outflows plus any pending inflows.\n\nFor `depository`-type accounts, the `available` balance typically equals the `current` balance less any pending outflows plus any pending inflows. For `depository`-type accounts, the `available` balance does not include the overdraft limit.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the `available` balance is the total cash available to withdraw as presented by the institution.\n\nNote that not all institutions calculate the `available`  balance. In the event that `available` balance is unavailable, Plaid will return an `available` balance value of `null`.\n\nAvailable balance may be cached and is not guaranteed to be up-to-date in realtime unless the value was returned by `/accounts/balance/get`.\n\nIf `current` is `null` this field is guaranteed not to be `null`.",
                                    "nullable": true
                                  },
                                  "current": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "The total amount of funds in or owed by the account.\n\nFor `credit`-type accounts, a positive balance indicates the amount owed; a negative amount indicates the lender owing the account holder.\n\nFor `loan`-type accounts, the current balance is the principal remaining on the loan, except in the case of student loan accounts at Sallie Mae (`ins_116944`). For Sallie Mae student loans, the account's balance includes both principal and any outstanding interest. Similar to `credit`-type accounts, a positive balance is typically expected, while a negative amount indicates the lender owing the account holder.\n\nFor `investment`-type accounts (or `brokerage`-type accounts for API versions 2018-05-22 and earlier), the current balance is the total value of assets as presented by the institution.\n\nNote that balance information may be cached unless the value was returned by `/accounts/balance/get`; if the Item is enabled for Transactions, the balance will be at least as recent as the most recent Transaction update. If you require realtime balance information, use the `available` balance as provided by `/accounts/balance/get`.\n\nWhen returned by `/accounts/balance/get`, this field may be `null`. When this happens, `available` is guaranteed not to be `null`.",
                                    "nullable": true
                                  },
                                  "limit": {
                                    "type": "number",
                                    "format": "double",
                                    "description": "For `credit`-type accounts, this represents the credit limit.\n\nFor `depository`-type accounts, this represents the pre-arranged overdraft limit, which is common for current (checking) accounts in Europe.\n\nIn North America, this field is typically only available for `credit`-type accounts.",
                                    "nullable": true
                                  },
                                  "iso_currency_code": {
                                    "type": "string",
                                    "description": "The ISO-4217 currency code of the balance. Always null if `unofficial_currency_code` is non-null.",
                                    "nullable": true
                                  },
                                  "unofficial_currency_code": {
                                    "type": "string",
                                    "description": "The unofficial currency code associated with the balance. Always null if `iso_currency_code` is non-null. Unofficial currency codes are used for currencies that do not have official ISO currency codes, such as cryptocurrencies and the currencies of certain countries.\n\nSee the [currency code schema](https://plaid.com/docs/api/accounts#currency-code-schema) for a full listing of supported `unofficial_currency_code`s.",
                                    "nullable": true
                                  },
                                  "last_updated_datetime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "Timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format (`YYYY-MM-DDTHH:mm:ssZ`) indicating the last time the balance was updated.\n\nThis field is returned only when the institution is `ins_128026` (Capital One).",
                                    "nullable": true
                                  }
                                },
                                "required": [
                                  "available",
                                  "current",
                                  "limit",
                                  "iso_currency_code",
                                  "unofficial_currency_code"
                                ]
                              },
                              "mask": {
                                "type": "string",
                                "nullable": true,
                                "description": "The last 2-4 alphanumeric characters of either the account’s displayed mask or the account’s official account number. Note that the mask may be non-unique between an Item’s accounts."
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the account, either assigned by the user or by the financial institution itself"
                              },
                              "official_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "The official name of the account as given by the financial institution"
                              },
                              "type": {
                                "type": "string",
                                "title": "AccountType",
                                "enum": [
                                  "investment",
                                  "credit",
                                  "depository",
                                  "loan",
                                  "brokerage",
                                  "other"
                                ],
                                "description": "`investment:` Investment account. In API versions 2018-05-22 and earlier, this type is called `brokerage` instead.\n\n`credit:` Credit card\n\n`depository:` Depository account\n\n`loan:` Loan account\n\n`other:` Non-specified account type\n\nSee the [Account type schema](https://plaid.com/docs/api/accounts#account-type-schema) for a full listing of account types and corresponding subtypes."
                              },
                              "subtype": {
                                "type": "string",
                                "nullable": true,
                                "title": "AccountSubtype",
                                "description": "See the [Account type schema](https://plaid.com/docs/api/accounts/#account-type-schema) for a full listing of account types and corresponding subtypes.",
                                "enum": [
                                  "401a",
                                  "401k",
                                  "403B",
                                  "457b",
                                  "529",
                                  "auto",
                                  "brokerage",
                                  "business",
                                  "cash isa",
                                  "cash management",
                                  "cd",
                                  "checking",
                                  "commercial",
                                  "construction",
                                  "consumer",
                                  "credit card",
                                  "crypto exchange",
                                  "ebt",
                                  "education savings account",
                                  "fixed annuity",
                                  "gic",
                                  "health reimbursement arrangement",
                                  "home equity",
                                  "hsa",
                                  "isa",
                                  "ira",
                                  "keogh",
                                  "lif",
                                  "life insurance",
                                  "line of credit",
                                  "lira",
                                  "loan",
                                  "lrif",
                                  "lrsp",
                                  "money market",
                                  "mortgage",
                                  "mutual fund",
                                  "non-custodial wallet",
                                  "non-taxable brokerage account",
                                  "other",
                                  "other insurance",
                                  "other annuity",
                                  "overdraft",
                                  "paypal",
                                  "payroll",
                                  "pension",
                                  "prepaid",
                                  "prif",
                                  "profit sharing plan",
                                  "rdsp",
                                  "resp",
                                  "retirement",
                                  "rlif",
                                  "roth",
                                  "roth 401k",
                                  "rrif",
                                  "rrsp",
                                  "sarsep",
                                  "savings",
                                  "sep ira",
                                  "simple ira",
                                  "sipp",
                                  "stock plan",
                                  "student",
                                  "thrift savings plan",
                                  "tfsa",
                                  "trust",
                                  "ugma",
                                  "utma",
                                  "variable annuity"
                                ]
                              },
                              "verification_status": {
                                "type": "string",
                                "enum": [
                                  "automatically_verified",
                                  "pending_automatic_verification",
                                  "pending_manual_verification",
                                  "unsent",
                                  "manually_verified",
                                  "verification_expired",
                                  "verification_failed",
                                  "database_matched",
                                  "database_insights_pass",
                                  "database_insights_pass_with_caution",
                                  "database_insights_fail"
                                ],
                                "description": "The current verification status of an Auth Item initiated through micro-deposits or database verification. Returned for Auth Items only.\n\n`pending_automatic_verification`: The Item is pending automatic verification\n\n`pending_manual_verification`: The Item is pending manual micro-deposit verification. Items remain in this state until the user successfully verifies the micro-deposit.\n\n`automatically_verified`: The Item has successfully been automatically verified\t\n\n`manually_verified`: The Item has successfully been manually verified\n\n`verification_expired`: Plaid was unable to automatically verify the deposit within 7 calendar days and will no longer attempt to validate the Item. Users may retry by submitting their information again through Link.\n\n`verification_failed`: The Item failed manual micro-deposit verification because the user exhausted all 3 verification attempts. Users may retry by submitting their information again through Link. \n\n `unsent`: The Item is pending micro-deposit verification, but Plaid has not yet sent the micro-deposit.\n\n`database_matched`: The Item has successfully been verified using Plaid's data sources. Only returned for Auth Items created via Database Match.\n\n`database_insights_pass`: The Item's numbers have been verified using Plaid's data sources: the routing and account number match a routing and account number of an account recognized on the Plaid network, and the account is not known by Plaid to be frozen or closed. Only returned for Auth Items created via Database Auth.\n\n`database_insights_pass_with_caution`:The Item's numbers have been verified using Plaid's data sources and have some signal for being valid: the routing and account number were not recognized on the Plaid network, but the routing number is valid and the account number is a potential valid account number for that routing number. Only returned for Auth Items created via Database Auth.\n\n`database_insights_fail`: The Item's numbers have been verified using Plaid's data sources and have signal for being invalid and/or have no signal for being valid. Typically this indicates that the routing number is invalid, the account number does not match the account number format associated with the routing number, or the account has been reported as closed or frozen. Only returned for Auth Items created via Database Auth.\t\n\t"
                              },
                              "verification_name": {
                                "type": "string",
                                "description": "The account holder name that was used for micro-deposit and/or database verification. Only returned for Auth Items created via micro-deposit or database verification. This name was manually-entered by the user during Link, unless it was otherwise provided via the `user.legal_name` request field in `/link/token/create` for the Link session that created the Item."
                              },
                              "verification_insights": {
                                "title": "VerificationInsights",
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Insights from performing database verification for the account. Only returned for Auth Items using Database Auth.",
                                "properties": {
                                  "name_match_score": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Indicates the score of the name match between the given name provided during database verification (available in the [`verification_name`](https://plaid.com/docs/api/products/auth/#auth-get-response-accounts-verification-name) field) and matched Plaid network accounts. If defined, will be a value between 0 and 100. Will be undefined if name matching was not enabled for the database verification session or if there were no eligible Plaid network matches to compare the given name with."
                                  },
                                  "network_status": {
                                    "title": "VerificationInsightsNetworkStatus",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Status information about the account and routing number in the Plaid network.",
                                    "properties": {
                                      "has_numbers_match": {
                                        "type": "boolean",
                                        "description": "Indicates whether we found at least one matching account for the ACH account and routing number."
                                      },
                                      "is_numbers_match_verified": {
                                        "type": "boolean",
                                        "description": "Indicates if at least one matching account for the ACH account and routing number is already verified."
                                      }
                                    },
                                    "required": [
                                      "has_numbers_match",
                                      "is_numbers_match_verified"
                                    ]
                                  },
                                  "previous_returns": {
                                    "title": "VerificationInsightsNetworkStatus",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "description": "Information about known ACH returns for the account and routing number.",
                                    "properties": {
                                      "has_previous_administrative_return": {
                                        "type": "boolean",
                                        "description": "Indicates whether Plaid's data sources include a known administrative ACH return for account and routing number."
                                      }
                                    },
                                    "required": [
                                      "has_previous_administrative_return"
                                    ]
                                  },
                                  "account_number_format": {
                                    "title": "VerificationInsightsAccountNumberFormat",
                                    "type": "string",
                                    "enum": [
                                      "valid",
                                      "invalid",
                                      "unknown"
                                    ],
                                    "description": "Indicator of account number format validity for institution.\n\n`valid`: indicates that the account number has a correct format for the institution.\n\n`invalid`: indicates that the account number has an incorrect format for the institution.\n\n`unknown`: indicates that there was not enough information to determine whether the format is correct for the institution."
                                  }
                                },
                                "required": [
                                  "network_status",
                                  "account_number_format"
                                ]
                              },
                              "persistent_account_id": {
                                "type": "string",
                                "description": "A unique and persistent identifier for accounts that can be used to trace multiple instances of the same account across different Items for depository accounts. This field is currently supported only for Items at institutions that use Tokenized Account Numbers (i.e., Chase and PNC, and in May 2025 US Bank). Because these accounts have a different account number each time they are linked, this field may be used instead of the account number to uniquely identify an account across multiple Items for payments use cases, helping to reduce duplicate Items or attempted fraud. In Sandbox, this field is populated for TAN-based institutions (`ins_56`, `ins_13`) as well as the OAuth Sandbox institution (`ins_127287`); in Production, it will only be populated for accounts at applicable institutions."
                              },
                              "holder_category": {
                                "type": "string",
                                "nullable": true,
                                "title": "HolderCategory",
                                "description": "Indicates the account's categorization as either a personal or a business account. This field is currently in beta; to request access, contact your account manager.",
                                "enum": [
                                  "business",
                                  "personal",
                                  "unrecognized"
                                ]
                              }
                            },
                            "required": [
                              "account_id",
                              "balances",
                              "mask",
                              "name",
                              "official_name",
                              "type",
                              "subtype"
                            ]
                          },
                          {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "legal_name": {
                                "title": "NameMatchScore",
                                "type": "object",
                                "nullable": true,
                                "additionalProperties": true,
                                "description": "Score found by matching name provided by the API with the name on the account at the financial institution. If the account contains multiple owners, the maximum match score is filled.",
                                "properties": {
                                  "score": {
                                    "type": "integer",
                                    "nullable": true,
                                    "description": "Match score for name. 100 is a perfect score, 99-85 means a strong match, 84-70 is a partial match, any score less than 70 is a mismatch. Typically, the match threshold should be set to a score of 70 or higher. If the name is missing from either the API or financial institution, this is null."
                                  },
                                  "is_first_name_or_last_name_match": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "description": "first or last name completely matched, likely a family member"
                                  },
                                  "is_nickname_match": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "description": "nickname matched, example Jennifer and Jenn."
                                  },
                                  "is_business_name_detected": {
                                    "type": "boolean",
                                    "nullable": true,
                                    "description": "Is `true` if the name on either of the names that was matched for the score contained strings indicative of a business name, such as \"CORP\", \"LLC\", \"INC\", or \"LTD\". A `true` result generally indicates that an account's name is a business name. However, a `false` result does not mean the account name is not a business name, as some businesses do not use these strings in the names used for their financial institution accounts."
                                  }
                                }
                              },
                              "phone_number": {
                                "title": "PhoneNumberMatchScore",
                                "type": "object",
[...]
