{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://production.plaid.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.plaid.com"
    }
  ],
  "info": {
    "title": "The Plaid API",
    "version": "2020-09-14_1.666.2",
    "description": "The Plaid REST API. Please see https://plaid.com/docs/api for more details.",
    "contact": {
      "name": "Plaid Developer Team",
      "url": "https://plaid.com"
    },
    "termsOfService": "https://plaid.com/legal/"
  },
  "tags": [
    {
      "name": "plaid",
      "description": "The Plaid API"
    }
  ],
  "security": [
    {
      "clientId": [],
      "secret": [],
      "plaidVersion": []
    }
  ],
  "paths": {
    "/signal/evaluate": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Evaluate a planned ACH transaction",
        "externalDocs": {
          "url": "/api/products/signal#signalevaluate"
        },
        "operationId": "signalEvaluate",
        "description": "Use `/signal/evaluate` to evaluate a planned ACH transaction to get a return risk assessment (such as a risk score and risk tier) and additional risk signals.\n\nIn order to obtain a valid score for an ACH transaction, Plaid must have an access token for the account, and the Item must be healthy (receiving product updates) or have recently been in a healthy state. If the transaction does not meet eligibility requirements, an error will be returned corresponding to the underlying cause. If `/signal/evaluate` is called on the same transaction multiple times within a 24-hour period, cached results may be returned. For more information please refer to the error documentation on [Item errors](/docs/errors/item/) and [Link in Update Mode](/docs/link/update-mode/).\n\nNote: This request may take some time to complete if Signal is being added to an existing Item. This is because Plaid must communicate directly with the institution when retrieving the data for the first time.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SignalEvaluateResponse",
                  "description": "",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    },
                    "scores": {
                      "title": "SignalEvaluateScores",
                      "description": "Risk scoring details broken down by risk category.",
                      "type": "object",
                      "additionalProperties": true,
                      "nullable": true,
                      "properties": {
                        "customer_initiated_return_risk": {
                          "title": "CustomerInitiatedReturnRisk",
                          "type": "object",
                          "description": "The object contains a risk score and a risk tier that evaluate the transaction return risk of an unauthorized debit. Common return codes in this category include: \"R05\", \"R07\", \"R10\", \"R11\", \"R29\". These returns typically have a return time frame of up to 60 calendar days. During this period, the customer of financial institutions can dispute a transaction as unauthorized.",
                          "properties": {
                            "score": {
                              "description": "A score from 1-99 that indicates the transaction return risk: a higher risk score suggests a higher return likelihood.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 99
                            },
                            "risk_tier": {
                              "x-hidden-from-docs": true,
                              "deprecated": true,
                              "description": "DEPRECATED. Use Signal Rules instead to transform the `score` into a useful action. \n\nA tier corresponding to the projected likelihood that the transaction, if initiated, will be subject to a return.\n\nIn the `customer_initiated_return_risk` object, there are five risk tiers corresponding to the scores:\n  1: Predicted customer-initiated return incidence rate between 0.00% - 0.02%\n  2: Predicted customer-initiated return incidence rate between 0.02% - 0.05%\n  3: Predicted customer-initiated return incidence rate between 0.05% - 0.1%\n  4: Predicted customer-initiated return incidence rate between 0.1% - 0.5%\n  5: Predicted customer-initiated return incidence rate greater than 0.5%\n",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 5
                            }
                          },
                          "required": [
                            "risk_tier",
                            "score"
                          ]
                        },
                        "bank_initiated_return_risk": {
                          "title": "BankInitiatedReturnRisk",
                          "type": "object",
                          "description": "The object contains a risk score and a risk tier that evaluate the transaction return risk because an account is overdrawn or because an ineligible account is used. Common return codes in this category include: \"R01\", \"R02\", \"R03\", \"R04\", \"R06\", \"R08\",  \"R09\", \"R13\", \"R16\", \"R17\", \"R20\", \"R23\". These returns have a turnaround time of 2 banking days.",
                          "properties": {
                            "score": {
                              "description": "A score from 1-99 that indicates the transaction return risk: a higher risk score suggests a higher return likelihood.",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 99
                            },
                            "risk_tier": {
                              "x-hidden-from-docs": true,
                              "deprecated": true,
                              "description": "DEPRECATED. Use Signal Rules instead to transform the `score` into a useful action.  \n\nIn the `bank_initiated_return_risk` object, there are eight risk tiers corresponding to the scores:\n  1: Predicted bank-initiated return incidence rate between 0.0% - 0.5%\n  2: Predicted bank-initiated return incidence rate between 0.5% - 1.5%\n  3: Predicted bank-initiated return incidence rate between 1.5% - 3%\n  4: Predicted bank-initiated return incidence rate between 3% - 5%\n  5: Predicted bank-initiated return incidence rate between 5% - 10%\n  6: Predicted bank-initiated return incidence rate between 10% - 15%\n  7: Predicted bank-initiated return incidence rate between 15% and 50%\n  8: Predicted bank-initiated return incidence rate greater than 50%\n",
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 8
                            }
                          },
                          "required": [
                            "risk_tier",
                            "score"
                          ]
                        }
                      }
                    },
                    "core_attributes": {
                      "title": "SignalEvaluateCoreAttributes",
                      "type": "object",
                      "description": "The core attributes object contains additional data that can be used to assess the ACH return risk. Examples of data include:\n\n`days_since_first_plaid_connection`: The number of days since the first time the Item was connected to an application via Plaid\n`plaid_connections_count_7d`: The number of times the Item has been connected to applications via Plaid over the past 7 days\n`plaid_connections_count_30d`: The number of times the Item has been connected to applications via Plaid over the past 30 days\n`total_plaid_connections_count`: The number of times the Item has been connected to applications via Plaid\n`is_savings_or_money_market_account`: Indicates whether the ACH transaction funding account is a savings/money market account\n\nFor the full list and detailed documentation of core attributes available, or to request that core attributes not be returned, contact Sales or your Plaid account manager",
                      "properties": {
                        "unauthorized_transactions_count_7d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to unauthorized transactions over the past 7 days from the account that will be debited.",
                          "nullable": true
                        },
                        "unauthorized_transactions_count_30d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to unauthorized transactions over the past 30 days from the account that will be debited.",
                          "nullable": true
                        },
                        "unauthorized_transactions_count_60d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to unauthorized transactions over the past 60 days from the account that will be debited.",
                          "nullable": true
                        },
                        "unauthorized_transactions_count_90d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to unauthorized transactions over the past 90 days from the account that will be debited.",
                          "nullable": true
                        },
                        "nsf_overdraft_transactions_count_7d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to non-sufficient funds/overdrafts over the past 7 days from the account that will be debited.",
                          "nullable": true
                        },
                        "nsf_overdraft_transactions_count_30d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to non-sufficient funds/overdrafts over the past 30 days from the account that will be debited.",
                          "nullable": true
                        },
                        "nsf_overdraft_transactions_count_60d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to non-sufficient funds/overdrafts over the past 60 days from the account that will be debited.",
                          "nullable": true
                        },
                        "nsf_overdraft_transactions_count_90d": {
                          "type": "integer",
                          "description": "We parse and analyze historical transaction metadata to identify the number of possible past returns due to non-sufficient funds/overdrafts over the past 90 days from the account that will be debited.",
                          "nullable": true
                        },
                        "days_since_first_plaid_connection": {
                          "type": "integer",
                          "description": "The number of days since the first time the Item was connected to an application via Plaid",
                          "nullable": true
                        },
                        "plaid_connections_count_7d": {
                          "type": "integer",
                          "description": "The number of times the Item has been connected to applications via Plaid over the past 7 days",
                          "nullable": true
                        },
                        "plaid_connections_count_30d": {
                          "type": "integer",
                          "description": "The number of times the Item has been connected to applications via Plaid over the past 30 days",
                          "nullable": true
                        },
                        "total_plaid_connections_count": {
                          "type": "integer",
                          "description": "The total number of times the Item has been connected to applications via Plaid",
                          "nullable": true
                        },
                        "is_savings_or_money_market_account": {
                          "type": "boolean",
                          "description": "Indicates if the ACH transaction funding account is a savings/money market account",
                          "nullable": true
                        },
                        "total_credit_transactions_amount_10d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total credit (inflow) transaction amount over the past 10 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_debit_transactions_amount_10d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total debit (outflow) transaction amount over the past 10 days from the account that will be debited",
                          "nullable": true
                        },
                        "p50_credit_transactions_amount_28d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of all credit (inflow) transaction amounts over the past 28 days from the account that will be debited",
                          "nullable": true
                        },
                        "p50_debit_transactions_amount_28d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of all debit (outflow) transaction amounts over the past 28 days from the account that will be debited",
                          "nullable": true
                        },
                        "p95_credit_transactions_amount_28d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 95th percentile of all credit (inflow) transaction amounts over the past 28 days from the account that will be debited",
                          "nullable": true
                        },
                        "p95_debit_transactions_amount_28d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 95th percentile of all debit (outflow) transaction amounts over the past 28 days from the account that will be debited",
                          "nullable": true
                        },
                        "days_with_negative_balance_count_90d": {
                          "type": "integer",
                          "description": "The number of days within the past 90 days when the account that will be debited had a negative end-of-day available balance",
                          "nullable": true
                        },
                        "p90_eod_balance_30d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 90th percentile of the end-of-day available balance over the past 30 days of the account that will be debited",
                          "nullable": true
                        },
                        "p90_eod_balance_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 90th percentile of the end-of-day available balance over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p90_eod_balance_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 90th percentile of the end-of-day available balance over the past 90 days of the account that will be debited",
                          "nullable": true
                        },
                        "p10_eod_balance_30d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 10th percentile of the end-of-day available balance over the past 30 days of the account that will be debited",
                          "nullable": true
                        },
                        "p10_eod_balance_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 10th percentile of the end-of-day available balance over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p10_eod_balance_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 10th percentile of the end-of-day available balance over the past 90 days of the account that will be debited",
                          "nullable": true
                        },
                        "available_balance": {
                          "type": "number",
                          "format": "double",
                          "description": "Available balance, as of the `balance_last_updated` time. The available balance is the current balance less any outstanding holds or debits that have not yet posted to the account.",
                          "nullable": true
                        },
                        "current_balance": {
                          "type": "number",
                          "format": "double",
                          "description": "Current balance, as of the `balance_last_updated` time. The current balance is the total amount of funds in the account.",
                          "nullable": true
                        },
                        "balance_last_updated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format (YYYY-MM-DDTHH:mm:ssZ) indicating the last time that the balance for the given account has been updated.",
                          "nullable": true
                        },
                        "phone_change_count_28d": {
                          "type": "integer",
                          "description": "The number of times the account's phone numbers on file have changed over the past 28 days",
                          "nullable": true
                        },
                        "phone_change_count_90d": {
                          "type": "integer",
                          "description": "The number of times the account's phone numbers on file have changed over the past 90 days",
                          "nullable": true
                        },
                        "email_change_count_28d": {
                          "type": "integer",
                          "description": "The number of times the account's email addresses on file have changed over the past 28 days",
                          "nullable": true
                        },
                        "email_change_count_90d": {
                          "type": "integer",
                          "description": "The number of times the account's email addresses on file have changed over the past 90 days",
                          "nullable": true
                        },
                        "address_change_count_28d": {
                          "type": "integer",
                          "description": "The number of times the account's addresses on file have changed over the past 28 days",
                          "nullable": true
                        },
                        "address_change_count_90d": {
                          "type": "integer",
                          "description": "The number of times the account's addresses on file have changed over the past 90 days",
                          "nullable": true
                        },
                        "plaid_non_oauth_authentication_attempts_count_3d": {
                          "type": "integer",
                          "description": "The number of non-OAuth authentication attempts via Plaid for this bank account over the past 3 days",
                          "nullable": true
                        },
                        "plaid_non_oauth_authentication_attempts_count_7d": {
                          "type": "integer",
                          "description": "The number of non-OAuth authentication attempts via Plaid for this bank account over the past 7 days",
                          "nullable": true
                        },
                        "plaid_non_oauth_authentication_attempts_count_30d": {
                          "type": "integer",
                          "description": "The number of non-OAuth authentication attempts via Plaid for this bank account over the past 30 days",
                          "nullable": true
                        },
                        "failed_plaid_non_oauth_authentication_attempts_count_3d": {
                          "type": "integer",
                          "description": "The number of failed non-OAuth authentication attempts via Plaid for this bank account over the past 3 days",
                          "nullable": true
                        },
                        "failed_plaid_non_oauth_authentication_attempts_count_7d": {
                          "type": "integer",
                          "description": "The number of failed non-OAuth authentication attempts via Plaid for this bank account over the past 7 days",
                          "nullable": true
                        },
                        "failed_plaid_non_oauth_authentication_attempts_count_30d": {
                          "type": "integer",
                          "description": "The number of failed non-OAuth authentication attempts via Plaid for this bank account over the past 30 days",
                          "nullable": true
                        },
                        "debit_transactions_count_10d": {
                          "type": "integer",
                          "description": "The total number of debit (outflow) transactions over the past 10 days from the account that will be debited",
                          "nullable": true
                        },
                        "credit_transactions_count_10d": {
                          "type": "integer",
                          "description": "The total number of credit (inflow) transactions over the past 10 days from the account that will be debited",
                          "nullable": true
                        },
                        "debit_transactions_count_30d": {
                          "type": "integer",
                          "description": "The total number of debit (outflow) transactions over the past 30 days from the account that will be debited",
                          "nullable": true
                        },
                        "credit_transactions_count_30d": {
                          "type": "integer",
                          "description": "The total number of credit (inflow) transactions over the past 30 days from the account that will be debited",
                          "nullable": true
                        },
                        "debit_transactions_count_60d": {
                          "type": "integer",
                          "description": "The total number of debit (outflow) transactions over the past 60 days from the account that will be debited",
                          "nullable": true
                        },
                        "credit_transactions_count_60d": {
                          "type": "integer",
                          "description": "The total number of credit (inflow) transactions over the past 60 days from the account that will be debited",
                          "nullable": true
                        },
                        "debit_transactions_count_90d": {
                          "type": "integer",
                          "description": "The total number of debit (outflow) transactions over the past 90 days from the account that will be debited",
                          "nullable": true
                        },
                        "credit_transactions_count_90d": {
                          "type": "integer",
                          "description": "The total number of credit (inflow) transactions over the past 90 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_debit_transactions_amount_30d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total debit (outflow) transaction amount over the past 30 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_credit_transactions_amount_30d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total credit (inflow) transaction amount over the past 30 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_debit_transactions_amount_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total debit (outflow) transaction amount over the past 60 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_credit_transactions_amount_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total credit (inflow) transaction amount over the past 60 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_debit_transactions_amount_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total debit (outflow) transaction amount over the past 90 days from the account that will be debited",
                          "nullable": true
                        },
                        "total_credit_transactions_amount_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The total credit (inflow) transaction amount over the past 90 days from the account that will be debited",
                          "nullable": true
                        },
                        "p50_eod_balance_30d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of the end-of-day available balance over the past 30 days of the account that will be debited",
                          "nullable": true
                        },
                        "p50_eod_balance_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of the end-of-day available balance over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p50_eod_balance_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of the end-of-day available balance over the past 90 days of the account that will be debited",
                          "nullable": true
                        },
                        "p50_eod_balance_31d_to_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of the end-of-day available balance between day 31 and day 60 over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p50_eod_balance_61d_to_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 50th percentile of the end-of-day available balance between day 61 and day 90 over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p90_eod_balance_31d_to_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 90th percentile of the end-of-day available balance between day 31 and day 60 over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p90_eod_balance_61d_to_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 90th percentile of the end-of-day available balance between day 61 and day 90 over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p10_eod_balance_31d_to_60d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 10th percentile of the end-of-day available balance between day 31 and day 60 over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "p10_eod_balance_61d_to_90d": {
                          "type": "number",
                          "format": "double",
                          "description": "The 10th percentile of the end-of-day available balance between day 61 and day 90 over the past 60 days of the account that will be debited",
                          "nullable": true
                        },
                        "transactions_last_updated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp in [ISO 8601](https://wikipedia.org/wiki/ISO_8601) format (YYYY-MM-DDTHH:mm:ssZ) indicating the last time that the transactions for the given account have been updated.",
                          "nullable": true
                        },
                        "is_account_closed": {
                          "type": "boolean",
                          "description": "Indicates if the receiver bank account is closed",
                          "nullable": true
                        },
                        "is_account_frozen_or_restricted": {
                          "type": "boolean",
                          "description": "Indicates if the receiver bank account is either frozen or restricted",
                          "nullable": true
                        },
                        "distinct_ip_addresses_count_3d": {
                          "type": "integer",
                          "description": "The number of distinct IP addresses linked to the same bank account during Plaid authentication in the last 3 days",
                          "nullable": true
                        },
                        "distinct_ip_addresses_count_7d": {
                          "type": "integer",
                          "description": "The number of distinct IP addresses linked to the same bank account during Plaid authentication in the last 7 days",
                          "nullable": true
                        },
                        "distinct_ip_addresses_count_30d": {
                          "type": "integer",
                          "description": "The number of distinct IP addresses linked to the same bank account during Plaid authentication in the last 30 days (max 100)",
                          "nullable": true
                        },
                        "distinct_ip_addresses_count_90d": {
                          "type": "integer",
                          "description": "The number of distinct IP addresses linked to the same bank account during Plaid authentication in the last 90 days (max 100)",
                          "nullable": true
                        },
                        "distinct_user_agents_count_3d": {
                          "type": "integer",
                          "description": "The number of distinct user agents linked to the same bank account during Plaid authentication in the last 3 days",
                          "nullable": true
                        },
                        "distinct_user_agents_count_7d": {
                          "type": "integer",
                          "description": "The number of distinct user agents linked to the same bank account during Plaid authentication in the last 7 days",
                          "nullable": true
                        },
                        "distinct_user_agents_count_30d": {
                          "type": "integer",
                          "description": "The number of distinct user agents linked to the same bank account during Plaid authentication in the last 30 days",
                          "nullable": true
                        },
                        "distinct_user_agents_count_90d": {
                          "type": "integer",
                          "description": "The number of distinct user agents linked to the same bank account during Plaid authentication in the last 90 days",
                          "nullable": true
                        },
                        "distinct_ssl_tls_connection_sessions_count_3d": {
                          "type": "integer",
                          "description": "The number of distinct SSL/TLS connection sessions linked to the same bank account during Plaid authentication in the last 3 days",
                          "nullable": true
                        },
                        "distinct_ssl_tls_connection_sessions_count_7d": {
                          "type": "integer",
                          "description": "The number of distinct SSL/TLS connection sessions linked to the same bank account during Plaid authentication in the last 7 days",
                          "nullable": true
                        },
                        "distinct_ssl_tls_connection_sessions_count_30d": {
                          "type": "integer",
                          "description": "The number of distinct SSL/TLS connection sessions linked to the same bank account during Plaid authentication in the last 30 days",
                          "nullable": true
                        },
                        "distinct_ssl_tls_connection_sessions_count_90d": {
                          "type": "integer",
                          "description": "The number of distinct SSL/TLS connection sessions linked to the same bank account during Plaid authentication in the last 90 days",
                          "nullable": true
                        },
                        "days_since_account_opening": {
                          "type": "integer",
                          "description": "The number of days since the bank account was opened, as reported by the financial institution",
                          "nullable": true
                        },
                        "balance_to_transaction_amount_ratio": {
                          "type": "number",
                          "format": "double",
                          "description": "Taking `available_or_current_balance` and dividing it by the transaction amount. Useful to say “10% buffer”, for example. This is a convenience function to build Signal Rules upon.",
                          "nullable": true
                        }
                      }
                    },
                    "risk_profile": {
                      "deprecated": true,
                      "x-hidden-from-docs": true,
                      "title": "SignalEvaluateRiskProfile",
                      "type": "object",
                      "description": "RiskProfile is deprecated, use `ruleset` instead.",
                      "nullable": true,
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key of the risk profile used for this transaction."
                        },
                        "outcome": {
                          "type": "string",
                          "description": "Legacy method of inspecting the result of the ruleset. New integrations should simply use the “result” property instead. This value will be omitted if you do not have a live existing integration with rules using this field."
                        }
                      }
                    },
                    "ruleset": {
                      "title": "SignalEvaluateRuleset",
                      "type": "object",
                      "description": "Details about the transaction result after evaluated by the requested Ruleset. If a `ruleset_key` is not provided, this field will be omitted. This feature is currently in closed beta; to request access, contact your account manager.",
                      "nullable": true,
                      "additionalProperties": true,
                      "properties": {
                        "ruleset_key": {
                          "type": "string",
                          "description": "The key of the Ruleset used for this transaction."
                        },
                        "result": {
                          "type": "string",
                          "enum": [
                            "ACCEPT",
                            "REROUTE",
                            "REVIEW"
                          ],
                          "description": "The result of the rule that was triggered for this transaction.\n\n`ACCEPT`: Accept the transaction for processing.\n`REROUTE`: Reroute the transaction to a different payment method, as this transaction is too risky.\n`REVIEW`: Review the transaction before proceeding."
                        },
                        "triggered_rule_details": {
                          "title": "RuleDetails",
                          "type": "object",
                          "description": "Rules are run in numerical order. The first rule with a logic match is triggered. These are the details of that rule.",
                          "nullable": true,
                          "additionalProperties": true,
                          "properties": {
                            "internal_note": {
                              "type": "string",
                              "description": "An optional message attached to the triggered rule, defined within the Dashboard, for your internal use. Useful for debugging, such as “Account appears to be closed.”"
                            },
                            "custom_action_key": {
                              "type": "string",
                              "description": "A string key, defined within the Dashboard, used to trigger programmatic behavior for a certain result. For instance, you could optionally choose to define a \"3-day-hold\" `custom_action_key` for an ACCEPT result."
                            }
                          }
                        },
                        "outcome": {
                          "deprecated": true,
                          "type": "string",
                          "description": "The evaluated outcome for this transaction. This field is deprecated, use `result` or `triggered_rule_details.custom_action_key` instead."
                        }
                      },
                      "required": [
                        "result"
                      ]
                    },
                    "warnings": {
                      "type": "array",
                      "description": "If bank information was not available to be used in the Signal model, this array contains warnings describing why bank data is missing. If you want to receive an API error instead of Signal scores in the case of missing bank data, file a support ticket or contact your Plaid account manager.",
                      "items": {
                        "title": "SignalWarning",
                        "type": "object",
                        "description": "Conveys information about the errors causing missing or stale bank data used to construct the /signal/evaluate scores and response",
                        "properties": {
                          "warning_type": {
                            "type": "string",
                            "description": "A broad categorization of the warning. Safe for programmatic use."
                          },
                          "warning_code": {
                            "type": "string",
                            "description": "The warning code identifies a specific kind of warning that pertains to the error causing bank data to be missing. Safe for programmatic use. For more details on warning codes, please refer to Plaid standard error codes documentation. If you receive the `ITEM_LOGIN_REQUIRED` warning, we recommend re-authenticating your user by implementing Link's update mode. This will guide your user to fix their credentials, allowing Plaid to start fetching data again for future Signal requests."
                          },
                          "warning_message": {
                            "type": "string",
                            "description": "A developer-friendly representation of the warning type. This may change over time and is not safe for programmatic use."
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "request_id",
                    "scores",
                    "warnings"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "scores": {
                        "customer_initiated_return_risk": {
                          "score": 9
                        },
                        "bank_initiated_return_risk": {
                          "score": 82
                        }
                      },
                      "core_attributes": {
                        "days_since_first_plaid_connection": 510,
                        "plaid_connections_count_7d": 6,
                        "plaid_connections_count_30d": 7,
                        "total_plaid_connections_count": 15,
                        "is_savings_or_money_market_account": false
                      },
                      "ruleset": {
                        "ruleset_key": "onboarding_flow",
                        "result": "REROUTE",
                        "triggered_rule_details": {
                          "internal_note": "Rerouting customer to different payment method, since bank risk score is too high"
                        }
                      },
                      "warnings": [],
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SignalEvaluateRequest",
                "description": "",
                "type": "object",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "title": "AccessToken",
                    "type": "string",
                    "description": "The access token associated with the Item data is being requested for."
                  },
                  "account_id": {
                    "type": "string",
                    "description": "The Plaid `account_id` of the account that is the funding source for the proposed transaction. The `account_id` is returned in the `/accounts/get` endpoint as well as the [`onSuccess`](/docs/link/ios/#link-ios-onsuccess-linkSuccess-metadata-accounts-id) callback metadata.\n\nThis will return an [`INVALID_ACCOUNT_ID`](https://plaid.com/docs/errors/invalid-input/#invalid_account_id) error if the account has been removed at the bank or if the `account_id` is no longer valid."
                  },
                  "client_transaction_id": {
                    "type": "string",
                    "description": "The unique ID that you would like to use to refer to this evaluation attempt - for example, a payment attempt ID. You will use this later to debug this evaluation, and/or report an ACH return, etc. The max length for this field is 36 characters.",
                    "minLength": 1,
                    "maxLength": 36
                  },
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "The transaction amount, in USD (e.g. `102.05`)"
                  },
                  "user_present": {
                    "type": "boolean",
                    "description": "`true` if the end user is present while initiating the ACH transfer and the endpoint is being called; `false` otherwise (for example, when the ACH transfer is scheduled and the end user is not present, or you call this endpoint after the ACH transfer but before submitting the Nacha file for ACH processing).",
                    "nullable": true
                  },
                  "client_user_id": {
                    "type": "string",
                    "description": "A unique ID that identifies the end user in your system. This ID is used to correlate requests by a user with multiple Items. Personally identifiable information, such as an email address or phone number, should not be used in the `client_user_id`."
                  },
                  "is_recurring": {
                    "type": "boolean",
                    "description": "Use `true` if the ACH transaction is a part of recurring schedule (for example, a monthly repayment); `false` otherwise ",
                    "nullable": true
                  },
                  "default_payment_method": {
                    "type": "string",
                    "description": "The default ACH payment method to complete the transaction.\n`SAME_DAY_ACH`: Same Day ACH by NACHA. The debit transaction is processed and settled on the same day\n`STANDARD_ACH`: standard ACH by NACHA\n`MULTIPLE_PAYMENT_METHODS`: if there is no default debit rail or there are multiple payment methods\nPossible values:  `SAME_DAY_ACH`, `STANDARD_ACH`, `MULTIPLE_PAYMENT_METHODS`",
                    "nullable": true
                  },
                  "user": {
                    "title": "SignalUser",
                    "type": "object",
                    "description": "Details about the end user initiating the transaction (i.e., the account holder). When calling `/signal/evaluate` or `/signal/processor/evaluate`, this field is optional, but strongly recommended to increase the accuracy of Signal results.",
                    "properties": {
                      "name": {
                        "title": "SignalPersonName",
                        "type": "object",
                        "description": "The user's legal name",
                        "nullable": true,
                        "properties": {
                          "prefix": {
                            "type": "string",
                            "description": "The user's name prefix (e.g. \"Mr.\")",
                            "nullable": true
                          },
                          "given_name": {
                            "type": "string",
                            "description": "The user's given name. If the user has a one-word name, it should be provided in this field.",
                            "nullable": true
                          },
                          "middle_name": {
                            "type": "string",
                            "description": "The user's middle name",
                            "nullable": true
                          },
                          "family_name": {
                            "type": "string",
                            "description": "The user's family name / surname",
                            "nullable": true
                          },
                          "suffix": {
                            "type": "string",
                            "description": "The user's name suffix (e.g. \"II\")",
                            "nullable": true
                          }
                        }
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "The user's phone number, in E.164 format: +{countrycode}{number}. For example: \"+14151234567\"",
                        "nullable": true
                      },
                      "email_address": {
                        "type": "string",
                        "description": "The user's email address.",
                        "nullable": true
                      },
                      "address": {
                        "title": "AddressData",
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true,
                        "description": "Data about the components comprising an address.",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "The full city name"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region or state\nExample: `\"NC\"`",
                            "nullable": true
                          },
                          "street": {
                            "type": "string",
                            "description": "The full street address\nExample: `\"564 Main Street, APT 15\"`"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code",
                            "nullable": true
                          },
                          "country": {
                            "type": "string",
                            "description": "The ISO 3166-1 alpha-2 country code",
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "device": {
                    "title": "SignalEvaluateDevice",
                    "type": "object",
                    "description": "Details about the end user's device. When calling `/signal/evaluate` or `/signal/processor/evaluate`, this field is optional, but strongly recommended to increase the accuracy of Signal results.",
                    "properties": {
                      "ip_address": {
                        "type": "string",
                        "description": "The IP address of the device that initiated the transaction",
                        "nullable": true
                      },
                      "user_agent": {
                        "type": "string",
                        "description": "The user agent of the device that initiated the transaction (e.g. \"Mozilla/5.0\")",
                        "nullable": true
                      }
                    }
                  },
                  "risk_profile_key": {
                    "deprecated": true,
                    "x-hidden-from-docs": true,
                    "type": "string",
                    "description": "Specifying `risk_profile_key` is deprecated. Please provide `ruleset` instead.",
                    "nullable": true
                  },
                  "ruleset_key": {
                    "type": "string",
                    "description": "The key of the ruleset to use for evaluating this transaction. You can configure a ruleset using the Signal dashboard located within the Plaid Dashboard. If not provided, no ruleset will be used.",
                    "nullable": true
                  }
                },
                "required": [
                  "access_token",
                  "account_id",
                  "client_transaction_id",
                  "amount"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/signal/evaluate"
          }
        }
      }
    },
    "/signal/decision/report": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Report whether you initiated an ACH transaction",
        "externalDocs": {
          "url": "/api/products/signal#signaldecisionreport"
        },
        "operationId": "signalDecisionReport",
        "description": "After calling `/signal/evaluate`, call `/signal/decision/report` to report whether the transaction was initiated.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SignalDecisionReportResponse",
                  "description": "",
                  "additionalProperties": true,
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SignalDecisionReportRequest",
                "description": "",
                "type": "object",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "client_transaction_id": {
                    "type": "string",
                    "description": "Must be the same as the `client_transaction_id` supplied when calling `/signal/evaluate`",
                    "minLength": 1,
                    "maxLength": 36
                  },
                  "initiated": {
                    "type": "boolean",
                    "description": "`true` if the ACH transaction was initiated, `false` otherwise.\n\nThis field must be returned as a boolean. If formatted incorrectly, this will result in an [`INVALID_FIELD`](https://plaid.com/docs/errors/invalid-request/#invalid_field) error."
                  },
                  "days_funds_on_hold": {
                    "type": "integer",
                    "description": "The actual number of days (hold time) since the ACH debit transaction that you wait before making funds available to your customers. The holding time could affect the ACH return rate.\n\nFor example, use 0 if you make funds available to your customers instantly or the same day following the debit transaction, or 1 if you make funds available the next day following the debit initialization.",
                    "minimum": 0,
                    "nullable": true
                  },
                  "decision_outcome": {
                    "type": "string",
                    "enum": [
                      "APPROVE",
                      "REVIEW",
                      "REJECT",
                      "TAKE_OTHER_RISK_MEASURES",
                      "NOT_EVALUATED"
                    ],
                    "description": "The payment decision from the risk assessment.\n\n`APPROVE`: approve the transaction without requiring further actions from your customers. For example, use this field if you are placing a standard hold for all the approved transactions before making funds available to your customers. You should also use this field if you decide to accelerate the fund availability for your customers.\n\n`REVIEW`: the transaction requires manual review\n\n`REJECT`: reject the transaction\n\n`TAKE_OTHER_RISK_MEASURES`: for example, placing a longer hold on funds than those approved transactions or introducing customer frictions such as step-up verification/authentication\n\n`NOT_EVALUATED`: if only logging the Signal results without using them\n",
                    "nullable": true
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "SAME_DAY_ACH",
                      "NEXT_DAY_ACH",
                      "STANDARD_ACH",
                      "MULTIPLE_PAYMENT_METHODS",
                      null
                    ],
                    "x-override-enum-values-shown": [
                      "SAME_DAY_ACH",
                      "STANDARD_ACH",
                      "MULTIPLE_PAYMENT_METHODS"
                    ],
                    "description": "The payment method to complete the transaction after the risk assessment. It may be different from the default payment method.\n\n`SAME_DAY_ACH`: Same Day ACH by NACHA. The debit transaction is processed and settled on the same day\n\n`STANDARD_ACH`: Standard ACH by NACHA\n\n`MULTIPLE_PAYMENT_METHODS`: if there is no default debit rail or there are multiple payment methods\n",
                    "nullable": true
                  },
                  "amount_instantly_available": {
                    "type": "number",
                    "format": "double",
                    "description": "The amount (in USD) made available to your customers instantly following the debit transaction. It could be a partial amount of the requested transaction (example: 102.05).",
                    "nullable": true
                  },
                  "submitted_at": {
                    "x-hidden-from-docs": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The date the ACH debit was submitted to the bank for processing (in ISO 8601 format: `YYYY-MM-DDTHH:mm:ssZ`). This field should correspond to the attempt initiated after the `/signal/schedule` call."
                  }
                },
                "required": [
                  "client_transaction_id",
                  "initiated"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/signal/decision/report"
          }
        }
      }
    },
    "/signal/return/report": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Report a return for an ACH transaction",
        "externalDocs": {
          "url": "/api/products/signal#signalreturnreport"
        },
        "operationId": "signalReturnReport",
        "description": "Call the `/signal/return/report` endpoint to report a returned transaction that was previously sent to the `/signal/evaluate` endpoint. Your feedback will be used by the model to incorporate the latest risk trend in your portfolio.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SignalReturnReportResponse",
                  "description": "",
                  "additionalProperties": true,
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SignalReturnReportRequest",
                "description": "",
                "type": "object",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "client_transaction_id": {
                    "type": "string",
                    "description": "Must be the same as the `client_transaction_id` supplied when calling `/signal/evaluate` or `/accounts/balance/get`.",
                    "minLength": 1,
                    "maxLength": 36
                  },
                  "return_code": {
                    "type": "string",
                    "description": "Must be a valid ACH return code (e.g. \"R01\")\n\nIf formatted incorrectly, this will result in an [`INVALID_FIELD`](https://plaid.com/docs/errors/invalid-request/#invalid_field) error."
                  },
                  "returned_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time when you receive the returns from your payment processors, in ISO 8601 format (`YYYY-MM-DDTHH:mm:ssZ`).",
                    "nullable": true
                  }
                },
                "required": [
                  "client_transaction_id",
                  "return_code"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/signal/return/report"
          }
        }
      }
    },
    "/signal/prepare": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Opt-in an Item to Signal",
        "externalDocs": {
          "url": "/api/products/signal#signalprepare"
        },
        "operationId": "signalPrepare",
        "description": "When an Item is not initialized with Signal, call `/signal/prepare` to opt-in that Item to the Signal data collection process, developing a Signal score. This should be done on Items where Signal was added in the `additional_consented_products` array but not in the `products`, `optional_products`, or `required_if_supported_products` array. If `/signal/prepare` is skipped on an Item that is not initialized with Signal, the initial call to `/signal/evaluate` on that Item will be less accurate, because Signal will have access to less data for computing the Signal score.\n\nIf run on an Item that is already initialized with Signal, this endpoint will return a 200 response and will not modify the Item.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SignalPrepareResponse",
                  "description": "",
                  "additionalProperties": true,
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "title": "RequestID",
                      "type": "string",
                      "description": "A unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive."
                    }
                  },
                  "required": [
                    "request_id"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "request_id": "mdqfuVxeoza6mhu"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "SignalPrepareRequest",
                "description": "",
                "type": "object",
                "properties": {
                  "client_id": {
                    "title": "ClientID",
                    "type": "string",
                    "description": "Your Plaid API `client_id`. The `client_id` is required and may be provided either in the `PLAID-CLIENT-ID` header or as part of a request body."
                  },
                  "secret": {
                    "title": "APISecret",
                    "type": "string",
                    "description": "Your Plaid API `secret`. The `secret` is required and may be provided either in the `PLAID-SECRET` header or as part of a request body."
                  },
                  "access_token": {
                    "title": "AccessToken",
                    "type": "string",
                    "description": "The access token associated with the Item data is being requested for."
                  }
                },
                "required": [
                  "access_token"
                ]
              }
            }
          }
        },
        "x-mint": {
          "metadata": {
            "title": "/signal/prepare"
          }
        }
      }
    }
  }
}